{
  "openapi": "3.1.0",
  "info": {
    "title": "core-api",
    "version": "1.0",
    "description": "To get auth_key please log in to https://console.unmarshal.io"
  },
  "servers": [
    {
      "url": "https://api.unmarshal.com",
      "description": "Prod"
    }
  ],
  "paths": {
    "/v1/{chain}/address/{address}/assets": {
      "parameters": [
        {
          "$ref": "#/components/parameters/chain"
        },
        {
          "$ref": "#/components/parameters/address"
        }
      ],
      "get": {
        "summary": "Token Balances",
        "tags": ["Wallet APIs"],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Assets"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "operationId": "get-v1-chain-address-address-assets",
        "parameters": [],
        "description": "This endpoint allows you to retrieve balance tied to a particular address on a specific chain.The response of this API will let you understand in details about all your assets."
      }
    },
    "/v1/{chain}/address/{address}/transactions": {
      "parameters": [
        {
          "$ref": "#/components/parameters/chain"
        },
        {
          "$ref": "#/components/parameters/address"
        }
      ],
      "get": {
        "summary": "Transaction History V1",
        "tags": ["Wallet APIs"],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Transactions"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "operationId": "get-v1-chain-address-address-transactions",
        "parameters": [
          {
            "$ref": "#/components/parameters/pageNo"
          },
          {
            "$ref": "#/components/parameters/pageSize"
          },
          {
            "$ref": "#/components/parameters/contract"
          }
        ],
        "description": "**The token transactions API fetches the list of all transactions in wallet address**\n\nOur Bank statements often let us understand the financial positions of a bank account. Similarly for a Crypto wallet , the transactions gives the wallet holder a detailed analysis of the inbound and out bound transfers thereby keeping the wallet apprised of all the happenings in their wallet. \n\nUnmarshal Transaction APIs are smart enough to differentiate the kind of operation a particular transaction was made for. It will let a user understand if the transaction was  was for a send or receive or the amount was staked or un-staked , or if the transactions was for adding or removing liquidity ."
      }
    },
    "/v2/{chain}/address/{address}/transactions": {
      "parameters": [
        {
          "name": "chain",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "default": "bsc",
            "enum": [
              "bsc",
              "matic",
              "ethereum"
            ],
            "example": "bsc"
          },
          "description": "Chain name (example: bsc, ethereum, matic...)"
        },
        {
          "name": "address",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "default": "demo.eth",
            "example": "0xfc43f5f9dd45258b3aff31bdbe6561d97e8b71de"
          },
          "description": "Any valid address or ENS"
        }
      ],
      "get": {
        "summary": "Transaction History V2",
        "tags": ["Wallet APIs"],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Transactions-V2"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "operationId": "get-v2-chain-address-address-transactions",
        "parameters": [
          {
            "$ref": "#/components/parameters/pageNo"
          },
          {
            "$ref": "#/components/parameters/pageSize"
          },
          {
            "$ref": "#/components/parameters/contract"
          }
        ],
        "description": "**The token transactions API fetches the list of all transactions in wallet address**\n\nOur Bank statements often let us understand the financial positions of a bank account. Similarly for a Crypto wallet, the transactions gives the wallet holder a detailed analysis of the inbound and out bound transfers thereby keeping the wallet apprised of all the happenings in their wallet. \n\nUnmarshal Transaction APIs are smart enough to differentiate the kind of operation a particular transaction was made for. It will let a user understand if the transaction was  was for a send or receive or the amount was staked or un-staked , or if the transactions was for adding or removing liquidity .\n\n"
      }
    },
    "/v1/{chain}/transactions/{transactionHash}": {
      "parameters": [
        {
          "name": "chain",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "example": "bsc",
            "enum": [
              "ethereum",
              "bsc",
              "matic",
              "xinfin",
              "zilliqa",
              "heco"
            ]
          },
          "description": "Chain name (example: bsc, ethereum, matic...)"
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "transactionHash",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Transaction Details",
        "tags": ["Wallet APIs"],
        "responses": {
          "200": {
            "$ref": "#/components/responses/TransactionDetails"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "operationId": "Transaction Details",
        "parameters": [],
        "description": "The transaction detail API is one such End Point which gives as much details possible for a specific transaction on a specific given chain.\n\n \nAll we need is the transaction hash and the entire history of the transaction is presented to anyone looking for all minor details pertaining to the particular transaction"
      }
    },
    "/v2/ethereum/address/{address}/userData": {
      "get": {
        "summary": "Profit and Loss",
        "tags": ["Wallet APIs"],
        "responses": {
          "200": {
            "$ref": "#/components/responses/UserData"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "operationId": "get-Profit-and-Loss",
        "parameters": [
          {
            "in": "query",
            "name": "contract",
            "description": "Valid contract address",
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {}
              }
            }
          },
          "description": ""
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/address"
        }
      ]
    }
  },
  "components": {
    "schemas": {
      "Asset": {
        "description": "",
        "type": "object",
        "x-examples": {
          "example-1": {
            "contract_name": "Tether USD",
            "contract_ticker_symbol": "USDT",
            "contract_decimals": 6,
            "contract_address": "0xdac17f958d2ee523a2206206994597c13d831ec7",
            "coin": 60,
            "type": "ERC20",
            "balance": "6510901690",
            "quote": 6510.3677960614195,
            "quote_rate": 0.999918,
            "logo_url": "https://assets.unmarshal.io/tokens/0xdAC17F958D2ee523a2206206994597C13D831ec7.png",
            "quote_rate_24h": "-0.001261133398",
            "quote_pct_change_24h": -0.12596
          }
        },
        "properties": {
          "contract_name": {
            "type": "string"
          },
          "contract_ticker_symbol": {
            "type": "string"
          },
          "contract_decimals": {
            "type": "number"
          },
          "contract_address": {
            "type": "string"
          },
          "coin": {
            "type": "number"
          },
          "type": {
            "type": "string"
          },
          "balance": {
            "type": "string"
          },
          "quote": {
            "type": "number"
          },
          "quote_rate": {
            "type": "number"
          },
          "logo_url": {
            "type": "string"
          },
          "quote_rate_24h": {
            "type": "string"
          },
          "quote_pct_change_24h": {
            "type": "number"
          }
        },
        "examples": [
          {
            "contract_name": "Tether USD",
            "contract_ticker_symbol": "USDT",
            "contract_decimals": 6,
            "contract_address": "0xdac17f958d2ee523a2206206994597c13d831ec7",
            "coin": 60,
            "type": "ERC20",
            "balance": "6510901690",
            "quote": 6510.90169,
            "quote_rate": 1,
            "logo_url": "https://assets.unmarshal.io/tokens/0xdAC17F958D2ee523a2206206994597C13D831ec7.png",
            "quote_rate_24h": "-0.001800703559",
            "quote_pct_change_24h": -0.17958
          }
        ],
        "x-extension-2": null
      },
      "Transaction": {
        "description": "",
        "type": "object",
        "x-examples": {
          "example-1": {
            "id": "0x791ae5b7b88c16b08b6bf495398361cb7d159565d0b47fd0e4bf01ea20590e0f",
            "from": "0xfc43f5f9dd45258b3aff31bdbe6561d97e8b71de",
            "to": "0x0e09fabb73bd3ade0a17ecc321fd13a19e81ce82",
            "fee": "844170000000000",
            "date": 1637062591,
            "status": "completed",
            "type": "approve",
            "block": 12695519,
            "value": "0",
            "nonce": 253,
            "description": "Approved Cake",
            "sent": [
              {
                "name": "PancakeSwap Token",
                "symbol": "Cake",
                "token_id": "0x0e09fabb73bd3ade0a17ecc321fd13a19e81ce82",
                "decimals": 18,
                "value": "",
                "quoteRate": 588.572102363127,
                "logo_url": "https://assets.unmarshal.io/tokens/0x0E09FaBB73Bd3Ade0a17ECC321fD13a19e81cE82.png",
                "from": "0xfc43f5f9dd45258b3aff31bdbe6561d97e8b71de",
                "to": "0x0e09fabb73bd3ade0a17ecc321fd13a19e81ce82"
              }
            ],
            "received": [
              {
                "name": "Pancake LPs",
                "symbol": "Cake-LP",
                "token_id": "0xf23bad605e94de0e3b60c9718a43a94a5af43915",
                "decimals": 18,
                "value": "448567485887273384",
                "logo_url": "https://assets.unmarshal.io/tokens/0xF23BAD605E94dE0e3B60c9718a43A94A5aF43915.png",
                "from": "0x4cfeb7cb8a854c69d9b796b4ab624c3f1051917a",
                "to": "0xfc43f5f9dd45258b3aff31bdbe6561d97e8b71de"
              },
              {
                "name": "PancakeSwap Token",
                "symbol": "Cake",
                "token_id": "0x0e09fabb73bd3ade0a17ecc321fd13a19e81ce82",
                "decimals": 18,
                "value": "6817696867068044",
                "quoteRate": 15.38,
                "logo_url": "https://assets.unmarshal.io/tokens/0x0E09FaBB73Bd3Ade0a17ECC321fD13a19e81cE82.png",
                "from": "0x88152382cfba5c98a8c281c8aab05b7a1c69d090",
                "to": "0xfc43f5f9dd45258b3aff31bdbe6561d97e8b71de"
              }
            ],
            "others": [
              {
                "name": "PancakeSwap Token",
                "symbol": "Cake",
                "token_id": "0x0e09fabb73bd3ade0a17ecc321fd13a19e81ce82",
                "decimals": 18,
                "value": "321920952685688846",
                "quoteRate": 15.38,
                "logo_url": "https://assets.unmarshal.io/tokens/0x0E09FaBB73Bd3Ade0a17ECC321fD13a19e81cE82.png",
                "from": "0x0000000000000000000000000000000000000000",
                "to": "0xceba60280fb0ecd9a5a26a1552b90944770a4a0e"
              },
              {
                "name": "PancakeSwap Token",
                "symbol": "Cake",
                "token_id": "0x0e09fabb73bd3ade0a17ecc321fd13a19e81ce82",
                "decimals": 18,
                "value": "4138176711369609559",
                "quoteRate": 15.38,
                "logo_url": "https://assets.unmarshal.io/tokens/0x0E09FaBB73Bd3Ade0a17ECC321fD13a19e81cE82.png",
                "from": "0x009cf7bc57584b7998236eff51b98a168dcea9b0",
                "to": "0x08cb1fef6649e4bf3558178329de925ec8db6210"
              },
              {
                "name": "PancakeSwap Token",
                "symbol": "Cake",
                "token_id": "0x0e09fabb73bd3ade0a17ecc321fd13a19e81ce82",
                "decimals": 18,
                "value": "3219209526856888468",
                "quoteRate": 15.38,
                "logo_url": "https://assets.unmarshal.io/tokens/0x0E09FaBB73Bd3Ade0a17ECC321fD13a19e81cE82.png",
                "from": "0x0000000000000000000000000000000000000000",
                "to": "0x009cf7bc57584b7998236eff51b98a168dcea9b0"
              },
              {
                "name": "Pancake LPs",
                "symbol": "Cake-LP",
                "token_id": "0xf23bad605e94de0e3b60c9718a43a94a5af43915",
                "decimals": 18,
                "value": "523728740395827718",
                "logo_url": "https://assets.unmarshal.io/tokens/0xF23BAD605E94dE0e3B60c9718a43A94A5aF43915.png",
                "from": "0x08cb1fef6649e4bf3558178329de925ec8db6210",
                "to": "0x73feaa1ee314f8c655e354234017be2193c9e24e"
              },
              {
                "name": "Hot Yield HOTCROSS-BNB PCS V2",
                "symbol": "HY-HOTCROSS-BNB-PCS-V2",
                "token_id": "0x9bff65a94c56f7173406f9b417b2bb81bf233965",
                "decimals": 18,
                "value": "522412834863199063",
                "logo_url": "https://assets.unmarshal.io/tokens/0x9Bff65A94C56F7173406f9B417B2Bb81bf233965.png",
                "from": "0x0000000000000000000000000000000000000000",
                "to": "0xfc43f5f9dd45258b3aff31bdbe6561d97e8b71de"
              }
            ]
          }
        },
        "properties": {
          "id": {
            "type": "string"
          },
          "from": {
            "type": "string"
          },
          "to": {
            "type": "string"
          },
          "fee": {
            "type": "string"
          },
          "date": {
            "type": "number"
          },
          "status": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "block": {
            "type": "number"
          },
          "value": {
            "type": "string"
          },
          "nonce": {
            "type": "number"
          },
          "description": {
            "type": "string"
          },
          "sent": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Transfer"
            }
          },
          "received": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Transfer"
            }
          },
          "others": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Transfer"
            }
          }
        }
      },
      "Transaction-V2": {
        "description": "",
        "type": "object",
        "x-examples": {
          "example-1": {
            "id": "0x791ae5b7b88c16b08b6bf495398361cb7d159565d0b47fd0e4bf01ea20590e0f",
            "from": "0xfc43f5f9dd45258b3aff31bdbe6561d97e8b71de",
            "to": "0x0e09fabb73bd3ade0a17ecc321fd13a19e81ce82",
            "fee": "844170000000000",
            "date": 1637062591,
            "status": "completed",
            "type": "approve",
            "block": 12695519,
            "value": "0",
            "nonce": 253,
            "description": "Approved Cake",
            "sent": [
              {
                "name": "PancakeSwap Token",
                "symbol": "Cake",
                "token_id": "0x0e09fabb73bd3ade0a17ecc321fd13a19e81ce82",
                "decimals": 18,
                "value": "",
                "quoteRate": 588.572102363127,
                "logo_url": "https://assets.unmarshal.io/tokens/0x0E09FaBB73Bd3Ade0a17ECC321fD13a19e81cE82.png",
                "from": "0xfc43f5f9dd45258b3aff31bdbe6561d97e8b71de",
                "to": "0x0e09fabb73bd3ade0a17ecc321fd13a19e81ce82"
              }
            ],
            "received": [
              {
                "name": "Pancake LPs",
                "symbol": "Cake-LP",
                "token_id": "0xf23bad605e94de0e3b60c9718a43a94a5af43915",
                "decimals": 18,
                "value": "448567485887273384",
                "logo_url": "https://assets.unmarshal.io/tokens/0xF23BAD605E94dE0e3B60c9718a43A94A5aF43915.png",
                "from": "0x4cfeb7cb8a854c69d9b796b4ab624c3f1051917a",
                "to": "0xfc43f5f9dd45258b3aff31bdbe6561d97e8b71de"
              },
              {
                "name": "PancakeSwap Token",
                "symbol": "Cake",
                "token_id": "0x0e09fabb73bd3ade0a17ecc321fd13a19e81ce82",
                "decimals": 18,
                "value": "6817696867068044",
                "quoteRate": 15.38,
                "logo_url": "https://assets.unmarshal.io/tokens/0x0E09FaBB73Bd3Ade0a17ECC321fD13a19e81cE82.png",
                "from": "0x88152382cfba5c98a8c281c8aab05b7a1c69d090",
                "to": "0xfc43f5f9dd45258b3aff31bdbe6561d97e8b71de"
              }
            ],
            "others": [
              {
                "name": "PancakeSwap Token",
                "symbol": "Cake",
                "token_id": "0x0e09fabb73bd3ade0a17ecc321fd13a19e81ce82",
                "decimals": 18,
                "value": "321920952685688846",
                "quoteRate": 15.38,
                "logo_url": "https://assets.unmarshal.io/tokens/0x0E09FaBB73Bd3Ade0a17ECC321fD13a19e81cE82.png",
                "from": "0x0000000000000000000000000000000000000000",
                "to": "0xceba60280fb0ecd9a5a26a1552b90944770a4a0e"
              },
              {
                "name": "PancakeSwap Token",
                "symbol": "Cake",
                "token_id": "0x0e09fabb73bd3ade0a17ecc321fd13a19e81ce82",
                "decimals": 18,
                "value": "4138176711369609559",
                "quoteRate": 15.38,
                "logo_url": "https://assets.unmarshal.io/tokens/0x0E09FaBB73Bd3Ade0a17ECC321fD13a19e81cE82.png",
                "from": "0x009cf7bc57584b7998236eff51b98a168dcea9b0",
                "to": "0x08cb1fef6649e4bf3558178329de925ec8db6210"
              },
              {
                "name": "PancakeSwap Token",
                "symbol": "Cake",
                "token_id": "0x0e09fabb73bd3ade0a17ecc321fd13a19e81ce82",
                "decimals": 18,
                "value": "3219209526856888468",
                "quoteRate": 15.38,
                "logo_url": "https://assets.unmarshal.io/tokens/0x0E09FaBB73Bd3Ade0a17ECC321fD13a19e81cE82.png",
                "from": "0x0000000000000000000000000000000000000000",
                "to": "0x009cf7bc57584b7998236eff51b98a168dcea9b0"
              },
              {
                "name": "Pancake LPs",
                "symbol": "Cake-LP",
                "token_id": "0xf23bad605e94de0e3b60c9718a43a94a5af43915",
                "decimals": 18,
                "value": "523728740395827718",
                "logo_url": "https://assets.unmarshal.io/tokens/0xF23BAD605E94dE0e3B60c9718a43A94A5aF43915.png",
                "from": "0x08cb1fef6649e4bf3558178329de925ec8db6210",
                "to": "0x73feaa1ee314f8c655e354234017be2193c9e24e"
              },
              {
                "name": "Hot Yield HOTCROSS-BNB PCS V2",
                "symbol": "HY-HOTCROSS-BNB-PCS-V2",
                "token_id": "0x9bff65a94c56f7173406f9b417b2bb81bf233965",
                "decimals": 18,
                "value": "522412834863199063",
                "logo_url": "https://assets.unmarshal.io/tokens/0x9Bff65A94C56F7173406f9B417B2Bb81bf233965.png",
                "from": "0x0000000000000000000000000000000000000000",
                "to": "0xfc43f5f9dd45258b3aff31bdbe6561d97e8b71de"
              }
            ]
          }
        },
        "properties": {
          "id": {
            "type": "string"
          },
          "from": {
            "type": "string"
          },
          "to": {
            "type": "string"
          },
          "fee": {
            "type": "string"
          },
          "date": {
            "type": "number"
          },
          "status": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "block": {
            "type": "number"
          },
          "value": {
            "type": "string"
          },
          "nonce": {
            "type": "number"
          },
          "description": {
            "type": "string"
          },
          "sent": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Transfer-V2"
            }
          },
          "received": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Transfer-V2"
            }
          },
          "others": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Transfer-V2"
            }
          }
        }
      },
      "Transfer": {
        "description": "",
        "type": "object",
        "x-examples": {
          "example-1": {
            "name": "PancakeSwap Token",
            "symbol": "Cake",
            "token_id": "0x0e09fabb73bd3ade0a17ecc321fd13a19e81ce82",
            "decimals": 18,
            "value": "500000000000000000",
            "quoteRate": 17.97815888361184,
            "logo_url": "https://assets.unmarshal.io/tokens/0x0E09FaBB73Bd3Ade0a17ECC321fD13a19e81cE82.png",
            "from": "0xfc43f5f9dd45258b3aff31bdbe6561d97e8b71de",
            "to": "0xfdff29dd0b4dd49bf5e991a30b8593eaa34b4580"
          }
        },
        "properties": {
          "name": {
            "type": "string"
          },
          "symbol": {
            "type": "string"
          },
          "token_id": {
            "type": "string"
          },
          "decimals": {
            "type": "number"
          },
          "value": {
            "type": "string"
          },
          "logo_url": {
            "type": "string"
          },
          "from": {
            "type": "string"
          },
          "to": {
            "type": "string"
          }
        },
        "examples": [
          {
            "name": "PancakeSwap Token",
            "symbol": "Cake",
            "token_id": "0x0e09fabb73bd3ade0a17ecc321fd13a19e81ce82",
            "decimals": 18,
            "value": "500000000000000000",
            "quoteRate": 17.97815888361184,
            "logo_url": "https://assets.unmarshal.io/tokens/0x0E09FaBB73Bd3Ade0a17ECC321fD13a19e81cE82.png",
            "from": "0xfc43f5f9dd45258b3aff31bdbe6561d97e8b71de",
            "to": "0xfdff29dd0b4dd49bf5e991a30b8593eaa34b4580"
          }
        ]
      },
      "Transfer-V2": {
        "description": "It has historic quote rate",
        "type": "object",
        "x-examples": {
          "example-1": {
            "name": "PancakeSwap Token",
            "symbol": "Cake",
            "token_id": "0x0e09fabb73bd3ade0a17ecc321fd13a19e81ce82",
            "decimals": 18,
            "value": "500000000000000000",
            "quoteRate": 17.97815888361184,
            "logo_url": "https://assets.unmarshal.io/tokens/0x0E09FaBB73Bd3Ade0a17ECC321fD13a19e81cE82.png",
            "from": "0xfc43f5f9dd45258b3aff31bdbe6561d97e8b71de",
            "to": "0xfdff29dd0b4dd49bf5e991a30b8593eaa34b4580"
          }
        },
        "properties": {
          "name": {
            "type": "string"
          },
          "symbol": {
            "type": "string"
          },
          "token_id": {
            "type": "string"
          },
          "decimals": {
            "type": "number"
          },
          "value": {
            "type": "string"
          },
          "quoteRate": {
            "type": "number"
          },
          "logo_url": {
            "type": "string"
          },
          "from": {
            "type": "string"
          },
          "to": {
            "type": "string"
          }
        },
        "title": ""
      },
      "Transaction-details": {
        "description": "",
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "from": {
            "type": "string"
          },
          "to": {
            "type": "string"
          },
          "fee": {
            "type": "string"
          },
          "date": {
            "type": "number"
          },
          "status": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "block": {
            "type": "number"
          },
          "value": {
            "type": "string"
          },
          "nonce": {
            "type": "number"
          },
          "description": {
            "type": "string"
          },
          "sent": {
            "type": "array",
            "items": {
              "required": [
                "name",
                "symbol",
                "token_id",
                "decimals",
                "value",
                "logo_url",
                "from",
                "to"
              ],
              "properties": {
                "name": {
                  "type": "string"
                },
                "symbol": {
                  "type": "string"
                },
                "token_id": {
                  "type": "string"
                },
                "decimals": {
                  "type": "number"
                },
                "value": {
                  "type": "string"
                },
                "logo_url": {
                  "type": "string"
                },
                "from": {
                  "type": "string"
                },
                "to": {
                  "type": "string"
                }
              }
            }
          }
        },
        "required": [
          "id",
          "from",
          "to",
          "fee",
          "date",
          "status",
          "type",
          "block",
          "value",
          "nonce",
          "description",
          "sent"
        ],
        "x-examples": {
          "example-1": {
            "id": "0xddce618f5f00a5b0c857b5395ab5094cf097cf4be297f7be1705b56f60d50d58",
            "from": "0x986a2fca9eda0e06fbf7839b89bfc006ee2a23dd",
            "to": "0xdac17f958d2ee523a2206206994597c13d831ec7",
            "fee": "629387850000000",
            "date": 1626025576,
            "status": "completed",
            "type": "send",
            "block": 12807446,
            "value": "0",
            "nonce": 407959,
            "description": "Sent 72.4438 USDT",
            "sent": [
              {
                "name": "Tether USD",
                "symbol": "USDT",
                "token_id": "0xdAC17F958D2ee523a2206206994597C13D831ec7",
                "decimals": 6,
                "value": "72443800",
                "logo_url": "https://assets.unmarshal.io/tokens/0xdAC17F958D2ee523a2206206994597C13D831ec7.png",
                "from": "0x986a2fca9eda0e06fbf7839b89bfc006ee2a23dd",
                "to": "0xac09b78e7fa259d3b914d74052a54ee460240f5a"
              }
            ]
          }
        }
      }
    },
    "securitySchemes": {
      "auth_key": {
        "name": "auth_key",
        "type": "apiKey",
        "in": "query",
        "description": "#### To get auth token login to https://console.unmarshal.io"
      }
    },
    "parameters": {
      "chain": {
        "name": "chain",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "example": "bsc",
          "enum": [
            "ethereum",
            "bsc",
            "matic",
            "xinfin",
            "zilliqa",
            "heco"
          ]
        },
        "description": "Chain name (example: bsc, ethereum, matic...)"
      },
      "address": {
        "name": "address",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "example": "demo.eth",
          "default": "demo.eth"
        },
        "description": "Any valid address or ENS"
      },
      "pageNo": {
        "name": "page",
        "in": "query",
        "schema": {
          "type": "number",
          "default": 1,
          "minimum": 1
        },
        "description": "Page you want to query"
      },
      "pageSize": {
        "name": "pageSize",
        "in": "query",
        "required": false,
        "schema": {
          "type": "number",
          "default": 25,
          "example": 5
        },
        "description": "Number of records to be fetched per page"
      },
      "contract": {
        "name": "contract",
        "in": "query",
        "required": false,
        "schema": {
          "type": "string"
        },
        "description": "Valid contract address"
      },
      "transactionHash": {
        "name": "transactionHash",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "default": "0x8e1337b81ff3c1a7e3796c74c9dc084566b6e043cd69968e9b1d2336cd3d8e64"
        },
        "description": "Any valid transaction hash"
      }
    },
    "responses": {
      "Assets": {
        "description": "",
        "content": {
          "application/json": {
            "schema": {
              "type": "array",
              "description": "",
              "x-examples": {
                "example-1": [
                  {
                    "contract_name": "BNB",
                    "contract_ticker_symbol": "BNB",
                    "contract_decimals": 18,
                    "contract_address": "0xb8c77482e45f1f44de1745f52c74426c631bdd52",
                    "coin": 60,
                    "type": "ERC20",
                    "balance": "1000107409683556863",
                    "quote": 0,
                    "quote_rate": 0,
                    "logo_url": "https://assets.unmarshal.io/tokens/0xB8c77482e45F1F44dE1745F52C74426C631bDD52.png",
                    "quote_rate_24h": "0",
                    "quote_pct_change_24h": 0
                  },
                  {
                    "contract_name": "string",
                    "contract_ticker_symbol": "string",
                    "contract_decimals": 0,
                    "contract_address": "string",
                    "coin": 0,
                    "type": "string",
                    "balance": "string",
                    "quote": 0,
                    "quote_rate": 0,
                    "logo_url": "string",
                    "quote_rate_24h": "string",
                    "quote_pct_change_24h": 0
                  },
                  {
                    "contract_name": "Ethereum",
                    "contract_ticker_symbol": "ETH",
                    "contract_decimals": 18,
                    "contract_address": "0xeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee",
                    "coin": 60,
                    "type": "ERC20",
                    "balance": "1030533275139623654",
                    "quote": 4417.751875865047,
                    "quote_rate": 4286.86,
                    "logo_url": "https://assets.unmarshal.io/tokens/0xEeeeeEeeeEeEeeEeEeEeeEEEeeeeEeeeeeeeEEeE.png",
                    "quote_rate_24h": "6.33",
                    "quote_pct_change_24h": 0.14783
                  }
                ]
              },
              "items": {
                "$ref": "#/components/schemas/Asset"
              }
            },
            "examples": {
              "demo.eth": {
                "value": [
                  {
                    "contract_name": "BNB",
                    "contract_ticker_symbol": "BNB",
                    "contract_decimals": 18,
                    "contract_address": "0xb8c77482e45f1f44de1745f52c74426c631bdd52",
                    "coin": 60,
                    "type": "ERC20",
                    "balance": "1000107409683556863",
                    "quote": 0,
                    "quote_rate": 0,
                    "logo_url": "https://assets.unmarshal.io/tokens/0xB8c77482e45F1F44dE1745F52C74426C631bDD52.png",
                    "quote_rate_24h": "0",
                    "quote_pct_change_24h": 0
                  },
                  {
                    "contract_name": "string",
                    "contract_ticker_symbol": "string",
                    "contract_decimals": 0,
                    "contract_address": "string",
                    "coin": 0,
                    "type": "string",
                    "balance": "string",
                    "quote": 0,
                    "quote_rate": 0,
                    "logo_url": "string",
                    "quote_rate_24h": "string",
                    "quote_pct_change_24h": 0
                  },
                  {
                    "contract_name": "Ethereum",
                    "contract_ticker_symbol": "ETH",
                    "contract_decimals": 18,
                    "contract_address": "0xeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee",
                    "coin": 60,
                    "type": "ERC20",
                    "balance": "1030533275139623654",
                    "quote": 4417.751875865047,
                    "quote_rate": 4286.86,
                    "logo_url": "https://assets.unmarshal.io/tokens/0xEeeeeEeeeEeEeeEeEeEeeEEEeeeeEeeeeeeeEEeE.png",
                    "quote_rate_24h": "6.33",
                    "quote_pct_change_24h": 0.14783
                  }
                ]
              }
            }
          }
        }
      },
      "Unauthorized": {
        "description": "",
        "content": {
          "application/json": {
            "schema": {
              "description": "",
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "message"
              ],
              "x-examples": {
                "example-1": {
                  "message": "Unauthorized"
                }
              }
            },
            "examples": {
              "example-1": {
                "value": {
                  "message": "Unauthorized"
                }
              }
            }
          }
        }
      },
      "Transactions": {
        "description": "TBD",
        "content": {
          "application/json": {
            "schema": {
              "description": "",
              "type": "object",
              "x-examples": {
                "example-1": {
                  "page": 1,
                  "total_pages": 36,
                  "items_on_page": 10,
                  "total_txs": 355,
                  "transactions": [
                    {
                      "id": "0x6122801bca28ae0b719e21096fc3bd62011d2105e7310dc1454d0952de9b27cc",
                      "from": "0xda60d0efe3a814b89654426290b138467f2ba333",
                      "to": "0x556798dd55db12562a6950ea8339a273539b0495",
                      "fee": "13347074250000000",
                      "date": 1637609501,
                      "status": "completed",
                      "type": "receive",
                      "block": 12870083,
                      "value": "0",
                      "nonce": 1061,
                      "description": "Received 82445 Def8.io and 1000 more",
                      "received": [
                        {
                          "name": "Def8.io",
                          "symbol": "Def8.io",
                          "token_id": "0x556798dd55db12562a6950ea8339a273539b0495",
                          "decimals": 18,
                          "value": "82445000000000000000000",
                          "logo_url": "https://assets.unmarshal.io/tokens/0x556798DD55Db12562A6950EA8339a273539B0495.png",
                          "from": "0x556798dd55db12562a6950ea8339a273539b0495",
                          "to": "0x979db374db763b6f775b99d4f7813b2c4044d33f"
                        },
                        {
                          "name": "Def8.io",
                          "symbol": "Def8.io",
                          "token_id": "0x556798dd55db12562a6950ea8339a273539b0495",
                          "decimals": 18,
                          "value": "82445000000000000000000",
                          "logo_url": "https://assets.unmarshal.io/tokens/0x556798DD55Db12562A6950EA8339a273539B0495.png",
                          "from": "0x556798dd55db12562a6950ea8339a273539b0495",
                          "to": "0x48b3326584c0ad51727cbc359a0d82f0d16f9595"
                        },
                        {
                          "name": "Def8.io",
                          "symbol": "Def8.io",
                          "token_id": "0x556798dd55db12562a6950ea8339a273539b0495",
                          "decimals": 18,
                          "value": "82445000000000000000000",
                          "logo_url": "https://assets.unmarshal.io/tokens/0x556798DD55Db12562A6950EA8339a273539B0495.png",
                          "from": "0x556798dd55db12562a6950ea8339a273539b0495",
                          "to": "0xde3ac990cad7e76f704da58fca67b9ba7415cfdb"
                        },
                        {
                          "name": "Def8.io",
                          "symbol": "Def8.io",
                          "token_id": "0x556798dd55db12562a6950ea8339a273539b0495",
                          "decimals": 18,
                          "value": "82445000000000000000000",
                          "logo_url": "https://assets.unmarshal.io/tokens/0x556798DD55Db12562A6950EA8339a273539B0495.png",
                          "from": "0x556798dd55db12562a6950ea8339a273539b0495",
                          "to": "0xebdf2cd92e889d4e5ea8d5043b7488cf24e6ec86"
                        },
                        {
                          "name": "Def8.io",
                          "symbol": "Def8.io",
                          "token_id": "0x556798dd55db12562a6950ea8339a273539b0495",
                          "decimals": 18,
                          "value": "82445000000000000000000",
                          "logo_url": "https://assets.unmarshal.io/tokens/0x556798DD55Db12562A6950EA8339a273539B0495.png",
                          "from": "0x556798dd55db12562a6950ea8339a273539b0495",
                          "to": "0x2cf8bb2fc99237c9d516a7ac34219cb3d57ad732"
                        },
                        {
                          "name": "Def8.io",
                          "symbol": "Def8.io",
                          "token_id": "0x556798dd55db12562a6950ea8339a273539b0495",
                          "decimals": 18,
                          "value": "82445000000000000000000",
                          "logo_url": "https://assets.unmarshal.io/tokens/0x556798DD55Db12562A6950EA8339a273539B0495.png",
                          "from": "0x556798dd55db12562a6950ea8339a273539b0495",
                          "to": "0x649b15ce12a5142a2e0d54e7ea9586b316bf1b52"
                        },
                        {
                          "name": "Def8.io",
                          "symbol": "Def8.io",
                          "token_id": "0x556798dd55db12562a6950ea8339a273539b0495",
                          "decimals": 18,
                          "value": "82445000000000000000000",
                          "logo_url": "https://assets.unmarshal.io/tokens/0x556798DD55Db12562A6950EA8339a273539B0495.png",
                          "from": "0x556798dd55db12562a6950ea8339a273539b0495",
                          "to": "0x072186b526c4c0d759d72f4fab3a641d13d15fa9"
                        },
                        {
                          "name": "Def8.io",
                          "symbol": "Def8.io",
                          "token_id": "0x556798dd55db12562a6950ea8339a273539b0495",
                          "decimals": 18,
                          "value": "82445000000000000000000",
                          "logo_url": "https://assets.unmarshal.io/tokens/0x556798DD55Db12562A6950EA8339a273539B0495.png",
                          "from": "0x556798dd55db12562a6950ea8339a273539b0495",
                          "to": "0x4396ea63e69d5c38643680f0a2ee548f7a4a148a"
                        },
                        {
                          "name": "Def8.io",
                          "symbol": "Def8.io",
                          "token_id": "0x556798dd55db12562a6950ea8339a273539b0495",
                          "decimals": 18,
                          "value": "82445000000000000000000",
                          "logo_url": "https://assets.unmarshal.io/tokens/0x556798DD55Db12562A6950EA8339a273539B0495.png",
                          "from": "0x556798dd55db12562a6950ea8339a273539b0495",
                          "to": "0x234356a188694abff3a23261fe66231391ce1d44"
                        },
                        {
                          "name": "Def8.io",
                          "symbol": "Def8.io",
                          "token_id": "0x556798dd55db12562a6950ea8339a273539b0495",
                          "decimals": 18,
                          "value": "82445000000000000000000",
                          "logo_url": "https://assets.unmarshal.io/tokens/0x556798DD55Db12562A6950EA8339a273539B0495.png",
                          "from": "0x556798dd55db12562a6950ea8339a273539b0495",
                          "to": "0xfc4402ddf5aa8345bab52ec5500f94ee806c4a3a"
                        },
                        {
                          "name": "Def8.io",
                          "symbol": "Def8.io",
                          "token_id": "0x556798dd55db12562a6950ea8339a273539b0495",
                          "decimals": 18,
                          "value": "82445000000000000000000",
                          "logo_url": "https://assets.unmarshal.io/tokens/0x556798DD55Db12562A6950EA8339a273539B0495.png",
                          "from": "0x556798dd55db12562a6950ea8339a273539b0495",
                          "to": "0x16805a9738850f5b5bdd8d80da57aa6c05868f8c"
                        },
                        {
                          "name": "Def8.io",
                          "symbol": "Def8.io",
                          "token_id": "0x556798dd55db12562a6950ea8339a273539b0495",
                          "decimals": 18,
                          "value": "82445000000000000000000",
                          "logo_url": "https://assets.unmarshal.io/tokens/0x556798DD55Db12562A6950EA8339a273539B0495.png",
                          "from": "0x556798dd55db12562a6950ea8339a273539b0495",
                          "to": "0x06cfa576c330b98157b00ddc387d5edbe7e91ebd"
                        },
                        {
                          "name": "Def8.io",
                          "symbol": "Def8.io",
                          "token_id": "0x556798dd55db12562a6950ea8339a273539b0495",
                          "decimals": 18,
                          "value": "82445000000000000000000",
                          "logo_url": "https://assets.unmarshal.io/tokens/0x556798DD55Db12562A6950EA8339a273539B0495.png",
                          "from": "0x556798dd55db12562a6950ea8339a273539b0495",
                          "to": "0x93dd77cd83436ac7b9826bfc88631a18b6e8042d"
                        },
                        {
                          "name": "Def8.io",
                          "symbol": "Def8.io",
                          "token_id": "0x556798dd55db12562a6950ea8339a273539b0495",
                          "decimals": 18,
                          "value": "82445000000000000000000",
                          "logo_url": "https://assets.unmarshal.io/tokens/0x556798DD55Db12562A6950EA8339a273539B0495.png",
                          "from": "0x556798dd55db12562a6950ea8339a273539b0495",
                          "to": "0x7714e934b1df07c3ab5735b4ab67e0faa580827f"
                        },
                        {
                          "name": "Def8.io",
                          "symbol": "Def8.io",
                          "token_id": "0x556798dd55db12562a6950ea8339a273539b0495",
                          "decimals": 18,
                          "value": "82445000000000000000000",
                          "logo_url": "https://assets.unmarshal.io/tokens/0x556798DD55Db12562A6950EA8339a273539B0495.png",
                          "from": "0x556798dd55db12562a6950ea8339a273539b0495",
                          "to": "0x53fd8330cd567d167979aba7da6f1b90786a29cb"
                        },
                        {
                          "name": "Def8.io",
                          "symbol": "Def8.io",
                          "token_id": "0x556798dd55db12562a6950ea8339a273539b0495",
                          "decimals": 18,
                          "value": "82445000000000000000000",
                          "logo_url": "https://assets.unmarshal.io/tokens/0x556798DD55Db12562A6950EA8339a273539B0495.png",
                          "from": "0x556798dd55db12562a6950ea8339a273539b0495",
                          "to": "0xe7ab9c83f28c0ddab1de229f34ac58862df79cff"
                        },
                        {
                          "name": "Def8.io",
                          "symbol": "Def8.io",
                          "token_id": "0x556798dd55db12562a6950ea8339a273539b0495",
                          "decimals": 18,
                          "value": "82445000000000000000000",
                          "logo_url": "https://assets.unmarshal.io/tokens/0x556798DD55Db12562A6950EA8339a273539B0495.png",
                          "from": "0x556798dd55db12562a6950ea8339a273539b0495",
                          "to": "0x8aa7e2d5c4c644ac34b0e5334f14b5842ae29706"
                        },
                        {
                          "name": "Def8.io",
                          "symbol": "Def8.io",
                          "token_id": "0x556798dd55db12562a6950ea8339a273539b0495",
                          "decimals": 18,
                          "value": "82445000000000000000000",
                          "logo_url": "https://assets.unmarshal.io/tokens/0x556798DD55Db12562A6950EA8339a273539B0495.png",
                          "from": "0x556798dd55db12562a6950ea8339a273539b0495",
                          "to": "0xc74f8f5a05069f8a0239954613e200ec6fdb4384"
                        },
                        {
                          "name": "Def8.io",
                          "symbol": "Def8.io",
                          "token_id": "0x556798dd55db12562a6950ea8339a273539b0495",
                          "decimals": 18,
                          "value": "82445000000000000000000",
                          "logo_url": "https://assets.unmarshal.io/tokens/0x556798DD55Db12562A6950EA8339a273539B0495.png",
                          "from": "0x556798dd55db12562a6950ea8339a273539b0495",
                          "to": "0x9ef8bf361990b20c1b3c45f501d9e59856e14393"
                        },
                        {
                          "name": "Def8.io",
                          "symbol": "Def8.io",
                          "token_id": "0x556798dd55db12562a6950ea8339a273539b0495",
                          "decimals": 18,
                          "value": "82445000000000000000000",
                          "logo_url": "https://assets.unmarshal.io/tokens/0x556798DD55Db12562A6950EA8339a273539B0495.png",
                          "from": "0x556798dd55db12562a6950ea8339a273539b0495",
                          "to": "0x0f8d66d7bffa4c197f24e4c8f99da60e65ed9d5b"
                        },
                        {
                          "name": "Def8.io",
                          "symbol": "Def8.io",
                          "token_id": "0x556798dd55db12562a6950ea8339a273539b0495",
                          "decimals": 18,
                          "value": "82445000000000000000000",
                          "logo_url": "https://assets.unmarshal.io/tokens/0x556798DD55Db12562A6950EA8339a273539B0495.png",
                          "from": "0x556798dd55db12562a6950ea8339a273539b0495",
                          "to": "0x9c61b306b786f432b3a600e7832d9566277f8f55"
                        },
                        {
                          "name": "Def8.io",
                          "symbol": "Def8.io",
                          "token_id": "0x556798dd55db12562a6950ea8339a273539b0495",
                          "decimals": 18,
                          "value": "82445000000000000000000",
                          "logo_url": "https://assets.unmarshal.io/tokens/0x556798DD55Db12562A6950EA8339a273539B0495.png",
                          "from": "0x556798dd55db12562a6950ea8339a273539b0495",
                          "to": "0x461e92a78fc63c8614f11bb724a25cbb52e6ce87"
                        },
                        {
                          "name": "Def8.io",
                          "symbol": "Def8.io",
                          "token_id": "0x556798dd55db12562a6950ea8339a273539b0495",
                          "decimals": 18,
                          "value": "82445000000000000000000",
                          "logo_url": "https://assets.unmarshal.io/tokens/0x556798DD55Db12562A6950EA8339a273539B0495.png",
                          "from": "0x556798dd55db12562a6950ea8339a273539b0495",
                          "to": "0xe342c338e326c5732da05184066942617f6cfa12"
                        },
                        {
                          "name": "Def8.io",
                          "symbol": "Def8.io",
                          "token_id": "0x556798dd55db12562a6950ea8339a273539b0495",
                          "decimals": 18,
                          "value": "82445000000000000000000",
                          "logo_url": "https://assets.unmarshal.io/tokens/0x556798DD55Db12562A6950EA8339a273539B0495.png",
                          "from": "0x556798dd55db12562a6950ea8339a273539b0495",
                          "to": "0x0c838cbc3a8d333ac9d606ea7c8a0b86357a6700"
                        },
                        {
                          "name": "Def8.io",
                          "symbol": "Def8.io",
                          "token_id": "0x556798dd55db12562a6950ea8339a273539b0495",
                          "decimals": 18,
                          "value": "82445000000000000000000",
                          "logo_url": "https://assets.unmarshal.io/tokens/0x556798DD55Db12562A6950EA8339a273539B0495.png",
                          "from": "0x556798dd55db12562a6950ea8339a273539b0495",
                          "to": "0xa54d8dd8b6590790fd93934b888bbafffd0e3b3f"
                        },
                        {
                          "name": "Def8.io",
                          "symbol": "Def8.io",
                          "token_id": "0x556798dd55db12562a6950ea8339a273539b0495",
                          "decimals": 18,
                          "value": "82445000000000000000000",
                          "logo_url": "https://assets.unmarshal.io/tokens/0x556798DD55Db12562A6950EA8339a273539B0495.png",
                          "from": "0x556798dd55db12562a6950ea8339a273539b0495",
                          "to": "0xb1d75913d4e175ac9cfc712b3ccceab8c06448a0"
                        },
                        {
                          "name": "Def8.io",
                          "symbol": "Def8.io",
                          "token_id": "0x556798dd55db12562a6950ea8339a273539b0495",
                          "decimals": 18,
                          "value": "82445000000000000000000",
                          "logo_url": "https://assets.unmarshal.io/tokens/0x556798DD55Db12562A6950EA8339a273539B0495.png",
                          "from": "0x556798dd55db12562a6950ea8339a273539b0495",
                          "to": "0x3926e8ea9b189b73d4bd9665c5b330d13eddb0b6"
                        },
                        {
                          "name": "Def8.io",
                          "symbol": "Def8.io",
                          "token_id": "0x556798dd55db12562a6950ea8339a273539b0495",
                          "decimals": 18,
                          "value": "82445000000000000000000",
                          "logo_url": "https://assets.unmarshal.io/tokens/0x556798DD55Db12562A6950EA8339a273539B0495.png",
                          "from": "0x556798dd55db12562a6950ea8339a273539b0495",
                          "to": "0x07634414fdc6d5e1ad0f48ee237411ffcd33a735"
                        },
                        {
                          "name": "Def8.io",
                          "symbol": "Def8.io",
                          "token_id": "0x556798dd55db12562a6950ea8339a273539b0495",
                          "decimals": 18,
                          "value": "82445000000000000000000",
                          "logo_url": "https://assets.unmarshal.io/tokens/0x556798DD55Db12562A6950EA8339a273539B0495.png",
                          "from": "0x556798dd55db12562a6950ea8339a273539b0495",
                          "to": "0xa4ad17569bdebac7dd027994d01f980fca4282e2"
                        },
                        {
                          "name": "Def8.io",
                          "symbol": "Def8.io",
                          "token_id": "0x556798dd55db12562a6950ea8339a273539b0495",
                          "decimals": 18,
                          "value": "82445000000000000000000",
                          "logo_url": "https://assets.unmarshal.io/tokens/0x556798DD55Db12562A6950EA8339a273539B0495.png",
                          "from": "0x556798dd55db12562a6950ea8339a273539b0495",
                          "to": "0x4304b7eca52e277eef62933dbdd820e3d8cd5232"
                        },
                        {
                          "name": "Def8.io",
                          "symbol": "Def8.io",
                          "token_id": "0x556798dd55db12562a6950ea8339a273539b0495",
                          "decimals": 18,
                          "value": "82445000000000000000000",
                          "logo_url": "https://assets.unmarshal.io/tokens/0x556798DD55Db12562A6950EA8339a273539B0495.png",
                          "from": "0x556798dd55db12562a6950ea8339a273539b0495",
                          "to": "0x7f387c652a4b1dbd87c3eba6c73ee440a3487707"
                        },
                        {
                          "name": "Def8.io",
                          "symbol": "Def8.io",
                          "token_id": "0x556798dd55db12562a6950ea8339a273539b0495",
                          "decimals": 18,
                          "value": "82445000000000000000000",
                          "logo_url": "https://assets.unmarshal.io/tokens/0x556798DD55Db12562A6950EA8339a273539B0495.png",
                          "from": "0x556798dd55db12562a6950ea8339a273539b0495",
                          "to": "0xe84e7008a78c608aaa73c3a4d5d56ab51fc24e79"
                        },
                        {
                          "name": "Def8.io",
                          "symbol": "Def8.io",
                          "token_id": "0x556798dd55db12562a6950ea8339a273539b0495",
                          "decimals": 18,
                          "value": "82445000000000000000000",
                          "logo_url": "https://assets.unmarshal.io/tokens/0x556798DD55Db12562A6950EA8339a273539B0495.png",
                          "from": "0x556798dd55db12562a6950ea8339a273539b0495",
                          "to": "0x2a1277463f48a4d25ff5de11ccb769e42cac3c1e"
                        },
                        {
                          "name": "Def8.io",
                          "symbol": "Def8.io",
                          "token_id": "0x556798dd55db12562a6950ea8339a273539b0495",
                          "decimals": 18,
                          "value": "82445000000000000000000",
                          "logo_url": "https://assets.unmarshal.io/tokens/0x556798DD55Db12562A6950EA8339a273539B0495.png",
                          "from": "0x556798dd55db12562a6950ea8339a273539b0495",
                          "to": "0xdab63cc2af6c11b0bd6d1c356b99c60e45d61b8f"
                        },
                        {
                          "name": "Def8.io",
                          "symbol": "Def8.io",
                          "token_id": "0x556798dd55db12562a6950ea8339a273539b0495",
                          "decimals": 18,
                          "value": "82445000000000000000000",
                          "logo_url": "https://assets.unmarshal.io/tokens/0x556798DD55Db12562A6950EA8339a273539B0495.png",
                          "from": "0x556798dd55db12562a6950ea8339a273539b0495",
                          "to": "0xd513dd8cda4265eacbca959b2fd0b276d93e9e54"
                        },
                        {
                          "name": "Def8.io",
                          "symbol": "Def8.io",
                          "token_id": "0x556798dd55db12562a6950ea8339a273539b0495",
                          "decimals": 18,
                          "value": "82445000000000000000000",
                          "logo_url": "https://assets.unmarshal.io/tokens/0x556798DD55Db12562A6950EA8339a273539B0495.png",
                          "from": "0x556798dd55db12562a6950ea8339a273539b0495",
                          "to": "0x5d2fa55029bf6b2f66966d34ec226086cc6c2607"
                        },
                        {
                          "name": "Def8.io",
                          "symbol": "Def8.io",
                          "token_id": "0x556798dd55db12562a6950ea8339a273539b0495",
                          "decimals": 18,
                          "value": "82445000000000000000000",
                          "logo_url": "https://assets.unmarshal.io/tokens/0x556798DD55Db12562A6950EA8339a273539B0495.png",
                          "from": "0x556798dd55db12562a6950ea8339a273539b0495",
                          "to": "0x7a71d45c1c51e05c4ad3e27c39c1446bb6abb7a1"
                        },
                        {
                          "name": "Def8.io",
                          "symbol": "Def8.io",
                          "token_id": "0x556798dd55db12562a6950ea8339a273539b0495",
                          "decimals": 18,
                          "value": "82445000000000000000000",
                          "logo_url": "https://assets.unmarshal.io/tokens/0x556798DD55Db12562A6950EA8339a273539B0495.png",
                          "from": "0x556798dd55db12562a6950ea8339a273539b0495",
                          "to": "0xb51e00b6a2e3677903595ba3c05bb31ad722d3bb"
                        },
                        {
                          "name": "Def8.io",
                          "symbol": "Def8.io",
                          "token_id": "0x556798dd55db12562a6950ea8339a273539b0495",
                          "decimals": 18,
                          "value": "82445000000000000000000",
                          "logo_url": "https://assets.unmarshal.io/tokens/0x556798DD55Db12562A6950EA8339a273539B0495.png",
                          "from": "0x556798dd55db12562a6950ea8339a273539b0495",
                          "to": "0x12df25c3f1257762a2f35ba7fef4d87ee2ca2c24"
                        },
                        {
                          "name": "Def8.io",
                          "symbol": "Def8.io",
                          "token_id": "0x556798dd55db12562a6950ea8339a273539b0495",
                          "decimals": 18,
                          "value": "82445000000000000000000",
                          "logo_url": "https://assets.unmarshal.io/tokens/0x556798DD55Db12562A6950EA8339a273539B0495.png",
                          "from": "0x556798dd55db12562a6950ea8339a273539b0495",
                          "to": "0xa48f5a5a76904d7a292e5a4ea2782f86083cbd5e"
                        },
                        {
                          "name": "Def8.io",
                          "symbol": "Def8.io",
                          "token_id": "0x556798dd55db12562a6950ea8339a273539b0495",
                          "decimals": 18,
                          "value": "82445000000000000000000",
                          "logo_url": "https://assets.unmarshal.io/tokens/0x556798DD55Db12562A6950EA8339a273539B0495.png",
                          "from": "0x556798dd55db12562a6950ea8339a273539b0495",
                          "to": "0x7d37ec31e3f5d437c8b0697783464d9b2218d37b"
                        },
                        {
                          "name": "Def8.io",
                          "symbol": "Def8.io",
                          "token_id": "0x556798dd55db12562a6950ea8339a273539b0495",
                          "decimals": 18,
                          "value": "82445000000000000000000",
                          "logo_url": "https://assets.unmarshal.io/tokens/0x556798DD55Db12562A6950EA8339a273539B0495.png",
                          "from": "0x556798dd55db12562a6950ea8339a273539b0495",
                          "to": "0x074575ac71d6c9a18c72256386b217443dc66c72"
                        },
                        {
                          "name": "Def8.io",
                          "symbol": "Def8.io",
                          "token_id": "0x556798dd55db12562a6950ea8339a273539b0495",
                          "decimals": 18,
                          "value": "82445000000000000000000",
                          "logo_url": "https://assets.unmarshal.io/tokens/0x556798DD55Db12562A6950EA8339a273539B0495.png",
                          "from": "0x556798dd55db12562a6950ea8339a273539b0495",
                          "to": "0xe1bc2e52c3085c22f144cfcaaa626beab3c3fe9b"
                        },
                        {
                          "name": "Def8.io",
                          "symbol": "Def8.io",
                          "token_id": "0x556798dd55db12562a6950ea8339a273539b0495",
                          "decimals": 18,
                          "value": "82445000000000000000000",
                          "logo_url": "https://assets.unmarshal.io/tokens/0x556798DD55Db12562A6950EA8339a273539B0495.png",
                          "from": "0x556798dd55db12562a6950ea8339a273539b0495",
                          "to": "0x1a81ad2efa170b709d4b094cb19dd777e9d7e815"
                        },
                        {
                          "name": "Def8.io",
                          "symbol": "Def8.io",
                          "token_id": "0x556798dd55db12562a6950ea8339a273539b0495",
                          "decimals": 18,
                          "value": "82445000000000000000000",
                          "logo_url": "https://assets.unmarshal.io/tokens/0x556798DD55Db12562A6950EA8339a273539B0495.png",
                          "from": "0x556798dd55db12562a6950ea8339a273539b0495",
                          "to": "0xdbf63237c2f0665e06e06a81dc05a8a1ef69099c"
                        },
                        {
                          "name": "Def8.io",
                          "symbol": "Def8.io",
                          "token_id": "0x556798dd55db12562a6950ea8339a273539b0495",
                          "decimals": 18,
                          "value": "82445000000000000000000",
                          "logo_url": "https://assets.unmarshal.io/tokens/0x556798DD55Db12562A6950EA8339a273539B0495.png",
                          "from": "0x556798dd55db12562a6950ea8339a273539b0495",
                          "to": "0x624bd2f623309a7a5a003308d6ae846180b92066"
                        },
                        {
                          "name": "Def8.io",
                          "symbol": "Def8.io",
                          "token_id": "0x556798dd55db12562a6950ea8339a273539b0495",
                          "decimals": 18,
                          "value": "82445000000000000000000",
                          "logo_url": "https://assets.unmarshal.io/tokens/0x556798DD55Db12562A6950EA8339a273539B0495.png",
                          "from": "0x556798dd55db12562a6950ea8339a273539b0495",
                          "to": "0x7c5d2dcd2ba2420029ba48c5618e999dece64cc4"
                        },
                        {
                          "name": "Def8.io",
                          "symbol": "Def8.io",
                          "token_id": "0x556798dd55db12562a6950ea8339a273539b0495",
                          "decimals": 18,
                          "value": "82445000000000000000000",
                          "logo_url": "https://assets.unmarshal.io/tokens/0x556798DD55Db12562A6950EA8339a273539B0495.png",
                          "from": "0x556798dd55db12562a6950ea8339a273539b0495",
                          "to": "0x16c0a2e043ace3455945974f89e792494824a6b4"
                        },
                        {
                          "name": "Def8.io",
                          "symbol": "Def8.io",
                          "token_id": "0x556798dd55db12562a6950ea8339a273539b0495",
                          "decimals": 18,
                          "value": "82445000000000000000000",
                          "logo_url": "https://assets.unmarshal.io/tokens/0x556798DD55Db12562A6950EA8339a273539B0495.png",
                          "from": "0x556798dd55db12562a6950ea8339a273539b0495",
                          "to": "0xca0902988aea69ee56e0d21a1d43b2c2ef233ecf"
                        },
                        {
                          "name": "Def8.io",
                          "symbol": "Def8.io",
                          "token_id": "0x556798dd55db12562a6950ea8339a273539b0495",
                          "decimals": 18,
                          "value": "82445000000000000000000",
                          "logo_url": "https://assets.unmarshal.io/tokens/0x556798DD55Db12562A6950EA8339a273539B0495.png",
                          "from": "0x556798dd55db12562a6950ea8339a273539b0495",
                          "to": "0x84ba6058f9629cb64fd07e8532a90afda3b9dc3e"
                        }
                      ]
                    },
                    {
                      "id": "0x3bd3d0bc3fcc70429c4acfee9068719e7c07a30c13807aa3591e79e78c64ca6b",
                      "from": "0xfc43f5f9dd45258b3aff31bdbe6561d97e8b71de",
                      "to": "0x30f0222a1ec8eef795fe672cf4a526a6a39d57c1",
                      "fee": "603385000000000",
                      "date": 1637606035,
                      "status": "completed",
                      "type": "stake",
                      "block": 12868958,
                      "value": "0",
                      "nonce": 261,
                      "description": "Staked 0.5224 HY-HOTCROSS-BNB-PCS-V2",
                      "sent": [
                        {
                          "name": "Hot Yield HOTCROSS-BNB PCS V2",
                          "symbol": "HY-HOTCROSS-BNB-PCS-V2",
                          "token_id": "0x9bff65a94c56f7173406f9b417b2bb81bf233965",
                          "decimals": 18,
                          "value": "522412834863199063",
                          "logo_url": "https://assets.unmarshal.io/tokens/0x9Bff65A94C56F7173406f9B417B2Bb81bf233965.png",
                          "from": "0xfc43f5f9dd45258b3aff31bdbe6561d97e8b71de",
                          "to": "0x30f0222a1ec8eef795fe672cf4a526a6a39d57c1"
                        }
                      ]
                    },
                    {
                      "id": "0x01816d8b6979ab2a2638639501ea2409225443e2265f7bcf8d0400ab59bd49a8",
                      "from": "0xfc43f5f9dd45258b3aff31bdbe6561d97e8b71de",
                      "to": "0x9bff65a94c56f7173406f9b417b2bb81bf233965",
                      "fee": "239975000000000",
                      "date": 1637605883,
                      "status": "completed",
                      "type": "approve",
                      "block": 12868913,
                      "value": "0",
                      "nonce": 260,
                      "description": "Approved HY-HOTCROSS-BNB-PCS-V2",
                      "sent": [
                        {
                          "name": "Hot Yield HOTCROSS-BNB PCS V2",
                          "symbol": "HY-HOTCROSS-BNB-PCS-V2",
                          "token_id": "0x9bff65a94c56f7173406f9b417b2bb81bf233965",
                          "decimals": 18,
                          "value": "",
                          "quoteRate": 566.5265567554,
                          "logo_url": "https://assets.unmarshal.io/tokens/0x9Bff65A94C56F7173406f9B417B2Bb81bf233965.png",
                          "from": "0xfc43f5f9dd45258b3aff31bdbe6561d97e8b71de",
                          "to": "0x9bff65a94c56f7173406f9b417b2bb81bf233965"
                        }
                      ]
                    },
                    {
                      "id": "0xac64dc6da5707f57d399839af761a2305a91fde0aecf65087e6a5dcae8048dd9",
                      "from": "0xfc43f5f9dd45258b3aff31bdbe6561d97e8b71de",
                      "to": "0x9bff65a94c56f7173406f9b417b2bb81bf233965",
                      "fee": "1392680000000000",
                      "date": 1637605677,
                      "status": "completed",
                      "type": "stake",
                      "block": 12868847,
                      "value": "0",
                      "nonce": 259,
                      "description": "Staked 0.5237 Cake-LP and 0.5237 Cake-LP ",
                      "sent": [
                        {
                          "name": "Pancake LPs",
                          "symbol": "Cake-LP",
                          "token_id": "0xf23bad605e94de0e3b60c9718a43a94a5af43915",
                          "decimals": 18,
                          "value": "523728740395827718",
                          "logo_url": "https://assets.unmarshal.io/tokens/0xF23BAD605E94dE0e3B60c9718a43A94A5aF43915.png",
                          "from": "0x9bff65a94c56f7173406f9b417b2bb81bf233965",
                          "to": "0x08cb1fef6649e4bf3558178329de925ec8db6210"
                        },
                        {
                          "name": "Pancake LPs",
                          "symbol": "Cake-LP",
                          "token_id": "0xf23bad605e94de0e3b60c9718a43a94a5af43915",
                          "decimals": 18,
                          "value": "523728740395827718",
                          "logo_url": "https://assets.unmarshal.io/tokens/0xF23BAD605E94dE0e3B60c9718a43A94A5aF43915.png",
                          "from": "0xfc43f5f9dd45258b3aff31bdbe6561d97e8b71de",
                          "to": "0x9bff65a94c56f7173406f9b417b2bb81bf233965"
                        }
                      ],
                      "others": [
                        {
                          "name": "PancakeSwap Token",
                          "symbol": "Cake",
                          "token_id": "0x0e09fabb73bd3ade0a17ecc321fd13a19e81ce82",
                          "decimals": 18,
                          "value": "321920952685688846",
                          "quoteRate": 15.38,
                          "logo_url": "https://assets.unmarshal.io/tokens/0x0E09FaBB73Bd3Ade0a17ECC321fD13a19e81cE82.png",
                          "from": "0x0000000000000000000000000000000000000000",
                          "to": "0xceba60280fb0ecd9a5a26a1552b90944770a4a0e"
                        },
                        {
                          "name": "PancakeSwap Token",
                          "symbol": "Cake",
                          "token_id": "0x0e09fabb73bd3ade0a17ecc321fd13a19e81ce82",
                          "decimals": 18,
                          "value": "4138176711369609559",
                          "quoteRate": 15.38,
                          "logo_url": "https://assets.unmarshal.io/tokens/0x0E09FaBB73Bd3Ade0a17ECC321fD13a19e81cE82.png",
                          "from": "0x009cf7bc57584b7998236eff51b98a168dcea9b0",
                          "to": "0x08cb1fef6649e4bf3558178329de925ec8db6210"
                        },
                        {
                          "name": "PancakeSwap Token",
                          "symbol": "Cake",
                          "token_id": "0x0e09fabb73bd3ade0a17ecc321fd13a19e81ce82",
                          "decimals": 18,
                          "value": "3219209526856888468",
                          "quoteRate": 15.38,
                          "logo_url": "https://assets.unmarshal.io/tokens/0x0E09FaBB73Bd3Ade0a17ECC321fD13a19e81cE82.png",
                          "from": "0x0000000000000000000000000000000000000000",
                          "to": "0x009cf7bc57584b7998236eff51b98a168dcea9b0"
                        },
                        {
                          "name": "Pancake LPs",
                          "symbol": "Cake-LP",
                          "token_id": "0xf23bad605e94de0e3b60c9718a43a94a5af43915",
                          "decimals": 18,
                          "value": "523728740395827718",
                          "logo_url": "https://assets.unmarshal.io/tokens/0xF23BAD605E94dE0e3B60c9718a43A94A5aF43915.png",
                          "from": "0x08cb1fef6649e4bf3558178329de925ec8db6210",
                          "to": "0x73feaa1ee314f8c655e354234017be2193c9e24e"
                        },
                        {
                          "name": "Hot Yield HOTCROSS-BNB PCS V2",
                          "symbol": "HY-HOTCROSS-BNB-PCS-V2",
                          "token_id": "0x9bff65a94c56f7173406f9b417b2bb81bf233965",
                          "decimals": 18,
                          "value": "522412834863199063",
                          "logo_url": "https://assets.unmarshal.io/tokens/0x9Bff65A94C56F7173406f9B417B2Bb81bf233965.png",
                          "from": "0x0000000000000000000000000000000000000000",
                          "to": "0xfc43f5f9dd45258b3aff31bdbe6561d97e8b71de"
                        }
                      ]
                    },
                    {
                      "id": "0xc8bb80a3a053050e53aa91572e50e14b25a33b193d311875d368c5e93d76f9d3",
                      "from": "0xfc43f5f9dd45258b3aff31bdbe6561d97e8b71de",
                      "to": "0xf23bad605e94de0e3b60c9718a43a94a5af43915",
                      "fee": "222210000000000",
                      "date": 1637605445,
                      "status": "completed",
                      "type": "approve",
                      "block": 12868770,
                      "value": "0",
                      "nonce": 258,
                      "description": "Approved Cake-LP",
                      "sent": [
                        {
                          "name": "Pancake LPs",
                          "symbol": "Cake-LP",
                          "token_id": "0xf23bad605e94de0e3b60c9718a43a94a5af43915",
                          "decimals": 18,
                          "value": "",
                          "quoteRate": 566.9608212676,
                          "logo_url": "https://assets.unmarshal.io/tokens/0xF23BAD605E94dE0e3B60c9718a43A94A5aF43915.png",
                          "from": "0xfc43f5f9dd45258b3aff31bdbe6561d97e8b71de",
                          "to": "0xf23bad605e94de0e3b60c9718a43a94a5af43915"
                        }
                      ]
                    },
                    {
                      "id": "0x52f66955245cf439c97ddf471ef7e25990e0b1f8ce1235ee24b32baac5d54ef6",
                      "from": "0xfc43f5f9dd45258b3aff31bdbe6561d97e8b71de",
                      "to": "0x4cfeb7cb8a854c69d9b796b4ab624c3f1051917a",
                      "fee": "402130000000000",
                      "date": 1637605349,
                      "status": "completed",
                      "type": "unstake",
                      "block": 12868738,
                      "value": "0",
                      "nonce": 257,
                      "description": "Unstaked 0.4486 Cake-LP and 0.0068 Cake ",
                      "received": [
                        {
                          "name": "Pancake LPs",
                          "symbol": "Cake-LP",
                          "token_id": "0xf23bad605e94de0e3b60c9718a43a94a5af43915",
                          "decimals": 18,
                          "value": "448567485887273384",
                          "logo_url": "https://assets.unmarshal.io/tokens/0xF23BAD605E94dE0e3B60c9718a43A94A5aF43915.png",
                          "from": "0x4cfeb7cb8a854c69d9b796b4ab624c3f1051917a",
                          "to": "0xfc43f5f9dd45258b3aff31bdbe6561d97e8b71de"
                        },
                        {
                          "name": "PancakeSwap Token",
                          "symbol": "Cake",
                          "token_id": "0x0e09fabb73bd3ade0a17ecc321fd13a19e81ce82",
                          "decimals": 18,
                          "value": "6817696867068044",
                          "quoteRate": 15.38,
                          "logo_url": "https://assets.unmarshal.io/tokens/0x0E09FaBB73Bd3Ade0a17ECC321fD13a19e81cE82.png",
                          "from": "0x88152382cfba5c98a8c281c8aab05b7a1c69d090",
                          "to": "0xfc43f5f9dd45258b3aff31bdbe6561d97e8b71de"
                        }
                      ]
                    },
                    {
                      "id": "0xce186978d9633452e40a72028eb0618c272816256ccab90bcb1f2ab0f88be083",
                      "from": "0xfc43f5f9dd45258b3aff31bdbe6561d97e8b71de",
                      "to": "0xfdff29dd0b4dd49bf5e991a30b8593eaa34b4580",
                      "fee": "1909580000000000",
                      "date": 1637062996,
                      "status": "completed",
                      "type": "send",
                      "block": 12695630,
                      "value": "0",
                      "nonce": 256,
                      "description": "Sent 0.5 Cake",
                      "sent": [
                        {
                          "name": "PancakeSwap Token",
                          "symbol": "Cake",
                          "token_id": "0x0e09fabb73bd3ade0a17ecc321fd13a19e81ce82",
                          "decimals": 18,
                          "value": "500000000000000000",
                          "quoteRate": 17.97815888361184,
                          "logo_url": "https://assets.unmarshal.io/tokens/0x0E09FaBB73Bd3Ade0a17ECC321fD13a19e81cE82.png",
                          "from": "0xfc43f5f9dd45258b3aff31bdbe6561d97e8b71de",
                          "to": "0xfdff29dd0b4dd49bf5e991a30b8593eaa34b4580"
                        }
                      ]
                    },
                    {
                      "id": "0xe016942fd371214907f1a85ab737c6715afa10ec68f5f52c83e24d7dfdfdb68d",
                      "from": "0xfc43f5f9dd45258b3aff31bdbe6561d97e8b71de",
                      "to": "0xfdff29dd0b4dd49bf5e991a30b8593eaa34b4580",
                      "fee": "1945740000000000",
                      "date": 1637062815,
                      "status": "completed",
                      "type": "send",
                      "block": 12695579,
                      "value": "0",
                      "nonce": 255,
                      "description": "Sent 1 Cake",
                      "sent": [
                        {
                          "name": "PancakeSwap Token",
                          "symbol": "Cake",
                          "token_id": "0x0e09fabb73bd3ade0a17ecc321fd13a19e81ce82",
                          "decimals": 18,
                          "value": "1000000000000000000",
                          "quoteRate": 17.965138083885936,
                          "logo_url": "https://assets.unmarshal.io/tokens/0x0E09FaBB73Bd3Ade0a17ECC321fD13a19e81cE82.png",
                          "from": "0xfc43f5f9dd45258b3aff31bdbe6561d97e8b71de",
                          "to": "0xfdff29dd0b4dd49bf5e991a30b8593eaa34b4580"
                        }
                      ]
                    },
                    {
                      "id": "0x18af06b1826c7fc4f244a3dbaa70cd49fbeb02affad5d656d892c1b2af430276",
                      "from": "0xfc43f5f9dd45258b3aff31bdbe6561d97e8b71de",
                      "to": "0x0e09fabb73bd3ade0a17ecc321fd13a19e81ce82",
                      "fee": "756900000000000",
                      "date": 1637062704,
                      "status": "completed",
                      "type": "approve",
                      "block": 12695547,
                      "value": "0",
                      "nonce": 254,
                      "description": "Approved Cake",
                      "sent": [
                        {
                          "name": "PancakeSwap Token",
                          "symbol": "Cake",
                          "token_id": "0x0e09fabb73bd3ade0a17ecc321fd13a19e81ce82",
                          "decimals": 18,
                          "value": "",
                          "quoteRate": 588.572102363127,
                          "logo_url": "https://assets.unmarshal.io/tokens/0x0E09FaBB73Bd3Ade0a17ECC321fD13a19e81cE82.png",
                          "from": "0xfc43f5f9dd45258b3aff31bdbe6561d97e8b71de",
                          "to": "0x0e09fabb73bd3ade0a17ecc321fd13a19e81ce82"
                        }
                      ]
                    },
                    {
                      "id": "0x791ae5b7b88c16b08b6bf495398361cb7d159565d0b47fd0e4bf01ea20590e0f",
                      "from": "0xfc43f5f9dd45258b3aff31bdbe6561d97e8b71de",
                      "to": "0x0e09fabb73bd3ade0a17ecc321fd13a19e81ce82",
                      "fee": "844170000000000",
                      "date": 1637062591,
                      "status": "completed",
                      "type": "approve",
                      "block": 12695519,
                      "value": "0",
                      "nonce": 253,
                      "description": "Approved Cake",
                      "sent": [
                        {
                          "name": "PancakeSwap Token",
                          "symbol": "Cake",
                          "token_id": "0x0e09fabb73bd3ade0a17ecc321fd13a19e81ce82",
                          "decimals": 18,
                          "value": "",
                          "quoteRate": 588.572102363127,
                          "logo_url": "https://assets.unmarshal.io/tokens/0x0E09FaBB73Bd3Ade0a17ECC321fD13a19e81cE82.png",
                          "from": "0xfc43f5f9dd45258b3aff31bdbe6561d97e8b71de",
                          "to": "0x0e09fabb73bd3ade0a17ecc321fd13a19e81ce82"
                        }
                      ]
                    }
                  ]
                }
              },
              "properties": {
                "page": {
                  "type": "number"
                },
                "total_pages": {
                  "type": "number"
                },
                "items_on_page": {
                  "type": "number"
                },
                "total_txs": {
                  "type": "number"
                },
                "transactions": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Transaction"
                  }
                }
              },
              "required": [
                "page",
                "total_pages",
                "items_on_page",
                "total_txs",
                "transactions"
              ]
            },
            "examples": {
              "demo.eth": {
                "value": {
                  "page": 1,
                  "total_pages": 178,
                  "items_on_page": 1,
                  "total_txs": 355,
                  "transactions": [
                    {
                      "id": "0x3bd3d0bc3fcc70429c4acfee9068719e7c07a30c13807aa3591e79e78c64ca6b",
                      "from": "0xfc43f5f9dd45258b3aff31bdbe6561d97e8b71de",
                      "to": "0x30f0222a1ec8eef795fe672cf4a526a6a39d57c1",
                      "fee": "603385000000000",
                      "date": 1637606035,
                      "status": "completed",
                      "type": "stake",
                      "block": 12868958,
                      "value": "0",
                      "nonce": 261,
                      "description": "Staked 0.5224 HY-HOTCROSS-BNB-PCS-V2",
                      "sent": [
                        {
                          "name": "Hot Yield HOTCROSS-BNB PCS V2",
                          "symbol": "HY-HOTCROSS-BNB-PCS-V2",
                          "token_id": "0x9bff65a94c56f7173406f9b417b2bb81bf233965",
                          "decimals": 18,
                          "value": "522412834863199063",
                          "logo_url": "https://assets.unmarshal.io/tokens/0x9Bff65A94C56F7173406f9B417B2Bb81bf233965.png",
                          "from": "0xfc43f5f9dd45258b3aff31bdbe6561d97e8b71de",
                          "to": "0x30f0222a1ec8eef795fe672cf4a526a6a39d57c1"
                        }
                      ]
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "Transactions-V2": {
        "description": "TBD",
        "content": {
          "application/json": {
            "schema": {
              "description": "",
              "type": "object",
              "x-examples": {
                "example-1": {
                  "page": 1,
                  "total_pages": 410,
                  "items_on_page": 2,
                  "total_txs": 818,
                  "transactions": [
                    {
                      "id": "0xd161da09ffb7923bed067b69dad4de0b248c68ca894ad51eba164f7f4f59bdd7",
                      "from": "0xfc43f5f9dd45258b3aff31bdbe6561d97e8b71de",
                      "to": "0xdac17f958d2ee523a2206206994597c13d831ec7",
                      "fee": "11784738220738476",
                      "date": 1637297762,
                      "status": "completed",
                      "type": "send",
                      "block": 13643689,
                      "value": "0",
                      "nonce": 718,
                      "description": "Sent 24000 USDT",
                      "sent": [
                        {
                          "name": "Tether USD",
                          "symbol": "USDT",
                          "token_id": "0xdac17f958d2ee523a2206206994597c13d831ec7",
                          "decimals": 6,
                          "value": "24000000000",
                          "quote": 24004.505957808455,
                          "quoteRate": 1.000187748242019,
                          "logo_url": "https://assets.unmarshal.io/tokens/0xdAC17F958D2ee523a2206206994597C13D831ec7.png",
                          "from": "0xfc43f5f9dd45258b3aff31bdbe6561d97e8b71de",
                          "to": "0xf7237b736602c3d19d53ca1b11ccdaa6303f3f36"
                        }
                      ]
                    },
                    {
                      "id": "0x2c5bc2944a889b766a5aa256ecaa8e9c51bdee8d983877ed8bb1fc9261ea9b00",
                      "from": "0x892d3a12497b6a61419a36fcee2ed1b4c8cdc8e4",
                      "to": "0xc85e0474068dba5b49450c26879541ee6cc94554",
                      "fee": "27909818271630548",
                      "date": 1637150238,
                      "status": "completed",
                      "type": "receive",
                      "block": 13632789,
                      "value": "0",
                      "nonce": 308,
                      "description": "Received 300000 KyDy.org and 74 more",
                      "received": [
                        {
                          "name": "KyDy.org",
                          "symbol": "KyDy.org",
                          "token_id": "0xc85e0474068dba5b49450c26879541ee6cc94554",
                          "decimals": 18,
                          "value": "300000000000000000000000",
                          "quote": 366230.19137046684,
                          "quoteRate": 1.2207673045682228,
                          "logo_url": "https://assets.unmarshal.io/tokens/0xc85E0474068dbA5B49450c26879541EE6Cc94554.png",
                          "from": "0xc85e0474068dba5b49450c26879541ee6cc94554",
                          "to": "0xcc2a71dbc6bac68f1b86812812fbd0317a4e93bd"
                        },
                        {
                          "name": "KyDy.org",
                          "symbol": "KyDy.org",
                          "token_id": "0xc85e0474068dba5b49450c26879541ee6cc94554",
                          "decimals": 18,
                          "value": "300000000000000000000000",
                          "quote": 366230.19137046684,
                          "quoteRate": 1.2207673045682228,
                          "logo_url": "https://assets.unmarshal.io/tokens/0xc85E0474068dbA5B49450c26879541EE6Cc94554.png",
                          "from": "0xc85e0474068dba5b49450c26879541ee6cc94554",
                          "to": "0x54ef272aaaca17a4cf95af65c28d670efbf05005"
                        },
                        {
                          "name": "KyDy.org",
                          "symbol": "KyDy.org",
                          "token_id": "0xc85e0474068dba5b49450c26879541ee6cc94554",
                          "decimals": 18,
                          "value": "300000000000000000000000",
                          "quote": 366230.19137046684,
                          "quoteRate": 1.2207673045682228,
                          "logo_url": "https://assets.unmarshal.io/tokens/0xc85E0474068dbA5B49450c26879541EE6Cc94554.png",
                          "from": "0xc85e0474068dba5b49450c26879541ee6cc94554",
                          "to": "0xd060898213b66f8abf1367f84dde0abcfedd0d58"
                        },
                        {
                          "name": "KyDy.org",
                          "symbol": "KyDy.org",
                          "token_id": "0xc85e0474068dba5b49450c26879541ee6cc94554",
                          "decimals": 18,
                          "value": "300000000000000000000000",
                          "quote": 366230.19137046684,
                          "quoteRate": 1.2207673045682228,
                          "logo_url": "https://assets.unmarshal.io/tokens/0xc85E0474068dbA5B49450c26879541EE6Cc94554.png",
                          "from": "0xc85e0474068dba5b49450c26879541ee6cc94554",
                          "to": "0x875b24daec80ec04a5650403dcb91b2bda32bd52"
                        },
                        {
                          "name": "KyDy.org",
                          "symbol": "KyDy.org",
                          "token_id": "0xc85e0474068dba5b49450c26879541ee6cc94554",
                          "decimals": 18,
                          "value": "300000000000000000000000",
                          "quote": 366230.19137046684,
                          "quoteRate": 1.2207673045682228,
                          "logo_url": "https://assets.unmarshal.io/tokens/0xc85E0474068dbA5B49450c26879541EE6Cc94554.png",
                          "from": "0xc85e0474068dba5b49450c26879541ee6cc94554",
                          "to": "0x029ed5bc7a839d4a6d8642f91bd8734761ca0c1c"
                        },
                        {
                          "name": "KyDy.org",
                          "symbol": "KyDy.org",
                          "token_id": "0xc85e0474068dba5b49450c26879541ee6cc94554",
                          "decimals": 18,
                          "value": "300000000000000000000000",
                          "quote": 366230.19137046684,
                          "quoteRate": 1.2207673045682228,
                          "logo_url": "https://assets.unmarshal.io/tokens/0xc85E0474068dbA5B49450c26879541EE6Cc94554.png",
                          "from": "0xc85e0474068dba5b49450c26879541ee6cc94554",
                          "to": "0xfc43f5f9dd45258b3aff31bdbe6561d97e8b71de"
                        },
                        {
                          "name": "KyDy.org",
                          "symbol": "KyDy.org",
                          "token_id": "0xc85e0474068dba5b49450c26879541ee6cc94554",
                          "decimals": 18,
                          "value": "300000000000000000000000",
                          "quote": 366230.19137046684,
                          "quoteRate": 1.2207673045682228,
                          "logo_url": "https://assets.unmarshal.io/tokens/0xc85E0474068dbA5B49450c26879541EE6Cc94554.png",
                          "from": "0xc85e0474068dba5b49450c26879541ee6cc94554",
                          "to": "0x52172c908be37d8ca51cdc57c8fc2526500efe8f"
                        },
                        {
                          "name": "KyDy.org",
                          "symbol": "KyDy.org",
                          "token_id": "0xc85e0474068dba5b49450c26879541ee6cc94554",
                          "decimals": 18,
                          "value": "300000000000000000000000",
                          "quote": 366230.19137046684,
                          "quoteRate": 1.2207673045682228,
                          "logo_url": "https://assets.unmarshal.io/tokens/0xc85E0474068dbA5B49450c26879541EE6Cc94554.png",
                          "from": "0xc85e0474068dba5b49450c26879541ee6cc94554",
                          "to": "0xdcbd0504be8117419a0b6a9f8738383aa2ac7cc2"
                        },
                        {
                          "name": "KyDy.org",
                          "symbol": "KyDy.org",
                          "token_id": "0xc85e0474068dba5b49450c26879541ee6cc94554",
                          "decimals": 18,
                          "value": "300000000000000000000000",
                          "quote": 366230.19137046684,
                          "quoteRate": 1.2207673045682228,
                          "logo_url": "https://assets.unmarshal.io/tokens/0xc85E0474068dbA5B49450c26879541EE6Cc94554.png",
                          "from": "0xc85e0474068dba5b49450c26879541ee6cc94554",
                          "to": "0xbb74239e6b33857523ec9b37a33c8fdf1d25d127"
                        },
                        {
                          "name": "KyDy.org",
                          "symbol": "KyDy.org",
                          "token_id": "0xc85e0474068dba5b49450c26879541ee6cc94554",
                          "decimals": 18,
                          "value": "300000000000000000000000",
                          "quote": 366230.19137046684,
                          "quoteRate": 1.2207673045682228,
                          "logo_url": "https://assets.unmarshal.io/tokens/0xc85E0474068dbA5B49450c26879541EE6Cc94554.png",
                          "from": "0xc85e0474068dba5b49450c26879541ee6cc94554",
                          "to": "0xb46d0e74676886d00522692bd1d9eb5a56207659"
                        },
                        {
                          "name": "KyDy.org",
                          "symbol": "KyDy.org",
                          "token_id": "0xc85e0474068dba5b49450c26879541ee6cc94554",
                          "decimals": 18,
                          "value": "300000000000000000000000",
                          "quote": 366230.19137046684,
                          "quoteRate": 1.2207673045682228,
                          "logo_url": "https://assets.unmarshal.io/tokens/0xc85E0474068dbA5B49450c26879541EE6Cc94554.png",
                          "from": "0xc85e0474068dba5b49450c26879541ee6cc94554",
                          "to": "0x005fa2741421824cdc8aceb39687d80746ad647f"
                        },
                        {
                          "name": "KyDy.org",
                          "symbol": "KyDy.org",
                          "token_id": "0xc85e0474068dba5b49450c26879541ee6cc94554",
                          "decimals": 18,
                          "value": "300000000000000000000000",
                          "quote": 366230.19137046684,
                          "quoteRate": 1.2207673045682228,
                          "logo_url": "https://assets.unmarshal.io/tokens/0xc85E0474068dbA5B49450c26879541EE6Cc94554.png",
                          "from": "0xc85e0474068dba5b49450c26879541ee6cc94554",
                          "to": "0x6ee0044ac64685d788d66562c51020cf8ac24363"
                        },
                        {
                          "name": "KyDy.org",
                          "symbol": "KyDy.org",
                          "token_id": "0xc85e0474068dba5b49450c26879541ee6cc94554",
                          "decimals": 18,
                          "value": "300000000000000000000000",
                          "quote": 366230.19137046684,
                          "quoteRate": 1.2207673045682228,
                          "logo_url": "https://assets.unmarshal.io/tokens/0xc85E0474068dbA5B49450c26879541EE6Cc94554.png",
                          "from": "0xc85e0474068dba5b49450c26879541ee6cc94554",
                          "to": "0x60868caa4ff5f4ffda807663aa8fcce3531e298e"
                        },
                        {
                          "name": "KyDy.org",
                          "symbol": "KyDy.org",
                          "token_id": "0xc85e0474068dba5b49450c26879541ee6cc94554",
                          "decimals": 18,
                          "value": "300000000000000000000000",
                          "quote": 366230.19137046684,
                          "quoteRate": 1.2207673045682228,
                          "logo_url": "https://assets.unmarshal.io/tokens/0xc85E0474068dbA5B49450c26879541EE6Cc94554.png",
                          "from": "0xc85e0474068dba5b49450c26879541ee6cc94554",
                          "to": "0xfaea89ee0cc96fe5d36d8ba97aea64fbd70770c1"
                        },
                        {
                          "name": "KyDy.org",
                          "symbol": "KyDy.org",
                          "token_id": "0xc85e0474068dba5b49450c26879541ee6cc94554",
                          "decimals": 18,
                          "value": "300000000000000000000000",
                          "quote": 366230.19137046684,
                          "quoteRate": 1.2207673045682228,
                          "logo_url": "https://assets.unmarshal.io/tokens/0xc85E0474068dbA5B49450c26879541EE6Cc94554.png",
                          "from": "0xc85e0474068dba5b49450c26879541ee6cc94554",
[...]
