{
  "openapi": "3.1.0",
  "info": {
    "title": "core-api",
    "version": "1.0",
    "description": "To get auth_key please log in to https://console.unmarshal.io"
  },
  "servers": [
    {
      "url": "https://api.unmarshal.com",
      "description": ""
    }
  ],
  "paths": {
    "/v1/{chain}/address/{address}/assets": {
      "parameters": [
        {
          "$ref": "#/components/parameters/chains"
        },
        {
          "$ref": "#/components/parameters/address"
        },
        {
          "$ref": "#/components/parameters/verified"
        },
        {
          "$ref": "#/components/parameters/chainId"
        },
        {
          "$ref": "#/components/parameters/token"
        }
      ],
      "get": {
        "summary": "Token Balances",
        "tags": [
          "Wallet APIs"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Assets"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "operationId": "assets-details",
        "parameters": [],
        "description": "This endpoint allows you to retrieve balance tied to a particular address on a specific chain.The response of this API will let you understand in details about all your assets.\n\n **Filters:** \n\n - \t\tGet All Assets Without dust tokens\n\n     Dust filtering, where if verified is specified as true it returns only verified tokens removing all dust tokens. (verified query parameter accepts true or false)\n\n -\t\tGet Assets in requested chain\n\n     Chain Id Filtering for kadena chain, Returns assets available on a particular chain (0-19)\n\n -\t\tGet a particular token balance across all chains\n\n     Token Filtering for kadena chain, Returns token balance across all chains (0-19). Combination of both token and chainID can be passed which return the balance of a requested token in a requested chain, If address does not start with k: or w: then both chainId and token should be passed\n\n -\t\tGet aggregated balance across all chains\n\n    Aggregated balance for kadena Returns the aggregated balance across all chains"
      }
    },
    "/v1/{chain}/block/{blockNumber}/details": {
      "parameters": [
        {
          "name": "chain",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "example": "bsc",
            "enum": [
              "ethereum",
              "bsc",
              "matic",
              "kadena",
              "celo",
              "avalanche",
              "xinfin",
              "zilliqa",
              "fantom",
              "bsc-testnet",
              "matic-testnet",
              "rinkeby-testnet"
            ]
          },
          "description": "Chain name (example: bsc, ethereum, matic...)"
        },
        {
          "$ref": "#/components/parameters/chainId"
        },
        {
          "name": "blockNumber",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "default": "15000000",
            "example": "15000000"
          },
          "description": "Valid block Number"
        }
      ],
      "get": {
        "summary": "Block details by block number",
        "tags": [
          "Get Blocks"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Blocks"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "operationId": "blocks-details-by-block-number",
        "parameters": [],
        "description": "This endpoint returns block level details for a given block number"
      }
    },
    "/v1/{chain}/block-hash/{blockHash}/details": {
      "parameters": [
        {
          "name": "chain",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "example": "bsc",
            "enum": [
              "ethereum",
              "bsc",
              "matic",
              "celo",
              "avalanche",
              "xinfin",
              "zilliqa",
              "fantom",
              "bsc-testnet",
              "matic-testnet",
              "rinkeby-testnet"
            ]
          },
          "description": "Chain name (example: bsc, ethereum, matic...)"
        },
        {
          "name": "blockHash",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "default": "0x2d7c24d91e115fb3d2eab2cd052bff62d5a50073dd183116bae052360e083866",
            "example": "0x2d7c24d91e115fb3d2eab2cd052bff62d5a50073dd183116bae052360e083866"
          },
          "description": "Valid block Hash"
        }
      ],
      "get": {
        "summary": "Block details by block hash",
        "tags": [
          "Get Blocks"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Blocks"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "operationId": "blocks-details-by-block-hash",
        "parameters": [],
        "description": "This endpoint returns block level details for a given block number"
      }
    },
    "/v1/{chain}/block/{blockNumber}/transactions": {
      "parameters": [
        {
          "name": "chain",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "example": "bsc",
            "enum": [
              "ethereum",
              "bsc",
              "matic",
              "celo",
              "avalanche",
              "xinfin",
              "zilliqa",
              "fantom",
              "bsc-testnet",
              "matic-testnet",
              "rinkeby-testnet"
            ]
          },
          "description": "Chain name (example: bsc, ethereum, matic...)"
        },
        {
          "name": "blockNumber",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "default": "15000000",
            "example": "15000000"
          },
          "description": "Valid block Number"
        }
      ],
      "get": {
        "summary": "Transactions By Block Number",
        "tags": [
          "Get Blocks"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/BlockTransactions"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "operationId": "transactions-by-block-number",
        "description": "**The transactions API fetches the list of all transactions for a given block number"
      }
    },
    "/v1/{chain}/block-hash/{blockHash}/transactions": {
      "parameters": [
        {
          "name": "chain",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "example": "bsc",
            "enum": [
              "ethereum",
              "bsc",
              "matic",
              "celo",
              "avalanche",
              "xinfin",
              "zilliqa",
              "fantom",
              "bsc-testnet",
              "matic-testnet",
              "rinkeby-testnet"
            ]
          },
          "description": "Chain name (example: bsc, ethereum, matic...)"
        },
        {
          "name": "blockHash",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "default": "0x2d7c24d91e115fb3d2eab2cd052bff62d5a50073dd183116bae052360e083866",
            "example": "0x2d7c24d91e115fb3d2eab2cd052bff62d5a50073dd183116bae052360e083866"
          },
          "description": "Valid block Hash"
        }
      ],
      "get": {
        "summary": "Transactions By Block Hash",
        "tags": [
          "Get Blocks"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/BlockTransactions"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "operationId": "transactions-by-block-hash",
        "description": "**The transactions API fetches the list of all transactions for a given block hash"
      }
    },
    "/v1/{chain}/topics/logs": {
      "parameters": [
        {
          "name": "chain",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "example": "bsc",
            "enum": [
              "ethereum",
              "bsc",
              "matic",
              "celo",
              "avalanche",
              "xinfin",
              "zilliqa",
              "fantom",
              "bsc-testnet",
              "matic-testnet",
              "rinkeby-testnet"
            ]
          },
          "description": "Chain name (example: bsc, ethereum, matic...)"
        }
      ],
      "get": {
        "summary": "Get Log events by topics",
        "tags": [
          "Get Logs Events"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Topics-logs"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "operationId": "get-log-events-by-topics",
        "parameters": [
          {
            "$ref": "#/components/parameters/topics"
          },
          {
            "$ref": "#/components/parameters/fromBlock"
          },
          {
            "$ref": "#/components/parameters/toBlock"
          }
        ],
        "description": "This endpoint allows to fetch all log events for a specified topic/s between a specified blocks.\n\n **Filters:** \n\n - \t\tGet All Logs between specified blocks\n\n \tBlock filtering, return all logs between those blocks, If fromBlock and toBlocks are not specified then the recent 5 block logs will be returned. (fromBlock specifies from which block logs should be picked, toBlock specifies till which block)"
      }
    },
    "/v1/{chain}/contract/{address}/logs": {
      "parameters": [
        {
          "name": "chain",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "example": "bsc",
            "enum": [
              "ethereum",
              "bsc",
              "matic",
              "celo",
              "avalanche",
              "xinfin",
              "zilliqa",
              "fantom",
              "bsc-testnet",
              "matic-testnet",
              "rinkeby-testnet"
            ]
          },
          "description": "Chain name (example: bsc, ethereum, matic...)"
        },
        {
          "name": "address",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "default": "0x2fa5daf6fe0708fbd63b1a7d1592577284f52256",
            "example": "0x2fa5daf6fe0708fbd63b1a7d1592577284f52256"
          },
          "description": "Any valid Contract address"
        }
      ],
      "post": {
        "summary": "Get Log events by contract address",
        "tags": [
          "Get Logs Events"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Contract-logs"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "operationId": "get-logs-by-contract",
        "parameters": [
          {
            "$ref": "#/components/parameters/fromBlock"
          },
          {
            "$ref": "#/components/parameters/toBlock"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Contract-abi"
              }
            }
          }
        },
        "description": "This endpoint allows to fetch all the log events for a specified contract between a specified blocks. Also this provides a decoded logs events.\n\n **Filters:** \n\n - \t\tGet All Logs between specified blocks\n\n \tBlock filtering, return all logs between those blocks, If fromBlock and toBlocks are not specified then the recent 5 block logs will be returned. (fromBlock specifies from which block logs should be picked, toBlock specifies till which block)"
      }
    },
    "/v1/{chain}/address/{address}/transactions": {
      "parameters": [
        {
          "$ref": "#/components/parameters/chains"
        },
        {
          "$ref": "#/components/parameters/address"
        }
      ],
      "get": {
        "summary": "Transaction History of an address",
        "tags": [
          "Wallet APIs"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Transactions"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "operationId": "transaction-history-for-an-address",
        "parameters": [
          {
            "$ref": "#/components/parameters/pageNo"
          },
          {
            "$ref": "#/components/parameters/pageSize"
          },
          {
            "$ref": "#/components/parameters/contract"
          },
          {
            "$ref": "#/components/parameters/fromBlock"
          },
          {
            "$ref": "#/components/parameters/toBlock"
          },
          {
            "$ref": "#/components/parameters/chainId"
          }
        ],
        "description": "**The transactions API fetches the list of all transactions in wallet address**\n\nOur Bank statements often let us understand the financial positions of a bank account. Similarly for a Crypto wallet , the transactions gives the wallet holder a detailed analysis of the inbound and out bound transfers thereby keeping the wallet apprised of all the happenings in their wallet. \n\nUnmarshal Transaction APIs are smart enough to differentiate the kind of operation a particular transaction was made for. It will let a user understand if the transaction was  was for a send or receive or the amount was staked or un-staked , or if the transactions was for adding or removing liquidity.\n\n **Filters:** \n\n - \t\tGet Transactions for an address from a specified block till a specified block \n\n\tBlock Filtering, returns transactions within specified Block Numbers (fromBlock specifies from which block transactions should be picked, toBlock specifies till which block).\n\n - \t\tGet Transactions of an address for a specified contract address\n\n\tContract Filtering, returns all the transactions made by an address for the specified contract. (contract query parameter accepts any valid contract address)\n\n -\t\tGet Transactions for requested chain\n\n     Chain Id Filtering for kadena chain, Returns transactions available on a particular chain (0-19), All other filters will also applies for kadena chain.\n\n"
      }
    },
    "/v2/{chain}/address/{address}/transactions": {
      "parameters": [
        {
          "$ref": "#/components/parameters/chain"
        },
        {
          "name": "address",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "default": "demo.eth",
            "example": "0xfc43f5f9dd45258b3aff31bdbe6561d97e8b71de"
          },
          "description": "Any valid address or ENS"
        }
      ],
      "get": {
        "summary": "Transaction History of an address with the price at the time of transaction",
        "tags": [
          "Wallet APIs"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Transactions-V2"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "operationId": "transaction-history-with-price",
        "parameters": [
          {
            "$ref": "#/components/parameters/pageNo"
          },
          {
            "$ref": "#/components/parameters/pageSize"
          },
          {
            "$ref": "#/components/parameters/contract"
          },
          {
            "$ref": "#/components/parameters/fromBlock"
          },
          {
            "$ref": "#/components/parameters/toBlock"
          }
        ],
        "description": "**The transactions API fetches the list of all transactions in wallet address along with token price at the time of transaction**\n\nOur Bank statements often let us understand the financial positions of a bank account. Similarly for a Crypto wallet, the transactions gives the wallet holder a detailed analysis of the inbound and out bound transfers thereby keeping the wallet apprised of all the happenings in their wallet. \n\nUnmarshal Transaction APIs are smart enough to differentiate the kind of operation a particular transaction was made for. It will let a user understand if the transaction was  was for a send or receive or the amount was staked or un-staked , or if the transactions was for adding or removing liquidity.\n\n **Filters:** \n\n - \t\tGet Transactions for an address from a specified block till a specified block \n\n\tBlock Filtering, returns transactions within specified Block Numbers (fromBlock specifies from which block transactions should be picked, toBlock specifies till which block).\n\n - \t\tGet Transactions of an address for a specified contract address\n\n\tContract Filtering, returns all the transactions made by an address for the specified contract. (contract query parameter accepts any valid contract address) "
      }
    },
    "/v3/{chain}/address/{address}/transactions": {
      "parameters": [
        {
          "$ref": "#/components/parameters/chain"
        },
        {
          "name": "address",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "default": "demo.eth",
            "example": "0xfc43f5f9dd45258b3aff31bdbe6561d97e8b71de"
          },
          "description": "Any valid address or ENS"
        }
      ],
      "get": {
        "summary": "Transaction History of an address without transaction count",
        "tags": [
          "Wallet APIs"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Transactions-V3"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "operationId": "transaction-history-v-3",
        "parameters": [
          {
            "$ref": "#/components/parameters/pageNo"
          },
          {
            "$ref": "#/components/parameters/pageSize"
          },
          {
            "$ref": "#/components/parameters/contract"
          },
          {
            "$ref": "#/components/parameters/fromBlock"
          },
          {
            "$ref": "#/components/parameters/toBlock"
          },
          {
            "name": "price",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "example": false,
              "enum": [
                "true",
                "false"
              ]
            },
            "description": "Flag to enable price of tokens at the time of transaction"
          }
        ],
        "description": "**The transactions API fetches the list of all transactions in wallet address**\n\nOur Bank statements often let us understand the financial positions of a bank account. Similarly for a Crypto wallet, the transactions gives the wallet holder a detailed analysis of the inbound and out bound transfers thereby keeping the wallet apprised of all the happenings in their wallet. \n\nUnmarshal Transaction APIs are smart enough to differentiate the kind of operation a particular transaction was made for. It will let a user understand if the transaction was  was for a send or receive or the amount was staked or un-staked , or if the transactions was for adding or removing liquidity .\n\n This Endpoint allows contract filtering, where it returns all the transactions made by an address for that contract.\n\n This Endpoint does not provide total transaction count for an address which inturn does not provide total pages, but instead it will returns a boolean value which specifies whether transaction are present in next page\n\n **Filters:** \n\n - \t\tGet Transactions for an address from a specified block till a specified block \n\n\tBlock Filtering, returns transactions within specified Block Numbers (fromBlock specifies from which block transactions should be picked, toBlock specifies till which block).\n\n - \t\tGet Transactions of an address for a specified contract address\n\n\tContract Filtering, returns all the transactions made by an address for the specified contract.\n\n - \t\tGet transactions along with price at the time of transaction\n\n\t Get all transactions along with prices of tokens which are involved"
      }
    },
    "/v1/{chain}/token/{address}/transactions": {
      "parameters": [
        {
          "$ref": "#/components/parameters/chains"
        },
        {
          "name": "address",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "default": "0x2FA5dAF6Fe0708fBD63b1A7D1592577284f52256",
            "example": "0x2FA5dAF6Fe0708fBD63b1A7D1592577284f52256"
          },
          "description": "And valid contract address"
        }
      ],
      "get": {
        "summary": "Transactions History of a token Address",
        "tags": [
          "Wallet APIs"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Transactions"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "operationId": "transaction-history-of-a-token-address",
        "parameters": [
          {
            "$ref": "#/components/parameters/pageNo"
          },
          {
            "$ref": "#/components/parameters/pageSize"
          },
          {
            "$ref": "#/components/parameters/fromBlock"
          },
          {
            "$ref": "#/components/parameters/toBlock"
          },
          {
            "$ref": "#/components/parameters/chainId"
          }
        ],
        "description": "**This Endpoint provides all the transactions of a token address irrespective of wallet address**\n\nOur Bank statements often let us understand the financial positions of a bank account. Similarly for a Crypto wallet, the transactions gives the wallet holder a detailed analysis of the inbound and out bound transfers thereby keeping the wallet apprised of all the happenings in their wallet. \n\nUnmarshal Transaction APIs are smart enough to differentiate the kind of operation a particular transaction was made for. It will let a user understand if the transaction was  was for a send or receive or the amount was staked or un-staked , or if the transactions was for adding or removing liquidity .\n\n **Filters:** \n\n - \t\tGet Transactions for an address from a specified block till a specified block \n\n\tBlock Filtering, returns transactions within specified Block Numbers (fromBlock specifies from which block transactions should be picked, toBlock specifies till which block).\n\n - \t\tGet Transactions for requested chain\n\n     Chain Id Filtering for kadena chain, Returns transactions available on a particular chain (0-19), All other filters will also applies for kadena chain.\n\n"
      }
    },
    "/v2/{chain}/token/{address}/transactions": {
      "parameters": [
        {
          "$ref": "#/components/parameters/chain"
        },
        {
          "name": "address",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "default": "0x2FA5dAF6Fe0708fBD63b1A7D1592577284f52256",
            "example": "0x2FA5dAF6Fe0708fBD63b1A7D1592577284f52256"
          },
          "description": "And valid contract address"
        }
      ],
      "get": {
        "summary": "Transaction History of a token address without transaction count",
        "tags": [
          "Wallet APIs"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Transactions"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "operationId": "token-transaction-history-v-2",
        "parameters": [
          {
            "$ref": "#/components/parameters/pageNo"
          },
          {
            "$ref": "#/components/parameters/pageSize"
          },
          {
            "$ref": "#/components/parameters/fromBlock"
          },
          {
            "$ref": "#/components/parameters/toBlock"
          }
        ],
        "description": "**This Endpoint provides all the transactions of a token address irrespective of wallet address.**\n\n This Endpoint does not provide total transaction count for an address which inturn does not provide total pages, but instead it will returns a boolean value which specifies whether transaction are present in next page.  \n\nOur Bank statements often let us understand the financial positions of a bank account. Similarly for a Crypto wallet, the transactions gives the wallet holder a detailed analysis of the inbound and out bound transfers thereby keeping the wallet apprised of all the happenings in their wallet. \n\nUnmarshal Transaction APIs are smart enough to differentiate the kind of operation a particular transaction was made for. It will let a user understand if the transaction was  was for a send or receive or the amount was staked or un-staked , or if the transactions was for adding or removing liquidity .\n\n **Filters:** \n\n - \t\tGet Transactions for an address from a specified block till a specified block \n\n\tBlock Filtering, returns transactions within specified Block Numbers (fromBlock specifies from which block transactions should be picked, toBlock specifies till which block).\n\n"
      }
    },
    "/v1/{chain}/transactions/{transactionHash}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/chains"
        },
        {
          "$ref": "#/components/parameters/transactionHash"
        },
        {
          "$ref": "#/components/parameters/chainId"
        }
      ],
      "get": {
        "summary": "Transaction Details",
        "tags": [
          "Wallet APIs"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/TransactionDetails"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "operationId": "transaction-details",
        "parameters": [],
        "description": "The transaction detail API is one such End Point which gives as much details possible for a specific transaction on a specific given chain.\n\n \nAll we need is the transaction hash and the entire history of the transaction is presented to anyone looking for all minor details pertaining to the particular transaction"
      }
    },
    "/v2/{chain}/address/{address}/userData": {
      "get": {
        "summary": "Profit and Loss",
        "tags": [
          "Wallet APIs"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/UserData"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "operationId": "get-profit-and-loss",
        "parameters": [
          {
            "in": "query",
            "name": "contract",
            "description": "Valid contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {}
              }
            }
          },
          "description": ""
        },
        "description": "The profit loss endpoint provide the profit or loss made by an address for a given token."
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/address"
        },
        {
          "name": "chain",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "example": "bsc",
            "enum": [
              "ethereum",
              "bsc",
              "matic"
            ]
          },
          "description": "Chain name (example: bsc, ethereum, matic...)"
        }
      ]
    },
    "/v1/{chain}/token-address/{address}/holders-count": {
      "parameters": [
        {
          "name": "chain",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "example": "ethereum",
            "enum": [
              "ethereum",
              "bsc",
              "matic",
              "celo"
            ]
          }
        },
        {
          "name": "address",
          "in": "path",
          "required": true,
          "schema": {
            "example": "0x5a666c7d92E5fA7Edcb6390E4efD6d0CDd69cF37",
            "type": "string"
          },
          "description": "Any valid Erc20 token address"
        }
      ],
      "get": {
        "summary": "Token Holders Count",
        "tags": [
          "Wallet APIs"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/TokenHoldersCount"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "operationId": "token-holders-count",
        "parameters": [],
        "description": "This endpoint allows you to retrieve the total token holders for a given token contract address."
      }
    },
    "/v1/{chain}/address/{address}/transactions/count": {
      "parameters": [
        {
          "name": "chain",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "example": "bsc",
            "enum": [
              "ethereum",
              "bsc",
              "matic",
              "celo",
              "avalanche",
              "xinfin",
              "zilliqa",
              "fantom",
              "bsc-testnet",
              "matic-testnet",
              "rinkeby-testnet"
            ]
          },
          "description": "Chain name (example: bsc, ethereum, matic...)"
        },
        {
          "$ref": "#/components/parameters/address"
        }
      ],
      "get": {
        "summary": "Total Transaction Count of an address",
        "tags": [
          "Wallet APIs"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/TokenHoldersCount"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "operationId": "transaction-count-by-address",
        "parameters": [],
        "description": "This endpoint allows you to retrieve the transaction count for a given address"
      }
    },
    "/v2/protocols/{protocols}/address/{address}/positions": {
      "get": {
        "summary": "Get Lp positions",
        "tags": [
          "Protocol(LP) APIs"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/LPPositions"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "operationId": "get-lp-positions",
        "description": "Lp positions Endpoints provides all the positions for a given a address and a protocol"
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/address"
        },
        {
          "name": "protocols",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "example": "pancakeswap_v2",
            "default": "pancakeswap_v2"
          },
          "description": "Protocols supported (pancakeswap_v2, uniswap_v2)"
        }
      ]
    },
    "/v2/protocols/{protocols}/pairs": {
      "get": {
        "summary": "Get Lp pairs",
        "tags": [
          "Protocol(LP) APIs"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/LPPairs"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "operationId": "get-lp-pairs",
        "parameters": [
          {
            "$ref": "#/components/parameters/pageNo"
          },
          {
            "$ref": "#/components/parameters/pageSize"
          }
        ],
        "description": "Lp Pairs Endpoints provides All the pairs available Lp pairs in a requested protocol"
      },
      "parameters": [
        {
          "name": "protocols",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "example": "pancakeswap_v2",
            "default": "pancakeswap_v2"
          },
          "description": "Protocols supported (pancakeswap_v2, uniswap_v2)"
        }
      ]
    },
    "/v2/protocols/{protocols}/address/{address}/lp_transactions": {
      "get": {
        "summary": "Get Lp transactions",
        "tags": [
          "Protocol(LP) APIs"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/LPTransactions"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "operationId": "get-lp-transactions",
        "parameters": [
          {
            "$ref": "#/components/parameters/pageNo"
          },
          {
            "$ref": "#/components/parameters/pageSize"
          }
        ],
        "description": "Lp transactions Endpoints provides all the transactions for a given a address and a protocol"
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/address"
        },
        {
          "name": "protocols",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "example": "pancakeswap_v2",
            "default": "pancakeswap_v2"
          },
          "description": "Protocols supported (pancakeswap_v2, uniswap_v2)"
        }
      ]
    },
    "/v3/{chain}/address/{address}/nft-assets": {
      "parameters": [
        {
          "$ref": "#/components/parameters/address"
        },
        {
          "name": "chain",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "example": "bsc",
            "enum": [
              "ethereum",
              "bsc",
              "matic",
              "avalanche",
              "solana"
            ]
          }
        }
      ],
      "get": {
        "summary": "NFT assets by Address with offset based pagination",
        "tags": [
          "NFTs"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Nft-assetsV3"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "operationId": "nft-assets-by-address-with-offset-based-pagination",
        "parameters": [
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/pageSize"
          },
          {
            "$ref": "#/components/parameters/contract"
          }
        ],
        "description": "NFT assets API gives the information about all the NFT assets held by a address with pagination (offset based pagination). In this endpoint instead of navigating with page parameter we can navigate using offset, where the next offset is provided in the response.\n\n For **solana** pagination and contract address filtering is not supported at the moment.\n\n **Filters:** \n\n - \t\tGet Nft assets of an address for a specified contract  \n\n\tContract Address Filtering, returns assets which belongs to the specified contract.(contract query parameter accepts any valid ERC721 or Erc1155 contract address)\n\n"
      }
    },
    "/v1/{chain}/address/{address}/nft-transactions": {
      "get": {
        "summary": "NFT Transactions by Address",
        "tags": [
          "NFTs"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Nft-transactions"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "operationId": "nft-transactions-by-address",
        "description": "NFT transactions API gives the list of transaction being made on given wallet address.",
        "parameters": [
        ]
      },
      "parameters": [
        {
          "name": "chain",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "example": "bsc",
            "enum": [
              "ethereum",
              "bsc",
              "matic",
              "avalanche"
            ]
          }
        },
        {
          "$ref": "#/components/parameters/address"
        }
      ]
    },
    "/v2/{chain}/address/{address}/nft-transactions": {
      "get": {
        "summary": "NFT Transactions by Address with pagination",
        "tags": [
          "NFTs"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Nft-transactionsV2"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "operationId": "nft-transactions-by-address-with-pagination",
        "description": "NFT transactions API gives the list of transaction being made on given wallet address with pagination.",
        "parameters": [
          {
            "$ref": "#/components/parameters/pageNo"
          },
          {
            "$ref": "#/components/parameters/pageSize"
          }
        ]
      },
      "parameters": [
        {
          "name": "chain",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "example": "bsc",
            "enum": [
              "ethereum",
              "bsc",
              "matic",
              "avalanche"
            ]
          }
        },
        {
          "$ref": "#/components/parameters/address"
        }
      ]
    },
    "/v2/{chain}/address/{address}/details": {
      "get": {
        "summary": "NFT details of all tokenIds of a contract",
        "tags": [
          "NFTs"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Nft-details-V2"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "operationId": "nft-details-of-all-tokenIds-of-a-contract",
        "description": "This NFT gives more details about a specific NFT based on NFT id(if token Id not provided returns all token .Basically the metadata of an NFT which is currently most sought after",
        "parameters": [
          {
            "in": "query",
            "name": "tokenId",
            "description": "Valid nft token Id of a requested nft contract",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/pageNo"
          },
          {
            "$ref": "#/components/parameters/pageSize"
          }
        ]
      },
      "parameters": [
        {
          "name": "chain",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "example": "bsc",
            "enum": [
              "ethereum",
              "bsc",
              "matic",
              "avalanche"
            ]
          }
        },
        {
          "name": "address",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "Any valid Nft Contract address"
        }
      ]
    },
    "/v1/{chain}/contract/{address}/nft-transactions": {
      "get": {
        "summary": "Get Nft Contract Transactions ",
        "tags": [
          "NFTs"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Nft-contract-transactions"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "operationId": "nft-contract-transactions",
        "description": "Get all the contract transactions of an nft, also filter all the transactions of a particular token Id of the contract (optional)",
        "parameters": [
          {
            "in": "query",
            "name": "tokenId",
            "description": "Valid nft token Id of a requested nft contract",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/pageNo"
          },
          {
            "$ref": "#/components/parameters/pageSize"
          }
        ]
      },
      "parameters": [
        {
          "name": "chain",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "example": "bsc",
            "enum": [
              "ethereum",
              "bsc",
              "matic",
              "avalanche"
            ]
          }
        },
        {
          "name": "address",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "Any valid Nft Contract address"
        }
      ]
    },
    "/v1/{chain}/contract/{address}/tokenIds": {
      "get": {
        "summary": "Get all token ids available for a nft contract",
        "tags": [
          "NFTs"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Nft-details"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "operationId": "nft-tokenIds-of-a-contract",
        "description": "This Endpoint returns all token Ids available for the specified contract"
      },
      "parameters": [
        {
          "name": "chain",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "example": "bsc",
            "enum": [
              "ethereum",
              "bsc",
              "matic",
              "avalanche"
            ]
          }
        },
        {
          "name": "address",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "Any valid Nft Contract address"
        }
      ]
    },
    "/v1/{chain}/address/{address}/nftholders": {
      "get": {
        "summary": "NFT holders by id",
        "tags": [
          "NFTs"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Nft-holders"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "operationId": "nft-holders-by-id",
        "description": "This api gives history of owners for a given NFT.",
        "parameters": [
          {
            "in": "query",
            "name": "tokenId",
            "description": "Valid nft token Id of a requested nft contract",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "parameters": [
        {
          "name": "address",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "Any valid Nft Contract address"
        },
        {
          "name": "chain",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "example": "bsc",
            "enum": [
              "ethereum",
              "bsc",
              "matic",
              "avalanche"
            ]
          }
        }
      ]
    },
    "/v1/pricestore/{symbol}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/symbol"
        }
      ],
      "get": {
        "summary": "Get Price by Symbol",
        "tags": [
          "Price Store"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Symbol"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "operationId": "get-v1-pricestore-symbol",
        "parameters": [
          {
            "$ref": "#/components/parameters/timestamp"
          }
        ],
        "description": "This api provides price of token by taking the symbol of the token(ticker) as a parameter which will give latest price, timestamp can also be provided as a query param to get historical data."
      }
    },
    "/v1/pricestore/chain/{chain}/{address}": {
      "get": {
        "summary": "Get Price by Address",
        "tags": [
          "Price Store"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Address"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "operationId": "get-v1-pricestore",
        "description": "This api provides price of a token by taking the address of the token(contract of token) in any chain such as Ethereum, Matic and Binance, timestamp can be provided as a query parameter to view historical data.",
        "parameters": [
          {
            "$ref": "#/components/parameters/timestamp"
          },
          {
            "$ref": "#/components/parameters/24hchange"
          },
          {
            "$ref": "#/components/parameters/alternateChain"
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/chain"
        },
        {
          "name": "address",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "Any valid token address"
        }
      ]
    },
    "/v1/pricestore/chain/{chain}/tokens": {
      "get": {
        "summary": "Get Price for multiple Token Addresses",
        "tags": [
          "Price Store"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Tokens"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "operationId": "get-v1-pricestore-chain-ethereum-tokens",
        "description": "This api takes multiple contract addresses to provide price data at once, timestamp can be provided as a query parameter to view historical data. multiple contracts have to given in comma(,) separated.",
        "parameters": [
          {
            "$ref": "#/components/parameters/tokens"
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/chain"
        }
      ]
    },
    "/v1/pricestore/chain/{chain}/gainers": {
      "get": {
        "summary": "Top Gainers",
        "tags": [
          "Price Store"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Gainers"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "operationId": "top-gainers",
        "description": "API provides a list of top gainers in a particular chain. the data contains biggest gainers in last 24 hours.",
        "parameters": [
          {
            "$ref": "#/components/parameters/price"
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/chain"
        }
      ]
    },
    "/v1/pricestore/chain/{chain}/losers": {
      "parameters": [
        {
          "$ref": "#/components/parameters/chain"
        }
      ],
      "get": {
        "summary": "Top Losers",
        "tags": [
          "Price Store"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Losers"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "operationId": "get-v1-pricestore-chain-losers",
        "description": "API provides a list of top losers in a particular chain. the data contains biggest losers in last 24 hours.",
        "parameters": [
          {
            "$ref": "#/components/parameters/price"
          }
        ]
      }
    },
    "/v1/pricestore/chain/{chain}/lptokens": {
      "get": {
        "summary": "Price for LP Tokens",
        "tags": [
          "Price Store"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/LpTokens"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "operationId": "price-for-lp-tokens",
        "description": "This api provides the price for LP tokens by taking in the address of the Lp tokens.",
        "parameters": [
          {
            "$ref": "#/components/parameters/lptokens"
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/chain"
        }
      ]
    },
    "/v1/tokenstore/token/address/{address}": {
      "get": {
        "summary": "Details for Token Contract",
        "tags": [
          "Token Store"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/TokenDetails"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "operationId": "details-for-token-contract",
        "description": "when searched by token contract address, it fetches exhaustive information of the token."
      },
      "parameters": [
        {
          "name": "address",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "Any valid token address"
        }
      ]
    },
    "/v1/tokenstore/token/symbol/{symbol}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/symbol"
        }
      ],
      "get": {
        "summary": "Details for Token Symbol",
        "tags": [
          "Token Store"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SymbolDetails"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "operationId": "details-for-token-symbol",
        "description": "when searched with the ticker name of any token, it returns detailed information of the token within the blockchains it exists in."
      }
    },
    "/v1/tokenstore/token/all": {
      "get": {
        "summary": "List of all Token",
        "tags": [
          "Token Store"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/All-tokens"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "operationId": "list-of-all-token",
        "description": "when searched with string “list”, it pulls the list of all the tokens that exist on Ethereum, BSC and Polygon",
        "parameters": [
          {
            "$ref": "#/components/parameters/pageNo"
          },
          {
            "$ref": "#/components/parameters/pageSize"
          }
        ]
      }
    },
    "/v2/{pair}/top-traders": {
      "get": {
        "summary": "Top Traders",
        "tags": [
          "Top Traders"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "description": "",
                  "minItems": 1,
                  "uniqueItems": true,
                  "x-examples": {
                    "example-1": [
                      {
                        "user_address": "0xf59742b240426fdc41d61954a49f55f2a377313d",
                        "number_of_transactions": 205,
                        "total_value_bought": 132343.48699951172,
                        "total_value_sold": 281512.8594894409,
                        "total_value_traded": 413856.34648895264,
                        "trade_value_per_transaction": 2018.8114462875737,
                        "net_value_bought": -149169.3724899292,
                        "total_usd_value_bought": 101478.3389614856,
                        "total_usd_value_sold": 215858.4303993135,
                        "total_usd_value_traded": 317336.7693607991,
                        "trade_usd_value_per_transaction": 1547.9842407843857,
                        "net_usd_value_bought": -114380.09143782791
                      },
                      {
                        "user_address": "0x62d5e272a28f1d697bba571c12d0009a61eeb768",
                        "number_of_transactions": 41,
                        "total_value_bought": 87583.07312011719,
                        "total_value_sold": 0,
                        "total_value_traded": 87583.07312011719,
                        "trade_value_per_transaction": 2136.1725151248093,
                        "net_value_bought": 87583.07312011719,
                        "total_usd_value_bought": 67156.94880704346,
                        "total_usd_value_traded": 67156.94880704346,
                        "trade_usd_value_per_transaction": 1637.9743611474012,
                        "net_usd_value_bought": 67156.94880704346
                      }
                    ]
                  },
                  "items": {
                    "type": "object",
                    "properties": {
                      "user_address": {
                        "type": "string",
                        "minLength": 1
                      },
                      "number_of_transactions": {
                        "type": "number"
                      },
                      "total_value_bought": {
                        "type": "number"
                      },
                      "total_value_sold": {
                        "type": "number"
                      },
                      "total_value_traded": {
                        "type": "number"
                      },
                      "trade_value_per_transaction": {
                        "type": "number"
                      },
                      "net_value_bought": {
                        "type": "number"
                      },
                      "total_usd_value_bought": {
                        "type": "number"
                      },
                      "total_usd_value_sold": {
                        "type": "number"
                      },
                      "total_usd_value_traded": {
                        "type": "number"
                      },
                      "trade_usd_value_per_transaction": {
                        "type": "number"
                      },
                      "net_usd_value_bought": {
                        "type": "number"
                      }
                    }
                  }
                },
                "examples": {
                  "top-traders": {
                    "value": [
                      {
                        "user_address": "0xf59742b240426fdc41d61954a49f55f2a377313d",
                        "number_of_transactions": 205,
                        "total_value_bought": 132343.48699951172,
                        "total_value_sold": 281512.8594894409,
                        "total_value_traded": 413856.34648895264,
                        "trade_value_per_transaction": 2018.8114462875737,
                        "net_value_bought": -149169.3724899292,
                        "total_usd_value_bought": 101478.3389614856,
                        "total_usd_value_sold": 215858.4303993135,
                        "total_usd_value_traded": 317336.7693607991,
                        "trade_usd_value_per_transaction": 1547.9842407843857,
                        "net_usd_value_bought": -114380.09143782791
                      },
                      {
                        "user_address": "0x62d5e272a28f1d697bba571c12d0009a61eeb768",
                        "number_of_transactions": 41,
                        "total_value_bought": 87583.07312011719,
                        "total_value_sold": 0,
                        "total_value_traded": 87583.07312011719,
                        "trade_value_per_transaction": 2136.1725151248093,
                        "net_value_bought": 87583.07312011719,
                        "total_usd_value_bought": 67156.94880704346,
                        "total_usd_value_traded": 67156.94880704346,
                        "trade_usd_value_per_transaction": 1637.9743611474012,
                        "net_usd_value_bought": 67156.94880704346
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "operationId": "top-traders",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "default": "0x2fa5daf6fe0708fbd63b1a7d1592577284f52256",
              "example": "0x2fa5daf6fe0708fbd63b1a7d1592577284f52256"
            },
            "in": "query",
            "name": "token",
            "description": "Token address",
            "required": true
          }
        ],
        "description": "This endpoint will return top-traders for a given pair."
      },
      "parameters": [
        {
          "schema": {
            "type": "string",
            "enum": [
              "marsh-bnb"
            ],
            "default": "marsh-bnb"
          },
          "name": "pair",
          "in": "path",
          "required": true,
          "description": "pair name"
        }
      ]
    }
  },
  "components": {
    "schemas": {
      "Asset": {
        "description": "",
        "type": "object",
        "x-examples": {
          "example-1": {
            "contract_name": "Tether USD",
            "contract_ticker_symbol": "USDT",
            "contract_decimals": 6,
            "contract_address": "0xdac17f958d2ee523a2206206994597c13d831ec7",
            "coin": 60,
            "type": "ERC20",
            "balance": "6510901690",
            "quote": 6510.3677960614195,
            "quote_rate": 0.999918,
            "logo_url": "https://assets.unmarshal.io/tokens/0xdAC17F958D2ee523a2206206994597C13D831ec7.png",
            "quote_rate_24h": "-0.001261133398",
            "quote_pct_change_24h": -0.12596
          }
        },
        "properties": {
          "contract_name": {
            "type": "string"
          },
          "contract_ticker_symbol": {
            "type": "string"
          },
          "contract_decimals": {
            "type": "number"
          },
          "contract_address": {
            "type": "string"
          },
          "coin": {
            "type": "number"
          },
          "type": {
            "type": "string"
          },
          "balance": {
            "type": "string"
          },
          "quote": {
            "type": "number"
          },
          "quote_rate": {
            "type": "number"
          },
          "logo_url": {
            "type": "string"
          },
          "quote_rate_24h": {
            "type": "string"
          },
          "quote_pct_change_24h": {
            "type": "number"
          }
        },
        "examples": [
          {
            "contract_name": "Tether USD",
            "contract_ticker_symbol": "USDT",
            "contract_decimals": 6,
            "contract_address": "0xdac17f958d2ee523a2206206994597c13d831ec7",
            "coin": 60,
            "type": "ERC20",
            "balance": "6510901690",
            "quote": 6510.90169,
            "quote_rate": 1,
            "logo_url": "https://assets.unmarshal.io/tokens/0xdAC17F958D2ee523a2206206994597C13D831ec7.png",
            "quote_rate_24h": "-0.001800703559",
            "quote_pct_change_24h": -0.17958
          }
        ],
        "x-extension-2": null
      },
      "Transaction": {
        "description": "",
        "type": "object",
        "x-examples": {
          "example-1": {
            "id": "0x791ae5b7b88c16b08b6bf495398361cb7d159565d0b47fd0e4bf01ea20590e0f",
            "from": "0xfc43f5f9dd45258b3aff31bdbe6561d97e8b71de",
            "to": "0x0e09fabb73bd3ade0a17ecc321fd13a19e81ce82",
            "fee": "844170000000000",
            "date": 1637062591,
            "status": "completed",
            "type": "approve",
            "block": 12695519,
            "value": "0",
            "nonce": 253,
            "description": "Approved Cake",
            "sent": [
              {
                "name": "PancakeSwap Token",
                "symbol": "Cake",
                "token_id": "0x0e09fabb73bd3ade0a17ecc321fd13a19e81ce82",
                "decimals": 18,
                "value": "",
                "quoteRate": 588.572102363127,
                "logo_url": "https://assets.unmarshal.io/tokens/0x0E09FaBB73Bd3Ade0a17ECC321fD13a19e81cE82.png",
                "from": "0xfc43f5f9dd45258b3aff31bdbe6561d97e8b71de",
                "to": "0x0e09fabb73bd3ade0a17ecc321fd13a19e81ce82"
              }
            ],
            "received": [
              {
                "name": "Pancake LPs",
                "symbol": "Cake-LP",
                "token_id": "0xf23bad605e94de0e3b60c9718a43a94a5af43915",
                "decimals": 18,
                "value": "448567485887273384",
                "logo_url": "https://assets.unmarshal.io/tokens/0xF23BAD605E94dE0e3B60c9718a43A94A5aF43915.png",
                "from": "0x4cfeb7cb8a854c69d9b796b4ab624c3f1051917a",
                "to": "0xfc43f5f9dd45258b3aff31bdbe6561d97e8b71de"
              },
              {
                "name": "PancakeSwap Token",
                "symbol": "Cake",
                "token_id": "0x0e09fabb73bd3ade0a17ecc321fd13a19e81ce82",
                "decimals": 18,
                "value": "6817696867068044",
                "quoteRate": 15.38,
                "logo_url": "https://assets.unmarshal.io/tokens/0x0E09FaBB73Bd3Ade0a17ECC321fD13a19e81cE82.png",
                "from": "0x88152382cfba5c98a8c281c8aab05b7a1c69d090",
                "to": "0xfc43f5f9dd45258b3aff31bdbe6561d97e8b71de"
              }
            ],
            "others": [
              {
                "name": "PancakeSwap Token",
                "symbol": "Cake",
                "token_id": "0x0e09fabb73bd3ade0a17ecc321fd13a19e81ce82",
                "decimals": 18,
                "value": "321920952685688846",
                "quoteRate": 15.38,
                "logo_url": "https://assets.unmarshal.io/tokens/0x0E09FaBB73Bd3Ade0a17ECC321fD13a19e81cE82.png",
                "from": "0x0000000000000000000000000000000000000000",
                "to": "0xceba60280fb0ecd9a5a26a1552b90944770a4a0e"
              },
              {
                "name": "PancakeSwap Token",
                "symbol": "Cake",
                "token_id": "0x0e09fabb73bd3ade0a17ecc321fd13a19e81ce82",
                "decimals": 18,
                "value": "4138176711369609559",
                "quoteRate": 15.38,
                "logo_url": "https://assets.unmarshal.io/tokens/0x0E09FaBB73Bd3Ade0a17ECC321fD13a19e81cE82.png",
                "from": "0x009cf7bc57584b7998236eff51b98a168dcea9b0",
                "to": "0x08cb1fef6649e4bf3558178329de925ec8db6210"
              },
              {
                "name": "PancakeSwap Token",
                "symbol": "Cake",
                "token_id": "0x0e09fabb73bd3ade0a17ecc321fd13a19e81ce82",
                "decimals": 18,
                "value": "3219209526856888468",
                "quoteRate": 15.38,
                "logo_url": "https://assets.unmarshal.io/tokens/0x0E09FaBB73Bd3Ade0a17ECC321fD13a19e81cE82.png",
                "from": "0x0000000000000000000000000000000000000000",
                "to": "0x009cf7bc57584b7998236eff51b98a168dcea9b0"
              },
              {
                "name": "Pancake LPs",
                "symbol": "Cake-LP",
                "token_id": "0xf23bad605e94de0e3b60c9718a43a94a5af43915",
                "decimals": 18,
                "value": "523728740395827718",
                "logo_url": "https://assets.unmarshal.io/tokens/0xF23BAD605E94dE0e3B60c9718a43A94A5aF43915.png",
                "from": "0x08cb1fef6649e4bf3558178329de925ec8db6210",
                "to": "0x73feaa1ee314f8c655e354234017be2193c9e24e"
              },
              {
                "name": "Hot Yield HOTCROSS-BNB PCS V2",
                "symbol": "HY-HOTCROSS-BNB-PCS-V2",
                "token_id": "0x9bff65a94c56f7173406f9b417b2bb81bf233965",
                "decimals": 18,
                "value": "522412834863199063",
                "logo_url": "https://assets.unmarshal.io/tokens/0x9Bff65A94C56F7173406f9B417B2Bb81bf233965.png",
                "from": "0x0000000000000000000000000000000000000000",
                "to": "0xfc43f5f9dd45258b3aff31bdbe6561d97e8b71de"
              }
            ]
          }
        },
        "properties": {
          "id": {
            "type": "string"
          },
          "from": {
            "type": "string"
          },
          "to": {
            "type": "string"
          },
          "fee": {
            "type": "string"
          },
          "date": {
            "type": "number"
          },
          "status": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "block": {
            "type": "number"
          },
          "value": {
            "type": "string"
          },
          "nonce": {
            "type": "number"
          },
          "description": {
            "type": "string"
          },
          "sent": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Transfer"
            }
          },
          "received": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Transfer"
            }
          },
          "others": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Transfer"
            }
          }
        }
      },
      "Transaction-V2": {
        "description": "",
        "type": "object",
        "x-examples": {
          "example-1": {
            "id": "0x791ae5b7b88c16b08b6bf495398361cb7d159565d0b47fd0e4bf01ea20590e0f",
            "from": "0xfc43f5f9dd45258b3aff31bdbe6561d97e8b71de",
            "to": "0x0e09fabb73bd3ade0a17ecc321fd13a19e81ce82",
            "fee": "844170000000000",
            "date": 1637062591,
            "status": "completed",
            "type": "approve",
            "block": 12695519,
            "value": "0",
            "nonce": 253,
            "description": "Approved Cake",
            "sent": [
              {
                "name": "PancakeSwap Token",
                "symbol": "Cake",
                "token_id": "0x0e09fabb73bd3ade0a17ecc321fd13a19e81ce82",
                "decimals": 18,
                "value": "",
                "quoteRate": 588.572102363127,
                "logo_url": "https://assets.unmarshal.io/tokens/0x0E09FaBB73Bd3Ade0a17ECC321fD13a19e81cE82.png",
                "from": "0xfc43f5f9dd45258b3aff31bdbe6561d97e8b71de",
                "to": "0x0e09fabb73bd3ade0a17ecc321fd13a19e81ce82"
              }
            ],
            "received": [
              {
                "name": "Pancake LPs",
                "symbol": "Cake-LP",
                "token_id": "0xf23bad605e94de0e3b60c9718a43a94a5af43915",
                "decimals": 18,
                "value": "448567485887273384",
                "logo_url": "https://assets.unmarshal.io/tokens/0xF23BAD605E94dE0e3B60c9718a43A94A5aF43915.png",
                "from": "0x4cfeb7cb8a854c69d9b796b4ab624c3f1051917a",
                "to": "0xfc43f5f9dd45258b3aff31bdbe6561d97e8b71de"
              },
              {
                "name": "PancakeSwap Token",
                "symbol": "Cake",
                "token_id": "0x0e09fabb73bd3ade0a17ecc321fd13a19e81ce82",
                "decimals": 18,
                "value": "6817696867068044",
                "quoteRate": 15.38,
                "logo_url": "https://assets.unmarshal.io/tokens/0x0E09FaBB73Bd3Ade0a17ECC321fD13a19e81cE82.png",
                "from": "0x88152382cfba5c98a8c281c8aab05b7a1c69d090",
                "to": "0xfc43f5f9dd45258b3aff31bdbe6561d97e8b71de"
              }
            ],
            "others": [
              {
                "name": "PancakeSwap Token",
                "symbol": "Cake",
                "token_id": "0x0e09fabb73bd3ade0a17ecc321fd13a19e81ce82",
                "decimals": 18,
                "value": "321920952685688846",
                "quoteRate": 15.38,
                "logo_url": "https://assets.unmarshal.io/tokens/0x0E09FaBB73Bd3Ade0a17ECC321fD13a19e81cE82.png",
                "from": "0x0000000000000000000000000000000000000000",
                "to": "0xceba60280fb0ecd9a5a26a1552b90944770a4a0e"
              },
              {
                "name": "PancakeSwap Token",
                "symbol": "Cake",
                "token_id": "0x0e09fabb73bd3ade0a17ecc321fd13a19e81ce82",
                "decimals": 18,
                "value": "4138176711369609559",
                "quoteRate": 15.38,
                "logo_url": "https://assets.unmarshal.io/tokens/0x0E09FaBB73Bd3Ade0a17ECC321fD13a19e81cE82.png",
                "from": "0x009cf7bc57584b7998236eff51b98a168dcea9b0",
                "to": "0x08cb1fef6649e4bf3558178329de925ec8db6210"
              },
              {
                "name": "PancakeSwap Token",
                "symbol": "Cake",
                "token_id": "0x0e09fabb73bd3ade0a17ecc321fd13a19e81ce82",
                "decimals": 18,
                "value": "3219209526856888468",
                "quoteRate": 15.38,
                "logo_url": "https://assets.unmarshal.io/tokens/0x0E09FaBB73Bd3Ade0a17ECC321fD13a19e81cE82.png",
                "from": "0x0000000000000000000000000000000000000000",
                "to": "0x009cf7bc57584b7998236eff51b98a168dcea9b0"
              },
              {
                "name": "Pancake LPs",
                "symbol": "Cake-LP",
                "token_id": "0xf23bad605e94de0e3b60c9718a43a94a5af43915",
                "decimals": 18,
                "value": "523728740395827718",
                "logo_url": "https://assets.unmarshal.io/tokens/0xF23BAD605E94dE0e3B60c9718a43A94A5aF43915.png",
                "from": "0x08cb1fef6649e4bf3558178329de925ec8db6210",
                "to": "0x73feaa1ee314f8c655e354234017be2193c9e24e"
              },
              {
                "name": "Hot Yield HOTCROSS-BNB PCS V2",
                "symbol": "HY-HOTCROSS-BNB-PCS-V2",
                "token_id": "0x9bff65a94c56f7173406f9b417b2bb81bf233965",
                "decimals": 18,
                "value": "522412834863199063",
                "logo_url": "https://assets.unmarshal.io/tokens/0x9Bff65A94C56F7173406f9B417B2Bb81bf233965.png",
                "from": "0x0000000000000000000000000000000000000000",
                "to": "0xfc43f5f9dd45258b3aff31bdbe6561d97e8b71de"
              }
            ]
          }
        },
        "properties": {
          "id": {
            "type": "string"
          },
          "from": {
            "type": "string"
          },
          "to": {
            "type": "string"
          },
          "fee": {
            "type": "string"
          },
          "date": {
            "type": "number"
          },
          "status": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "block": {
            "type": "number"
          },
          "value": {
            "type": "string"
          },
          "nonce": {
            "type": "number"
          },
          "description": {
            "type": "string"
          },
          "sent": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Transfer-V2"
            }
          },
          "received": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Transfer-V2"
            }
          },
          "others": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Transfer-V2"
            }
          }
        }
      },
      "Transfer": {
        "description": "",
        "type": "object",
        "x-examples": {
          "example-1": {
            "name": "PancakeSwap Token",
            "symbol": "Cake",
            "token_id": "0x0e09fabb73bd3ade0a17ecc321fd13a19e81ce82",
            "decimals": 18,
            "value": "500000000000000000",
            "quoteRate": 17.97815888361184,
            "logo_url": "https://assets.unmarshal.io/tokens/0x0E09FaBB73Bd3Ade0a17ECC321fD13a19e81cE82.png",
            "from": "0xfc43f5f9dd45258b3aff31bdbe6561d97e8b71de",
            "to": "0xfdff29dd0b4dd49bf5e991a30b8593eaa34b4580"
          }
        },
        "properties": {
          "name": {
            "type": "string"
          },
          "symbol": {
            "type": "string"
          },
          "token_id": {
            "type": "string"
          },
          "decimals": {
            "type": "number"
          },
          "value": {
            "type": "string"
          },
          "logo_url": {
            "type": "string"
          },
          "from": {
            "type": "string"
          },
          "to": {
            "type": "string"
          }
        },
        "examples": [
          {
            "name": "PancakeSwap Token",
            "symbol": "Cake",
            "token_id": "0x0e09fabb73bd3ade0a17ecc321fd13a19e81ce82",
            "decimals": 18,
            "value": "500000000000000000",
            "quoteRate": 17.97815888361184,
            "logo_url": "https://assets.unmarshal.io/tokens/0x0E09FaBB73Bd3Ade0a17ECC321fD13a19e81cE82.png",
            "from": "0xfc43f5f9dd45258b3aff31bdbe6561d97e8b71de",
            "to": "0xfdff29dd0b4dd49bf5e991a30b8593eaa34b4580"
          }
        ]
      },
      "Transfer-V2": {
        "description": "It has historic quote rate",
        "type": "object",
        "x-examples": {
          "example-1": {
            "name": "PancakeSwap Token",
            "symbol": "Cake",
            "token_id": "0x0e09fabb73bd3ade0a17ecc321fd13a19e81ce82",
            "decimals": 18,
            "value": "500000000000000000",
            "quoteRate": 17.97815888361184,
            "logo_url": "https://assets.unmarshal.io/tokens/0x0E09FaBB73Bd3Ade0a17ECC321fD13a19e81cE82.png",
            "from": "0xfc43f5f9dd45258b3aff31bdbe6561d97e8b71de",
            "to": "0xfdff29dd0b4dd49bf5e991a30b8593eaa34b4580"
          }
        },
        "properties": {
          "name": {
            "type": "string"
          },
          "symbol": {
            "type": "string"
          },
          "token_id": {
            "type": "string"
          },
          "decimals": {
            "type": "number"
          },
          "value": {
            "type": "string"
          },
          "quoteRate": {
            "type": "number"
          },
          "logo_url": {
            "type": "string"
          },
          "from": {
            "type": "string"
          },
          "to": {
            "type": "string"
          }
        },
        "title": ""
      },
      "Transaction-details": {
        "description": "",
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "from": {
            "type": "string"
          },
          "to": {
            "type": "string"
          },
          "fee": {
            "type": "string"
          },
          "date": {
            "type": "number"
          },
          "status": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "block": {
            "type": "number"
          },
          "value": {
            "type": "string"
          },
          "nonce": {
            "type": "number"
          },
          "description": {
            "type": "string"
          },
          "sent": {
            "type": "array",
            "items": {
              "required": [],
              "properties": {
                "name": {
                  "type": "string"
                },
                "symbol": {
                  "type": "string"
                },
                "token_id": {
                  "type": "string"
                },
                "decimals": {
                  "type": "number"
                },
                "value": {
                  "type": "string"
                },
                "logo_url": {
                  "type": "string"
                },
                "from": {
                  "type": "string"
                },
                "to": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-examples": {
          "example-1": {
            "id": "0xddce618f5f00a5b0c857b5395ab5094cf097cf4be297f7be1705b56f60d50d58",
            "from": "0x986a2fca9eda0e06fbf7839b89bfc006ee2a23dd",
            "to": "0xdac17f958d2ee523a2206206994597c13d831ec7",
            "fee": "629387850000000",
            "date": 1626025576,
            "status": "completed",
            "type": "send",
            "block": 12807446,
            "value": "0",
            "nonce": 407959,
            "description": "Sent 72.4438 USDT",
            "sent": [
              {
                "name": "Tether USD",
                "symbol": "USDT",
                "token_id": "0xdAC17F958D2ee523a2206206994597C13D831ec7",
                "decimals": 6,
                "value": "72443800",
                "logo_url": "https://assets.unmarshal.io/tokens/0xdAC17F958D2ee523a2206206994597C13D831ec7.png",
                "from": "0x986a2fca9eda0e06fbf7839b89bfc006ee2a23dd",
                "to": "0xac09b78e7fa259d3b914d74052a54ee460240f5a"
              }
            ]
          }
        }
      },
      "Nft-assets": {
        "type": "array",
        "description": "",
        "uniqueItems": true,
        "x-examples": {
          "example-1": [
            {
              "asset_contract": "0xc54b96b04aa8828b63cf250408e1084e9f6ac6c8",
              "token_id": "14701",
              "owner": "0x6877654e79119a7f9a8182bb2389e797ca421d24",
              "external_link": "https://bsc-api.seascape.network/nft/metadata/14701",
              "balance": 1,
              "nft_metadata": {
                "animation_url": "",
                "attributes": [
                  {
                    "trait_type": "QUALITY",
                    "value": "Common"
                  },
                  {
                    "trait_type": "Generation",
                    "value": 0
                  },
                  {
                    "trait_type": "Power",
                    "value": 600,
                    "display_type": "boost_number"
                  }
                ],
                "background_color": "",
                "boosterId": 0,
                "description": "I reckon we ought to make ourselves acquainted. I'm Edmund Mildenhall III, but my friend's call me Thump - Common. Now you just gonna just stand there, or come over here and wrestle me like a man!",
                "external_url": "https://api.seascape.network/nft/metadata/14701",
                "id": "",
                "initialProbabilities": {
                  "background": 0,
                  "color": 0,
                  "glitter": 0,
                  "horn": 0,
                  "type": 0
                },
                "name": "Thump - Common",
                "randomNumber": "",
                "txHash": ""
              },
              "issuer_specific_data": {
                "entire_response": "{\"attributes\":[{\"trait_type\":\"QUALITY\",\"value\":\"Common\"},{\"trait_type\":\"Generation\",\"value\":0},{\"display_type\":\"boost_number\",\"trait_type\":\"Power\",\"value\":600}],\"description\":\"I reckon we ought to make ourselves acquainted. I'm Edmund Mildenhall III, but my friend's call me Thump - Common. Now you just gonna just stand there, or come over here and wrestle me like a man!\",\"external_url\":\"https://api.seascape.network/nft/metadata/14701\",\"image\":\"https://cdn.seascape.network/nfts/1.gif\",\"name\":\"Thump - Common\"}",
                "image_url": "https://cdn.seascape.network/nfts/1.gif",
                "name": "Thump - Common"
              },
              "price": 0
            },
            {
              "asset_contract": "0xc54b96b04aa8828b63cf250408e1084e9f6ac6c8",
              "token_id": "14961",
              "owner": "0x6877654e79119a7f9a8182bb2389e797ca421d24",
              "external_link": "https://bsc-api.seascape.network/nft/metadata/14961",
              "balance": 1,
              "nft_metadata": {
                "animation_url": "",
                "attributes": [
                  {
                    "trait_type": "QUALITY",
                    "value": "Common"
                  },
                  {
                    "trait_type": "Generation",
                    "value": 0
                  },
                  {
                    "trait_type": "Power",
                    "value": 600,
                    "display_type": "boost_number"
                  }
                ],
                "background_color": "",
                "boosterId": 0,
                "description": "Hullo! I am Armstrong and I am very strong. My hobbies include lifting, petting small animals, and earning Crowns. Shall we be friends?",
                "external_url": "https://api.seascape.network/nft/metadata/14961",
                "id": "",
                "initialProbabilities": {
                  "background": 0,
                  "color": 0,
                  "glitter": 0,
                  "horn": 0,
                  "type": 0
                },
                "name": "Armstrong - Common",
                "randomNumber": "",
                "txHash": ""
              },
              "issuer_specific_data": {
                "entire_response": "{\"attributes\":[{\"trait_type\":\"QUALITY\",\"value\":\"Common\"},{\"trait_type\":\"Generation\",\"value\":0},{\"display_type\":\"boost_number\",\"trait_type\":\"Power\",\"value\":600}],\"description\":\"Hullo! I am Armstrong and I am very strong. My hobbies include lifting, petting small animals, and earning Crowns. Shall we be friends?\",\"external_url\":\"https://api.seascape.network/nft/metadata/14961\",\"image\":\"https://cdn.seascape.network/nfts/4.gif\",\"name\":\"Armstrong - Common\"}",
                "image_url": "https://cdn.seascape.network/nfts/4.gif",
                "name": "Armstrong - Common"
              },
              "price": 0
            },
            {
              "asset_contract": "0xdf7952b35f24acf7fc0487d01c8d5690a60dba07",
              "token_id": "15125",
              "owner": "0x6877654e79119a7f9a8182bb2389e797ca421d24",
              "external_link": "https://unmarshal.mypinata.cloud/ipfs/QmRi6ddN4Z4zkGPZ1gF74iJaGV7vZr7G8V2KHEtLRcPmYg/bullish.json",
              "balance": 1,
              "nft_metadata": {
                "animation_url": "",
                "attributes": null,
                "background_color": "",
                "boosterId": 0,
                "description": "",
                "external_url": "",
                "id": "",
                "initialProbabilities": {
                  "background": 0,
                  "color": 0,
                  "glitter": 0,
                  "horn": 0,
                  "type": 0
                },
                "name": "",
                "randomNumber": "",
                "txHash": ""
              },
              "issuer_specific_data": {
                "entire_response": "{\n\t\"name\": \"Bullish\",\n\t\"description\": \"Happy Niu Year! This bunny’s excited for the year of the bull (market!)\",\n\t\"mp4_url\": \"ipfs://QmNS1A5HsRW1JvFWtGkm4o9TgZVe2P7kA8TB4yxvS6A7ms/bullish.mp4\",\n\t\"gif_url\": \"ipfs://QmNS1A5HsRW1JvFWtGkm4o9TgZVe2P7kA8TB4yxvS6A7ms/bullish.gif\",\n\t\"webm_url\": \"ipfs://QmNS1A5HsRW1JvFWtGkm4o9TgZVe2P7kA8TB4yxvS6A7ms/bullish.webm\",\n\t\"image\": \"ipfs://QmNS1A5HsRW1JvFWtGkm4o9TgZVe2P7kA8TB4yxvS6A7ms/bullish.png\",\n\t\"attributes\": {\n\t\t\"bunnyId\": \"11\"\n\t}\n}\n",
                "image_url": "https://unmarshal.mypinata.cloud/ipfs/QmNS1A5HsRW1JvFWtGkm4o9TgZVe2P7kA8TB4yxvS6A7ms/bullish.png",
                "name": "Bullish"
              },
              "price": 0
            },
            {
              "asset_contract": "0x060dd632f7dd45cb97a86376863d623d6756e848",
              "token_id": "31347",
              "owner": "0x6877654e79119a7f9a8182bb2389e797ca421d24",
              "external_link": "",
              "balance": 1,
              "nft_metadata": {
                "animation_url": "",
                "attributes": null,
                "background_color": "",
                "boosterId": 0,
                "description": "",
                "external_url": "",
                "id": "",
                "initialProbabilities": {
                  "background": 0,
                  "color": 0,
                  "glitter": 0,
                  "horn": 0,
                  "type": 0
                },
                "name": "",
                "randomNumber": "",
                "txHash": ""
              },
              "issuer_specific_data": {
                "entire_response": "",
                "image_url": "",
                "name": ""
              },
              "price": 0
            },
            {
              "asset_contract": "0x5e74094cd416f55179dbd0e45b1a8ed030e396a1",
              "token_id": "671538",
              "owner": "0x6877654e79119a7f9a8182bb2389e797ca421d24",
              "external_link": "",
              "balance": 1,
              "nft_metadata": {
                "animation_url": "",
                "attributes": null,
                "background_color": "",
                "boosterId": 0,
                "description": "",
                "external_url": "",
                "id": "",
                "initialProbabilities": {
                  "background": 0,
                  "color": 0,
                  "glitter": 0,
                  "horn": 0,
                  "type": 0
                },
                "name": "",
                "randomNumber": "",
                "txHash": ""
              },
              "issuer_specific_data": {
                "entire_response": "",
                "image_url": "",
                "name": ""
              },
              "price": 0
            },
            {
              "asset_contract": "0x36633b70eac3d1c98a20a6ecef6033d1077372f5",
              "token_id": "1015322",
              "owner": "0x6877654e79119a7f9a8182bb2389e797ca421d24",
              "external_link": "https://api.dego.finance/bsccommon/gego-token-v2/1015322",
              "balance": 1,
              "nft_metadata": {
                "animation_url": "",
                "attributes": null,
                "background_color": "",
                "boosterId": 0,
                "description": "",
                "external_url": "",
                "id": "",
                "initialProbabilities": {
                  "background": 0,
                  "color": 0,
                  "glitter": 0,
                  "horn": 0,
                  "type": 0
                },
                "name": "",
                "randomNumber": "",
                "txHash": ""
              },
              "issuer_specific_data": {
                "entire_response": "{\"status\":10000,\"result\":{\"data\":{\"name\":\"Surf Ninja\",\"description\":\"Ocean air, salty hair, not a care. \",\"i18n_name\":\"nft_1060\",\"i18n_description\":\"nft_2060\",\"small_image\":\"https://dego.finance/upload/small/Seascape_1.jpg\",\"big_image\":\"https://dego.finance/upload/big/Seascape_1.jpg\",\"auction_image\":\"\",\"video\":\"\",\"id\":\"1015322\",\"external_url\":\"https://api.dego.finance/bsccommon/gego-token-v2/1015322\",\"attributes\":{\"grade\":\"1\",\"quality\":\"1630\",\"amount\":\"500000000000000000\",\"resBaseId\":\"10050\",\"tLevel\":\"2\",\"ruleId\":\"1050\",\"nftType\":\"3\",\"author\":\"0xC0AA0e6bC68D1f9Ef23D76B7d1985e3AE6247643\",\"erc20\":\"0xbcf39F0EDDa668C58371E519AF37CA705f2bFcbd\",\"createdTime\":\"1617110841\",\"blockNum\":\"6132683\",\"resId\":\"100001005021\",\"erc20_value\":\"0.5 pCWS\"}}}}",
                "image_url": "https://dego.finance/upload/small/Seascape_1.jpg",
                "name": "Surf Ninja"
              },
              "price": 0
            },
            {
              "asset_contract": "0xc014b45d680b5a4bf51ccda778a68d5251c14b5e",
              "token_id": "1360",
              "owner": "0x6877654e79119a7f9a8182bb2389e797ca421d24",
              "external_link": "https://ipfs.infura.io/ipfs/QmXHC65Hh2Szgt9qMAQHK5Xb9LMny8X8L3gNNC5KXG4Bbi",
              "balance": 1,
              "nft_metadata": {
                "animation_url": "",
                "attributes": null,
                "background_color": "",
                "boosterId": 0,
                "description": "",
                "external_url": "",
                "id": "",
                "initialProbabilities": {
                  "background": 0,
                  "color": 0,
                  "glitter": 0,
                  "horn": 0,
                  "type": 0
                },
                "name": "Poulpe",
                "randomNumber": "",
                "txHash": ""
              },
              "issuer_specific_data": {
                "entire_response": "{\n    \"name\": \"Poulpe\",\n    \"image\": \"https://d3ggs2vjn5heyw.cloudfront.net/images/Poulpe.png\"\n}",
                "image_url": "https://d3ggs2vjn5heyw.cloudfront.net/images/Poulpe.png",
                "name": "Poulpe"
              },
              "price": 0
            },
            {
              "asset_contract": "0xf5db804101d8600c26598a1ba465166c33cdaa4b",
              "token_id": "61691",
              "owner": "0x6877654e79119a7f9a8182bb2389e797ca421d24",
              "external_link": "https://air-nfts-prime.web.app/api/nfts/Monnas_116_1621660463747",
              "balance": 1,
              "nft_metadata": {
                "animation_url": "",
                "attributes": null,
                "background_color": "",
                "boosterId": 0,
                "description": "",
                "external_url": "",
                "id": "",
                "initialProbabilities": {
                  "background": 0,
                  "color": 0,
                  "glitter": 0,
                  "horn": 0,
                  "type": 0
                },
                "name": "",
                "randomNumber": "",
                "txHash": ""
              },
              "issuer_specific_data": {
                "entire_response": "{\"nft\":{\"description\":\"Monnas Name : Rasty\\n\\nOther Planets\",\"fileSize\":0.46579933166503906,\"image\":\"https://airnfts.s3.amazonaws.com/nft-images/20210522/Monnas_116_1621660463748.jpg\",\"category\":[],\"createdAt\":\"Sat, 22 May 2021 05:14:32 GMT\",\"price\":\"0.1\",\"priority\":1,\"urlThumbnail\":\"https://d1don5jg7yw08.cloudfront.net/828x650/nft-images/20210522/Monnas_116_1621660463748.jpg\",\"storageFeeTransaction\":\"0xb4a27303191769e1716eb0b4fd824f4dfd1fa15eef9dda89752c630718201d9b\",\"attributes\":[{\"value\":0.1,\"trait_type\":\"General\"}],\"tokenID\":\"61691\",\"creatorUsername\":\"Monnas_Collections\",\"verified\":true,\"ipfsUrl\":\"ipfs://__IPFS_HASH__Monnas_116_1621660463747\",\"baseID\":\"Monnas_116_1621660463747\",\"mintTransactionHash\":\"0x5d4e3f13f736db47eb908a1824db96352ba448657edc25bb2086c72292291273\",\"listed\":false,\"ownerAddress\":\"0x6877654e79119a7f9A8182BB2389E797CA421D24\",\"initialCreatorAddress\":\"0x023Ac3323CcACCEB409d475caC89BbE6d3d6832c\",\"urlCompressed\":\"https://d1don5jg7yw08.cloudfront.net/filters:quality(70)/nft-images/20210522/Monnas_116_1621660463748.jpg\",\"url\":\"https://airnfts.s3.amazonaws.com/nft-images/20210522/Monnas_116_1621660463748.jpg\",\"upvoteCount\":1,\"name\":\"Monnas #116\",\"urlMedium\":\"https://d1don5jg7yw08.cloudfront.net/nft-images/20210522/Monnas_116_1621660463748.jpg\",\"priceNumber\":0.1,\"createdAtTimestamp\":1621660472925,\"updatedAt\":1621660487881},\"owner\":{\"walletAddress\":\"0x6877654e79119a7f9A8182BB2389E797CA421D24\",\"airDropEvents\":[{\"receiver\":\"0x6877654e79119a7f9A8182BB2389E797CA421D24\",\"amount\":5,\"registeredOn\":1621762511231,\"transactionHash\":\"0x3780ce62c8a07efb9a208806ea86c18351a12b7ac01666ff0dc169802f31e679\"}],\"buys\":{\"airDropValue\":\"5\",\"numberOfBuy\":1,\"totalAmount\":0.1},\"hasAcceptedTerms\":true},\"creator\":{\"socialUrl\":\"https://twitter.com/monnas999\",\"upvotedNftIDs\":[\"37121\",\"50759\",\"52364\",\"49227\",\"50760\",\"45500\",\"50178\",\"54048\",\"54050\",\"55761\",\"55809\",\"52350\",\"51161\",\"53253\",\"54059\",\"54539\",\"45359\",\"40943\",\"45349\",\"48547\",\"49230\",\"48059\",\"51164\",\"45394\",\"45362\",\"48053\",\"45351\",\"49605\",\"45345\",\"45386\",\"54061\",\"53262\",\"56222\",\"55790\",\"51166\",\"55765\",\"55898\",\"52355\",\"53255\",\"45387\",\"58015\",\"45377\",\"58037\",\"58023\",\"52368\",\"58027\",\"58034\",\"58032\",\"54051\",\"58031\",\"62566\",\"60878\",\"48490\",\"61688\",\"60860\",\"63638\",\"60869\",\"60866\",\"61694\",\"61692\",\"60868\",\"61691\",\"60862\",\"60863\",\"60872\",\"60875\",\"60874\",\"77729\"],\"usernameLowerCase\":\"monnas_collections\",\"hasAcceptedTerms\":true,\"banned\":false,\"buys\":{\"totalAmount\":0.6538,\"numberOfBuy\":16,\"airDropValue\":\"32.69\"},\"userAvatarUrlCompressed\":\"https://d1don5jg7yw08.cloudfront.net/filters:quality(70)/profile-images/202109/0x023Ac3323CcACCEB409d475caC89BbE6d3d6832c_1620550194227.jpg\",\"userBio\":\"Digital Artist, Father of Monnas 999  unıeqe pieces \\n*Eternal 10/999*\\n*Gods 15/999*\\n*Angels 30/999*\\n*Art by Ravicon 30/999*\\n*Titans 50/999*\\n*Other Planets 864/999*\\n\",\"updatedAt\":1620900032826,\"notAllowedToMint\":false,\"airDropEvents\":[{\"receiver\":\"0x023Ac3323CcACCEB409d475caC89BbE6d3d6832c\",\"transactionHash\":\"0x09e599b086f31d9dd5ff0fe94e2b8af3bbee67a557082a5437ad46eb2acb918d\",\"registeredOn\":1621761216948,\"amount\":273.54},{\"amount\":56.35,\"receiver\":\"0x023Ac3323CcACCEB409d475caC89BbE6d3d6832c\",\"registeredOn\":1622979112789,\"transactionHash\":\"0xd61a29bcdbf3d807d2787eadb932aaffc6bd51f87e545444275004de07bfce83\"},{\"transactionHash\":\"0xaeeecd9e1eb825ef9f1bb6a43b5c0df394a7896c4e9fa21ca5aa8a84fc05d66d\",\"amount\":34.64999999999996,\"registeredOn\":1624188745265,\"receiver\":\"0x023Ac3323CcACCEB409d475caC89BbE6d3d6832c\"}],\"userAvatarUrlThumbnail\":\"https://d1don5jg7yw08.cloudfront.net/200x200/profile-images/202109/0x023Ac3323CcACCEB409d475caC89BbE6d3d6832c_1620550194227.jpg\",\"username\":\"Monnas_Collections\",\"walletAddress\":\"0x023Ac3323CcACCEB409d475caC89BbE6d3d6832c\",\"userAvatarUrl\":\"https://airnfts.s3.amazonaws.com/profile-images/202109/0x023Ac3323CcACCEB409d475caC89BbE6d3d6832c_1620550194227.jpg\",\"verified\":true},\"historyEvents\":[{\"doneOn\":\"Sat, 22 May 2021 09:56:30 GMT\",\"eventType\":\"SALE\",\"nftIDSold\":\"61691\",\"nftSoldAtPrice\":\"0.1\",\"transactionHash\":\"0xe6898b4d2517b50eb75783971ced9da261de8d81b66921751fe644b9939c4b0b\",\"buyer\":{\"airDropEvents\":[{\"transactionHash\":\"0x3780ce62c8a07efb9a208806ea86c18351a12b7ac01666ff0dc169802f31e679\",\"receiver\":\"0x6877654e79119a7f9A8182BB2389E797CA421D24\",\"amount\":5,\"registeredOn\":1621762511231}],\"accountCreatedAt\":1619109980320,\"walletAddress\":\"0x6877654e79119a7f9A8182BB2389E797CA421D24\",\"buys\":{\"numberOfBuy\":1,\"totalAmount\":0.1,\"airDropValue\":\"5\"},\"hasAcceptedTerms\":true},\"seller\":{\"usernameLowerCase\":\"monnas_collections\",\"sales\":{\"numberOfSales\":90,\"totalAmount\":6.637,\"airDropValue\":\"331.85\"},\"upvotedNftIDs\":[\"37121\",\"50759\",\"52364\",\"49227\",\"50760\",\"45500\",\"50178\",\"54048\",\"54050\",\"55761\",\"55809\",\"52350\",\"51161\",\"53253\",\"54059\",\"54539\",\"45359\",\"40943\",\"45349\",\"48547\",\"49230\",\"48059\",\"51164\",\"45394\",\"45362\",\"48053\",\"45351\",\"49605\",\"45345\",\"45386\",\"54061\",\"53262\",\"56222\",\"55790\",\"51166\",\"55765\",\"55898\",\"52355\",\"53255\",\"45387\",\"58015\",\"45377\",\"58037\",\"58023\",\"52368\",\"58027\",\"58034\",\"58032\",\"54051\",\"58031\",\"62566\",\"60878\",\"48490\",\"61688\",\"60860\",\"63638\",\"60869\",\"60866\",\"61694\",\"61692\",\"60868\",\"61691\",\"60862\",\"60863\",\"60872\",\"60875\",\"60874\",\"77729\"],\"userAvatarUrlCompressed\":\"https://d1don5jg7yw08.cloudfront.net/filters:quality(70)/profile-images/202109/0x023Ac3323CcACCEB409d475caC89BbE6d3d6832c_1620550194227.jpg\",\"notAllowedToMint\":false,\"verified\":true,\"userBio\":\"Digital Artist, Father of Monnas 999  unıeqe pieces \\n*Eternal 10/999*\\n*Gods 15/999*\\n*Angels 30/999*\\n*Art by Ravicon 30/999*\\n*Titans 50/999*\\n*Other Planets 864/999*\\n\",\"userAvatarUrl\":\"https://airnfts.s3.amazonaws.com/profile-images/202109/0x023Ac3323CcACCEB409d475caC89BbE6d3d6832c_1620550194227.jpg\",\"username\":\"Monnas_Collections\",\"accountCreatedAt\":1620316409541,\"banned\":false,\"airDropEvents\":[{\"amount\":273.54,\"receiver\":\"0x023Ac3323CcACCEB409d475caC89BbE6d3d6832c\",\"registeredOn\":1621761216948,\"transactionHash\":\"0x09e599b086f31d9dd5ff0fe94e2b8af3bbee67a557082a5437ad46eb2acb918d\"},{\"registeredOn\":1622979112789,\"transactionHash\":\"0xd61a29bcdbf3d807d2787eadb932aaffc6bd51f87e545444275004de07bfce83\",\"receiver\":\"0x023Ac3323CcACCEB409d475caC89BbE6d3d6832c\",\"amount\":56.35},{\"registeredOn\":1624188745265,\"amount\":34.64999999999996,\"transactionHash\":\"0xaeeecd9e1eb825ef9f1bb6a43b5c0df394a7896c4e9fa21ca5aa8a84fc05d66d\",\"receiver\":\"0x023Ac3323CcACCEB409d475caC89BbE6d3d6832c\"}],\"buys\":{\"numberOfBuy\":16,\"totalAmount\":0.6538,\"airDropValue\":\"32.69\"},\"socialUrl\":\"https://twitter.com/monnas999\",\"hasAcceptedTerms\":true,\"walletAddress\":\"0x023Ac3323CcACCEB409d475caC89BbE6d3d6832c\",\"updatedAt\":1620900032826,\"userAvatarUrlThumbnail\":\"https://d1don5jg7yw08.cloudfront.net/200x200/profile-images/202109/0x023Ac3323CcACCEB409d475caC89BbE6d3d6832c_1620550194227.jpg\"}},{\"nftIDSold\":\"61691\",\"transactionHash\":\"0x5d4e3f13f736db47eb908a1824db96352ba448657edc25bb2086c72292291273\",\"doneOn\":\"Sat, 22 May 2021 05:14:32 GMT\",\"eventType\":\"MINT\",\"mint
[...]
