{
  "openapi": "3.1.0",
  "info": {
    "title": "core-api",
    "version": "1.0",
    "description": "To get auth_key please log in to https://console.unmarshal.io"
  },
  "servers": [
    {
      "url": "https://api.unmarshal.com",
      "description": ""
    }
  ],
  "paths": {
    "/v1/{chain}/address/{address}/assets": {
      "parameters": [
        {
          "$ref": "#/components/parameters/chain"
        },
        {
          "$ref": "#/components/parameters/address"
        }
      ],
      "get": {
        "summary": "Token Balances",
        "tags": [
          "Wallet APIs"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Assets"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "operationId": "assets-details",
        "parameters": [],
        "description": "This endpoint allows you to retrieve balance tied to a particular address on a specific chain.The response of this API will let you understand in details about all your assets."
      }
    },
    "/v1/{chain}/address/{address}/transactions": {
      "parameters": [
        {
          "$ref": "#/components/parameters/chain"
        },
        {
          "$ref": "#/components/parameters/address"
        }
      ],
      "get": {
        "summary": "Transaction History V1",
        "tags": [
          "Wallet APIs"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Transactions"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "operationId": "transaction-history-v-1",
        "parameters": [
          {
            "$ref": "#/components/parameters/pageNo"
          },
          {
            "$ref": "#/components/parameters/pageSize"
          },
          {
            "$ref": "#/components/parameters/contract"
          }
        ],
        "description": "**The token transactions API fetches the list of all transactions in wallet address**\n\nOur Bank statements often let us understand the financial positions of a bank account. Similarly for a Crypto wallet , the transactions gives the wallet holder a detailed analysis of the inbound and out bound transfers thereby keeping the wallet apprised of all the happenings in their wallet. \n\nUnmarshal Transaction APIs are smart enough to differentiate the kind of operation a particular transaction was made for. It will let a user understand if the transaction was  was for a send or receive or the amount was staked or un-staked , or if the transactions was for adding or removing liquidity ."
      }
    },
    "/v2/{chain}/address/{address}/transactions": {
      "parameters": [
        {
          "name": "chain",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "default": "bsc",
            "enum": [
              "bsc",
              "matic",
              "ethereum"
            ],
            "example": "bsc"
          },
          "description": "Chain name (example: bsc, ethereum, matic...)"
        },
        {
          "name": "address",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "default": "demo.eth",
            "example": "0xfc43f5f9dd45258b3aff31bdbe6561d97e8b71de"
          },
          "description": "Any valid address or ENS"
        }
      ],
      "get": {
        "summary": "Transaction History V2",
        "tags": [
          "Wallet APIs"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Transactions-V2"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "operationId": "transaction-history-v-2",
        "parameters": [
          {
            "$ref": "#/components/parameters/pageNo"
          },
          {
            "$ref": "#/components/parameters/pageSize"
          },
          {
            "$ref": "#/components/parameters/contract"
          }
        ],
        "description": "**The token transactions API fetches the list of all transactions in wallet address**\n\nOur Bank statements often let us understand the financial positions of a bank account. Similarly for a Crypto wallet, the transactions gives the wallet holder a detailed analysis of the inbound and out bound transfers thereby keeping the wallet apprised of all the happenings in their wallet. \n\nUnmarshal Transaction APIs are smart enough to differentiate the kind of operation a particular transaction was made for. It will let a user understand if the transaction was  was for a send or receive or the amount was staked or un-staked , or if the transactions was for adding or removing liquidity .\n\n"
      }
    },
    "/v1/{chain}/transactions/{transactionHash}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/chain"
        },
        {
          "$ref": "#/components/parameters/transactionHash"
        }
      ],
      "get": {
        "summary": "Transaction Details",
        "tags": [
          "Wallet APIs"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/TransactionDetails"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "operationId": "transaction-details",
        "parameters": [],
        "description": "The transaction detail API is one such End Point which gives as much details possible for a specific transaction on a specific given chain.\n\n \nAll we need is the transaction hash and the entire history of the transaction is presented to anyone looking for all minor details pertaining to the particular transaction"
      }
    },
    "/v2/ethereum/address/{address}/userData": {
      "get": {
        "summary": "Profit and Loss",
        "tags": [
          "Wallet APIs"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/UserData"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "operationId": "get-profit-and-loss",
        "parameters": [
          {
            "in": "query",
            "name": "contract",
            "description": "Valid contract address",
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {}
              }
            }
          },
          "description": ""
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/address"
        }
      ]
    },
    "/v1/{chain}/address/{address}/nft-assets": {
      "parameters": [
        {
          "$ref": "#/components/parameters/address"
        },
        {
          "$ref": "#/components/parameters/chain"
        }
      ],
      "get": {
        "summary": "NFT assets by Address",
        "tags": [
          "NFTs"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Nft-assets"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "operationId": "nft-assets-by-address",
        "description": "NFT assets API gives the information about all the NFT assets held by a address on BSC and ethereum chain."
      }
    },
    "/v1/{chain}/address/{address}/nft-transactions": {
      "get": {
        "summary": "NFT Transactions by Address",
        "tags": [
          "NFTs"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Nft-transactions"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "operationId": "nft-transactions-by-address",
        "description": "NFT transactions API gives the list of transaction being made on given wallet address.",
        "parameters": [
          {
            "$ref": "#/components/parameters/pageNo"
          },
          {
            "$ref": "#/components/parameters/pageSize"
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/chain"
        },
        {
          "$ref": "#/components/parameters/address"
        }
      ]
    },
    "/v1/{chain}/address/{address}/details": {
      "get": {
        "summary": "NFT details by ID",
        "tags": [
          "NFTs"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Nft-details"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "operationId": "nft-details-by-id",
        "description": "This NFT gives  more details about a specific NFT based on NFT id.Basically the metadata of an NFT which is currently most sought after",
        "parameters": [
          {
            "in": "query",
            "name": "tokenId",
            "description": "Valid nft token Id of a requested nft contract",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/chain"
        },
        {
          "name": "address",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "Any valid Nft Contract address"
        }
      ]
    },
    "/v2/{chain}/address/{address}/details": {
      "get": {
        "summary": "NFT details of all tokenIds of a contract",
        "tags": [
          "NFTs"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Nft-details-V2"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "operationId": "nft-details-of-all-tokenIds-of-a-contract",
        "description": "This NFT gives more details about a specific NFT based on NFT id(if token Id not provided returns all token .Basically the metadata of an NFT which is currently most sought after",
        "parameters": [
          {
            "in": "query",
            "name": "tokenId",
            "description": "Valid nft token Id of a requested nft contract",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/pageNo"
          },
          {
            "$ref": "#/components/parameters/pageSize"
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/chain"
        },
        {
          "name": "address",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "Any valid Nft Contract address"
        }
      ]
    },
    "/v1/{chain}/contract/{address}/nft-transactions": {
      "get": {
        "summary": "Get Nft Contract Transactions ",
        "tags": [
          "NFTs"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Nft-transactions-V2"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "operationId": "nft-contract-transactions",
        "description": "Get all the contract transactions of an nft, also filter all the transactions of a particular token Id of the contract (optional)",
        "parameters": [
          {
            "in": "query",
            "name": "tokenId",
            "description": "Valid nft token Id of a requested nft contract",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/pageNo"
          },
          {
            "$ref": "#/components/parameters/pageSize"
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/chain"
        },
        {
          "name": "address",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "Any valid Nft Contract address"
        }
      ]
    },
    "/v1/{chain}/contract/{address}/tokenIds": {
      "get": {
        "summary": "Get all token ids available for a nft contract",
        "tags": [
          "NFTs"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Nft-details"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "operationId": "nft-tokenIds-of-a-contract",
        "description": "This Endpoint returns all token Ids available for the specified contract"
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/chain"
        },
        {
          "name": "address",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "Any valid Nft Contract address"
        }
      ]
    },
    "/v1/{chain}/address/{address}/nftholders": {
      "get": {
        "summary": "NFT holders by id",
        "tags": [
          "NFTs"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Nft-holders"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "operationId": "nft-holders-by-id",
        "description": "This api gives history of owners for a given NFT.",
        "parameters": [
          {
            "in": "query",
            "name": "tokenId",
            "description": "Valid nft token Id of a requested nft contract",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "parameters": [
        {
          "name": "address",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "Any valid Nft Contract address"
        },
        {
          "$ref": "#/components/parameters/chain"
        }
      ]
    },
    "/v1/pricestore/{symbol}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/symbol"
        }
      ],
      "get": {
        "summary": "Get Price by Symbol",
        "tags": [
          "Price Store"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Symbol"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "operationId": "get-v1-pricestore-symbol",
        "parameters": [
          {
            "$ref": "#/components/parameters/timestamp"
          }
        ],
        "description": "This api provides price of token by taking the symbol of the token(ticker) as a parameter which will give latest price, timestamp can also be provided as a query param to get historical data."
      }
    },
    "/v1/pricestore/chain/{chain}/{address}": {
      "get": {
        "summary": "Get Price by Address",
        "tags": [
          "Price Store"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Address"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "operationId": "get-v1-pricestore",
        "description": "This api provides price of a token by taking the address of the token(contract of token) in any chain such as Ethereum, Matic and Binance, timestamp can be provided as a query parameter to view historical data.",
        "parameters": [
          {
            "$ref": "#/components/parameters/timestamp"
          },
          {
            "$ref": "#/components/parameters/24hchange"
          },
          {
            "$ref": "#/components/parameters/alternateChain"
          }
        ]
      },
      "parameters": [
        {
          "name": "chain",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "Chain name (example: bsc, ethereum, matic...)"
        },
        {
          "name": "address",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "Any valid token address"
        }
      ]
    },
    "/v1/pricestore/chain/{chain}/tokens": {
      "get": {
        "summary": "Get Price for multiple Token Addresses",
        "tags": [
          "Price Store"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Tokens"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "operationId": "get-v1-pricestore-chain-ethereum-tokens",
        "description": "This api takes multiple contract addresses to provide price data at once, timestamp can be provided as a query parameter to view historical data. multiple contracts have to given in comma(,) separated.",
        "parameters": [
          {
            "$ref": "#/components/parameters/tokens"
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/chain"
        }
      ]
    },
    "/v1/pricestore/chain/{chain}/gainers": {
      "get": {
        "summary": "Top Gainers",
        "tags": [
          "Price Store"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Gainers"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "operationId": "top-gainers",
        "description": "API provides a list of top gainers in a particular chain. the data contains biggest gainers in last 24 hours.",
        "parameters": [
          {
            "$ref": "#/components/parameters/price"
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/chain"
        }
      ]
    },
    "/v1/pricestore/chain/{chain}/losers": {
      "parameters": [
        {
          "$ref": "#/components/parameters/chain"
        }
      ],
      "get": {
        "summary": "Top Losers",
        "tags": [
          "Price Store"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Losers"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "operationId": "get-v1-pricestore-chain-losers",
        "description": "API provides a list of top losers in a particular chain. the data contains biggest losers in last 24 hours.",
        "parameters": [
          {
            "$ref": "#/components/parameters/price"
          }
        ]
      }
    },
    "/v1/pricestore/chain/{chain}/lptokens": {
      "get": {
        "summary": "Price for LP Tokens",
        "tags": [
          "Price Store"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/LpTokens"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "operationId": "price-for-lp-tokens",
        "description": "This api provides the price for LP tokens by taking in the address of the Lp tokens.",
        "parameters": [
          {
            "$ref": "#/components/parameters/lptokens"
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/chain"
        }
      ]
    },
    "/v1/tokenstore/token/address/{address}": {
      "get": {
        "summary": "Details for Token Contract",
        "tags": [
          "Token Store"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/TokenDetails"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "operationId": "details-for-token-contract",
        "description": "when searched by token contract address, it fetches exhaustive information of the token."
      },
      "parameters": [
        {
          "name": "address",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "Any valid token address"
        }
      ]
    },
    "/v1/tokenstore/token/symbol/{symbol}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/symbol"
        }
      ],
      "get": {
        "summary": "Details for Token Symbol",
        "tags": [
          "Token Store"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SymbolDetails"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "operationId": "details-for-token-symbol",
        "description": "when searched with the ticker name of any token, it returns detailed information of the token within the blockchains it exists in."
      }
    },
    "/v1/tokenstore/token/all": {
      "get": {
        "summary": "List of all Token",
        "tags": [
          "Token Store"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/All-tokens"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "operationId": "list-of-all-token",
        "description": "when searched with string “list”, it pulls the list of all the tokens that exist on Ethereum, BSC and Polygon",
        "parameters": [
          {
            "$ref": "#/components/parameters/pageNo"
          },
          {
            "$ref": "#/components/parameters/pageSize"
          }
        ]
      }
    },
    "/v2/{pair}/top-traders": {
      "get": {
        "summary": "Top Traders",
        "tags": [
          "Top Traders"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "description": "",
                  "minItems": 1,
                  "uniqueItems": true,
                  "x-examples": {
                    "example-1": [
                      {
                        "user_address": "0xf59742b240426fdc41d61954a49f55f2a377313d",
                        "number_of_transactions": 205,
                        "total_value_bought": 132343.48699951172,
                        "total_value_sold": 281512.8594894409,
                        "total_value_traded": 413856.34648895264,
                        "trade_value_per_transaction": 2018.8114462875737,
                        "net_value_bought": -149169.3724899292,
                        "total_usd_value_bought": 101478.3389614856,
                        "total_usd_value_sold": 215858.4303993135,
                        "total_usd_value_traded": 317336.7693607991,
                        "trade_usd_value_per_transaction": 1547.9842407843857,
                        "net_usd_value_bought": -114380.09143782791
                      },
                      {
                        "user_address": "0x62d5e272a28f1d697bba571c12d0009a61eeb768",
                        "number_of_transactions": 41,
                        "total_value_bought": 87583.07312011719,
                        "total_value_sold": 0,
                        "total_value_traded": 87583.07312011719,
                        "trade_value_per_transaction": 2136.1725151248093,
                        "net_value_bought": 87583.07312011719,
                        "total_usd_value_bought": 67156.94880704346,
                        "total_usd_value_traded": 67156.94880704346,
                        "trade_usd_value_per_transaction": 1637.9743611474012,
                        "net_usd_value_bought": 67156.94880704346
                      }
                    ]
                  },
                  "items": {
                    "type": "object",
                    "properties": {
                      "user_address": {
                        "type": "string",
                        "minLength": 1
                      },
                      "number_of_transactions": {
                        "type": "number"
                      },
                      "total_value_bought": {
                        "type": "number"
                      },
                      "total_value_sold": {
                        "type": "number"
                      },
                      "total_value_traded": {
                        "type": "number"
                      },
                      "trade_value_per_transaction": {
                        "type": "number"
                      },
                      "net_value_bought": {
                        "type": "number"
                      },
                      "total_usd_value_bought": {
                        "type": "number"
                      },
                      "total_usd_value_sold": {
                        "type": "number"
                      },
                      "total_usd_value_traded": {
                        "type": "number"
                      },
                      "trade_usd_value_per_transaction": {
                        "type": "number"
                      },
                      "net_usd_value_bought": {
                        "type": "number"
                      }
                    }
                  }
                },
                "examples": {
                  "top-traders": {
                    "value": [
                      {
                        "user_address": "0xf59742b240426fdc41d61954a49f55f2a377313d",
                        "number_of_transactions": 205,
                        "total_value_bought": 132343.48699951172,
                        "total_value_sold": 281512.8594894409,
                        "total_value_traded": 413856.34648895264,
                        "trade_value_per_transaction": 2018.8114462875737,
                        "net_value_bought": -149169.3724899292,
                        "total_usd_value_bought": 101478.3389614856,
                        "total_usd_value_sold": 215858.4303993135,
                        "total_usd_value_traded": 317336.7693607991,
                        "trade_usd_value_per_transaction": 1547.9842407843857,
                        "net_usd_value_bought": -114380.09143782791
                      },
                      {
                        "user_address": "0x62d5e272a28f1d697bba571c12d0009a61eeb768",
                        "number_of_transactions": 41,
                        "total_value_bought": 87583.07312011719,
                        "total_value_sold": 0,
                        "total_value_traded": 87583.07312011719,
                        "trade_value_per_transaction": 2136.1725151248093,
                        "net_value_bought": 87583.07312011719,
                        "total_usd_value_bought": 67156.94880704346,
                        "total_usd_value_traded": 67156.94880704346,
                        "trade_usd_value_per_transaction": 1637.9743611474012,
                        "net_usd_value_bought": 67156.94880704346
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "operationId": "top-traders",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "default": "0x2fa5daf6fe0708fbd63b1a7d1592577284f52256",
              "example": "0x2fa5daf6fe0708fbd63b1a7d1592577284f52256"
            },
            "in": "query",
            "name": "token",
            "description": "Token address",
            "required": true
          }
        ],
        "description": "This endpoint will return top-traders for a given pair."
      },
      "parameters": [
        {
          "schema": {
            "type": "string",
            "enum": [
              "marsh-bnb"
            ],
            "default": "marsh-bnb"
          },
          "name": "pair",
          "in": "path",
          "required": true,
          "description": "pair name"
        }
      ]
    }
  },
  "components": {
    "schemas": {
      "Asset": {
        "description": "",
        "type": "object",
        "x-examples": {
          "example-1": {
            "contract_name": "Tether USD",
            "contract_ticker_symbol": "USDT",
            "contract_decimals": 6,
            "contract_address": "0xdac17f958d2ee523a2206206994597c13d831ec7",
            "coin": 60,
            "type": "ERC20",
            "balance": "6510901690",
            "quote": 6510.3677960614195,
            "quote_rate": 0.999918,
            "logo_url": "https://assets.unmarshal.io/tokens/0xdAC17F958D2ee523a2206206994597C13D831ec7.png",
            "quote_rate_24h": "-0.001261133398",
            "quote_pct_change_24h": -0.12596
          }
        },
        "properties": {
          "contract_name": {
            "type": "string"
          },
          "contract_ticker_symbol": {
            "type": "string"
          },
          "contract_decimals": {
            "type": "number"
          },
          "contract_address": {
            "type": "string"
          },
          "coin": {
            "type": "number"
          },
          "type": {
            "type": "string"
          },
          "balance": {
            "type": "string"
          },
          "quote": {
            "type": "number"
          },
          "quote_rate": {
            "type": "number"
          },
          "logo_url": {
            "type": "string"
          },
          "quote_rate_24h": {
            "type": "string"
          },
          "quote_pct_change_24h": {
            "type": "number"
          }
        },
        "examples": [
          {
            "contract_name": "Tether USD",
            "contract_ticker_symbol": "USDT",
            "contract_decimals": 6,
            "contract_address": "0xdac17f958d2ee523a2206206994597c13d831ec7",
            "coin": 60,
            "type": "ERC20",
            "balance": "6510901690",
            "quote": 6510.90169,
            "quote_rate": 1,
            "logo_url": "https://assets.unmarshal.io/tokens/0xdAC17F958D2ee523a2206206994597C13D831ec7.png",
            "quote_rate_24h": "-0.001800703559",
            "quote_pct_change_24h": -0.17958
          }
        ],
        "x-extension-2": null
      },
      "Transaction": {
        "description": "",
        "type": "object",
        "x-examples": {
          "example-1": {
            "id": "0x791ae5b7b88c16b08b6bf495398361cb7d159565d0b47fd0e4bf01ea20590e0f",
            "from": "0xfc43f5f9dd45258b3aff31bdbe6561d97e8b71de",
            "to": "0x0e09fabb73bd3ade0a17ecc321fd13a19e81ce82",
            "fee": "844170000000000",
            "date": 1637062591,
            "status": "completed",
            "type": "approve",
            "block": 12695519,
            "value": "0",
            "nonce": 253,
            "description": "Approved Cake",
            "sent": [
              {
                "name": "PancakeSwap Token",
                "symbol": "Cake",
                "token_id": "0x0e09fabb73bd3ade0a17ecc321fd13a19e81ce82",
                "decimals": 18,
                "value": "",
                "quoteRate": 588.572102363127,
                "logo_url": "https://assets.unmarshal.io/tokens/0x0E09FaBB73Bd3Ade0a17ECC321fD13a19e81cE82.png",
                "from": "0xfc43f5f9dd45258b3aff31bdbe6561d97e8b71de",
                "to": "0x0e09fabb73bd3ade0a17ecc321fd13a19e81ce82"
              }
            ],
            "received": [
              {
                "name": "Pancake LPs",
                "symbol": "Cake-LP",
                "token_id": "0xf23bad605e94de0e3b60c9718a43a94a5af43915",
                "decimals": 18,
                "value": "448567485887273384",
                "logo_url": "https://assets.unmarshal.io/tokens/0xF23BAD605E94dE0e3B60c9718a43A94A5aF43915.png",
                "from": "0x4cfeb7cb8a854c69d9b796b4ab624c3f1051917a",
                "to": "0xfc43f5f9dd45258b3aff31bdbe6561d97e8b71de"
              },
              {
                "name": "PancakeSwap Token",
                "symbol": "Cake",
                "token_id": "0x0e09fabb73bd3ade0a17ecc321fd13a19e81ce82",
                "decimals": 18,
                "value": "6817696867068044",
                "quoteRate": 15.38,
                "logo_url": "https://assets.unmarshal.io/tokens/0x0E09FaBB73Bd3Ade0a17ECC321fD13a19e81cE82.png",
                "from": "0x88152382cfba5c98a8c281c8aab05b7a1c69d090",
                "to": "0xfc43f5f9dd45258b3aff31bdbe6561d97e8b71de"
              }
            ],
            "others": [
              {
                "name": "PancakeSwap Token",
                "symbol": "Cake",
                "token_id": "0x0e09fabb73bd3ade0a17ecc321fd13a19e81ce82",
                "decimals": 18,
                "value": "321920952685688846",
                "quoteRate": 15.38,
                "logo_url": "https://assets.unmarshal.io/tokens/0x0E09FaBB73Bd3Ade0a17ECC321fD13a19e81cE82.png",
                "from": "0x0000000000000000000000000000000000000000",
                "to": "0xceba60280fb0ecd9a5a26a1552b90944770a4a0e"
              },
              {
                "name": "PancakeSwap Token",
                "symbol": "Cake",
                "token_id": "0x0e09fabb73bd3ade0a17ecc321fd13a19e81ce82",
                "decimals": 18,
                "value": "4138176711369609559",
                "quoteRate": 15.38,
                "logo_url": "https://assets.unmarshal.io/tokens/0x0E09FaBB73Bd3Ade0a17ECC321fD13a19e81cE82.png",
                "from": "0x009cf7bc57584b7998236eff51b98a168dcea9b0",
                "to": "0x08cb1fef6649e4bf3558178329de925ec8db6210"
              },
              {
                "name": "PancakeSwap Token",
                "symbol": "Cake",
                "token_id": "0x0e09fabb73bd3ade0a17ecc321fd13a19e81ce82",
                "decimals": 18,
                "value": "3219209526856888468",
                "quoteRate": 15.38,
                "logo_url": "https://assets.unmarshal.io/tokens/0x0E09FaBB73Bd3Ade0a17ECC321fD13a19e81cE82.png",
                "from": "0x0000000000000000000000000000000000000000",
                "to": "0x009cf7bc57584b7998236eff51b98a168dcea9b0"
              },
              {
                "name": "Pancake LPs",
                "symbol": "Cake-LP",
                "token_id": "0xf23bad605e94de0e3b60c9718a43a94a5af43915",
                "decimals": 18,
                "value": "523728740395827718",
                "logo_url": "https://assets.unmarshal.io/tokens/0xF23BAD605E94dE0e3B60c9718a43A94A5aF43915.png",
                "from": "0x08cb1fef6649e4bf3558178329de925ec8db6210",
                "to": "0x73feaa1ee314f8c655e354234017be2193c9e24e"
              },
              {
                "name": "Hot Yield HOTCROSS-BNB PCS V2",
                "symbol": "HY-HOTCROSS-BNB-PCS-V2",
                "token_id": "0x9bff65a94c56f7173406f9b417b2bb81bf233965",
                "decimals": 18,
                "value": "522412834863199063",
                "logo_url": "https://assets.unmarshal.io/tokens/0x9Bff65A94C56F7173406f9B417B2Bb81bf233965.png",
                "from": "0x0000000000000000000000000000000000000000",
                "to": "0xfc43f5f9dd45258b3aff31bdbe6561d97e8b71de"
              }
            ]
          }
        },
        "properties": {
          "id": {
            "type": "string"
          },
          "from": {
            "type": "string"
          },
          "to": {
            "type": "string"
          },
          "fee": {
            "type": "string"
          },
          "date": {
            "type": "number"
          },
          "status": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "block": {
            "type": "number"
          },
          "value": {
            "type": "string"
          },
          "nonce": {
            "type": "number"
          },
          "description": {
            "type": "string"
          },
          "sent": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Transfer"
            }
          },
          "received": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Transfer"
            }
          },
          "others": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Transfer"
            }
          }
        }
      },
      "Transaction-V2": {
        "description": "",
        "type": "object",
        "x-examples": {
          "example-1": {
            "id": "0x791ae5b7b88c16b08b6bf495398361cb7d159565d0b47fd0e4bf01ea20590e0f",
            "from": "0xfc43f5f9dd45258b3aff31bdbe6561d97e8b71de",
            "to": "0x0e09fabb73bd3ade0a17ecc321fd13a19e81ce82",
            "fee": "844170000000000",
            "date": 1637062591,
            "status": "completed",
            "type": "approve",
            "block": 12695519,
            "value": "0",
            "nonce": 253,
            "description": "Approved Cake",
            "sent": [
              {
                "name": "PancakeSwap Token",
                "symbol": "Cake",
                "token_id": "0x0e09fabb73bd3ade0a17ecc321fd13a19e81ce82",
                "decimals": 18,
                "value": "",
                "quoteRate": 588.572102363127,
                "logo_url": "https://assets.unmarshal.io/tokens/0x0E09FaBB73Bd3Ade0a17ECC321fD13a19e81cE82.png",
                "from": "0xfc43f5f9dd45258b3aff31bdbe6561d97e8b71de",
                "to": "0x0e09fabb73bd3ade0a17ecc321fd13a19e81ce82"
              }
            ],
            "received": [
              {
                "name": "Pancake LPs",
                "symbol": "Cake-LP",
                "token_id": "0xf23bad605e94de0e3b60c9718a43a94a5af43915",
                "decimals": 18,
                "value": "448567485887273384",
                "logo_url": "https://assets.unmarshal.io/tokens/0xF23BAD605E94dE0e3B60c9718a43A94A5aF43915.png",
                "from": "0x4cfeb7cb8a854c69d9b796b4ab624c3f1051917a",
                "to": "0xfc43f5f9dd45258b3aff31bdbe6561d97e8b71de"
              },
              {
                "name": "PancakeSwap Token",
                "symbol": "Cake",
                "token_id": "0x0e09fabb73bd3ade0a17ecc321fd13a19e81ce82",
                "decimals": 18,
                "value": "6817696867068044",
                "quoteRate": 15.38,
                "logo_url": "https://assets.unmarshal.io/tokens/0x0E09FaBB73Bd3Ade0a17ECC321fD13a19e81cE82.png",
                "from": "0x88152382cfba5c98a8c281c8aab05b7a1c69d090",
                "to": "0xfc43f5f9dd45258b3aff31bdbe6561d97e8b71de"
              }
            ],
            "others": [
              {
                "name": "PancakeSwap Token",
                "symbol": "Cake",
                "token_id": "0x0e09fabb73bd3ade0a17ecc321fd13a19e81ce82",
                "decimals": 18,
                "value": "321920952685688846",
                "quoteRate": 15.38,
                "logo_url": "https://assets.unmarshal.io/tokens/0x0E09FaBB73Bd3Ade0a17ECC321fD13a19e81cE82.png",
                "from": "0x0000000000000000000000000000000000000000",
                "to": "0xceba60280fb0ecd9a5a26a1552b90944770a4a0e"
              },
              {
                "name": "PancakeSwap Token",
                "symbol": "Cake",
                "token_id": "0x0e09fabb73bd3ade0a17ecc321fd13a19e81ce82",
                "decimals": 18,
                "value": "4138176711369609559",
                "quoteRate": 15.38,
                "logo_url": "https://assets.unmarshal.io/tokens/0x0E09FaBB73Bd3Ade0a17ECC321fD13a19e81cE82.png",
                "from": "0x009cf7bc57584b7998236eff51b98a168dcea9b0",
                "to": "0x08cb1fef6649e4bf3558178329de925ec8db6210"
              },
              {
                "name": "PancakeSwap Token",
                "symbol": "Cake",
                "token_id": "0x0e09fabb73bd3ade0a17ecc321fd13a19e81ce82",
                "decimals": 18,
                "value": "3219209526856888468",
                "quoteRate": 15.38,
                "logo_url": "https://assets.unmarshal.io/tokens/0x0E09FaBB73Bd3Ade0a17ECC321fD13a19e81cE82.png",
                "from": "0x0000000000000000000000000000000000000000",
                "to": "0x009cf7bc57584b7998236eff51b98a168dcea9b0"
              },
              {
                "name": "Pancake LPs",
                "symbol": "Cake-LP",
                "token_id": "0xf23bad605e94de0e3b60c9718a43a94a5af43915",
                "decimals": 18,
                "value": "523728740395827718",
                "logo_url": "https://assets.unmarshal.io/tokens/0xF23BAD605E94dE0e3B60c9718a43A94A5aF43915.png",
                "from": "0x08cb1fef6649e4bf3558178329de925ec8db6210",
                "to": "0x73feaa1ee314f8c655e354234017be2193c9e24e"
              },
              {
                "name": "Hot Yield HOTCROSS-BNB PCS V2",
                "symbol": "HY-HOTCROSS-BNB-PCS-V2",
                "token_id": "0x9bff65a94c56f7173406f9b417b2bb81bf233965",
                "decimals": 18,
                "value": "522412834863199063",
                "logo_url": "https://assets.unmarshal.io/tokens/0x9Bff65A94C56F7173406f9B417B2Bb81bf233965.png",
                "from": "0x0000000000000000000000000000000000000000",
                "to": "0xfc43f5f9dd45258b3aff31bdbe6561d97e8b71de"
              }
            ]
          }
        },
        "properties": {
          "id": {
            "type": "string"
          },
          "from": {
            "type": "string"
          },
          "to": {
            "type": "string"
          },
          "fee": {
            "type": "string"
          },
          "date": {
            "type": "number"
          },
          "status": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "block": {
            "type": "number"
          },
          "value": {
            "type": "string"
          },
          "nonce": {
            "type": "number"
          },
          "description": {
            "type": "string"
          },
          "sent": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Transfer-V2"
            }
          },
          "received": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Transfer-V2"
            }
          },
          "others": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Transfer-V2"
            }
          }
        }
      },
      "Transfer": {
        "description": "",
        "type": "object",
        "x-examples": {
          "example-1": {
            "name": "PancakeSwap Token",
            "symbol": "Cake",
            "token_id": "0x0e09fabb73bd3ade0a17ecc321fd13a19e81ce82",
            "decimals": 18,
            "value": "500000000000000000",
            "quoteRate": 17.97815888361184,
            "logo_url": "https://assets.unmarshal.io/tokens/0x0E09FaBB73Bd3Ade0a17ECC321fD13a19e81cE82.png",
            "from": "0xfc43f5f9dd45258b3aff31bdbe6561d97e8b71de",
            "to": "0xfdff29dd0b4dd49bf5e991a30b8593eaa34b4580"
          }
        },
        "properties": {
          "name": {
            "type": "string"
          },
          "symbol": {
            "type": "string"
          },
          "token_id": {
            "type": "string"
          },
          "decimals": {
            "type": "number"
          },
          "value": {
            "type": "string"
          },
          "logo_url": {
            "type": "string"
          },
          "from": {
            "type": "string"
          },
          "to": {
            "type": "string"
          }
        },
        "examples": [
          {
            "name": "PancakeSwap Token",
            "symbol": "Cake",
            "token_id": "0x0e09fabb73bd3ade0a17ecc321fd13a19e81ce82",
            "decimals": 18,
            "value": "500000000000000000",
            "quoteRate": 17.97815888361184,
            "logo_url": "https://assets.unmarshal.io/tokens/0x0E09FaBB73Bd3Ade0a17ECC321fD13a19e81cE82.png",
            "from": "0xfc43f5f9dd45258b3aff31bdbe6561d97e8b71de",
            "to": "0xfdff29dd0b4dd49bf5e991a30b8593eaa34b4580"
          }
        ]
      },
      "Transfer-V2": {
        "description": "It has historic quote rate",
        "type": "object",
        "x-examples": {
          "example-1": {
            "name": "PancakeSwap Token",
            "symbol": "Cake",
            "token_id": "0x0e09fabb73bd3ade0a17ecc321fd13a19e81ce82",
            "decimals": 18,
            "value": "500000000000000000",
            "quoteRate": 17.97815888361184,
            "logo_url": "https://assets.unmarshal.io/tokens/0x0E09FaBB73Bd3Ade0a17ECC321fD13a19e81cE82.png",
            "from": "0xfc43f5f9dd45258b3aff31bdbe6561d97e8b71de",
            "to": "0xfdff29dd0b4dd49bf5e991a30b8593eaa34b4580"
          }
        },
        "properties": {
          "name": {
            "type": "string"
          },
          "symbol": {
            "type": "string"
          },
          "token_id": {
            "type": "string"
          },
          "decimals": {
            "type": "number"
          },
          "value": {
            "type": "string"
          },
          "quoteRate": {
            "type": "number"
          },
          "logo_url": {
            "type": "string"
          },
          "from": {
            "type": "string"
          },
          "to": {
            "type": "string"
          }
        },
        "title": ""
      },
      "Transaction-details": {
        "description": "",
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "from": {
            "type": "string"
          },
          "to": {
            "type": "string"
          },
          "fee": {
            "type": "string"
          },
          "date": {
            "type": "number"
          },
          "status": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "block": {
            "type": "number"
          },
          "value": {
            "type": "string"
          },
          "nonce": {
            "type": "number"
          },
          "description": {
            "type": "string"
          },
          "sent": {
            "type": "array",
            "items": {
              "required": [],
              "properties": {
                "name": {
                  "type": "string"
                },
                "symbol": {
                  "type": "string"
                },
                "token_id": {
                  "type": "string"
                },
                "decimals": {
                  "type": "number"
                },
                "value": {
                  "type": "string"
                },
                "logo_url": {
                  "type": "string"
                },
                "from": {
                  "type": "string"
                },
                "to": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-examples": {
          "example-1": {
            "id": "0xddce618f5f00a5b0c857b5395ab5094cf097cf4be297f7be1705b56f60d50d58",
            "from": "0x986a2fca9eda0e06fbf7839b89bfc006ee2a23dd",
            "to": "0xdac17f958d2ee523a2206206994597c13d831ec7",
            "fee": "629387850000000",
            "date": 1626025576,
            "status": "completed",
            "type": "send",
            "block": 12807446,
            "value": "0",
            "nonce": 407959,
            "description": "Sent 72.4438 USDT",
            "sent": [
              {
                "name": "Tether USD",
                "symbol": "USDT",
                "token_id": "0xdAC17F958D2ee523a2206206994597C13D831ec7",
                "decimals": 6,
                "value": "72443800",
                "logo_url": "https://assets.unmarshal.io/tokens/0xdAC17F958D2ee523a2206206994597C13D831ec7.png",
                "from": "0x986a2fca9eda0e06fbf7839b89bfc006ee2a23dd",
                "to": "0xac09b78e7fa259d3b914d74052a54ee460240f5a"
              }
            ]
          }
        }
      },
      "Nft-assets": {
        "type": "array",
        "description": "",
        "uniqueItems": true,
        "x-examples": {
          "example-1": [
            {
              "asset_contract": "0xc54b96b04aa8828b63cf250408e1084e9f6ac6c8",
              "token_id": "14701",
              "owner": "0x6877654e79119a7f9a8182bb2389e797ca421d24",
              "external_link": "https://bsc-api.seascape.network/nft/metadata/14701",
              "balance": 1,
              "nft_metadata": {
                "animation_url": "",
                "attributes": [
                  {
                    "trait_type": "QUALITY",
                    "value": "Common"
                  },
                  {
                    "trait_type": "Generation",
                    "value": 0
                  },
                  {
                    "trait_type": "Power",
                    "value": 600,
                    "display_type": "boost_number"
                  }
                ],
                "background_color": "",
                "boosterId": 0,
                "description": "I reckon we ought to make ourselves acquainted. I'm Edmund Mildenhall III, but my friend's call me Thump - Common. Now you just gonna just stand there, or come over here and wrestle me like a man!",
                "external_url": "https://api.seascape.network/nft/metadata/14701",
                "id": "",
                "initialProbabilities": {
                  "background": 0,
                  "color": 0,
                  "glitter": 0,
                  "horn": 0,
                  "type": 0
                },
                "name": "Thump - Common",
                "randomNumber": "",
                "txHash": ""
              },
              "issuer_specific_data": {
                "entire_response": "{\"attributes\":[{\"trait_type\":\"QUALITY\",\"value\":\"Common\"},{\"trait_type\":\"Generation\",\"value\":0},{\"display_type\":\"boost_number\",\"trait_type\":\"Power\",\"value\":600}],\"description\":\"I reckon we ought to make ourselves acquainted. I'm Edmund Mildenhall III, but my friend's call me Thump - Common. Now you just gonna just stand there, or come over here and wrestle me like a man!\",\"external_url\":\"https://api.seascape.network/nft/metadata/14701\",\"image\":\"https://cdn.seascape.network/nfts/1.gif\",\"name\":\"Thump - Common\"}",
                "image_url": "https://cdn.seascape.network/nfts/1.gif",
                "name": "Thump - Common"
              },
              "price": 0
            },
            {
              "asset_contract": "0xc54b96b04aa8828b63cf250408e1084e9f6ac6c8",
              "token_id": "14961",
              "owner": "0x6877654e79119a7f9a8182bb2389e797ca421d24",
              "external_link": "https://bsc-api.seascape.network/nft/metadata/14961",
              "balance": 1,
              "nft_metadata": {
                "animation_url": "",
                "attributes": [
                  {
                    "trait_type": "QUALITY",
                    "value": "Common"
                  },
                  {
                    "trait_type": "Generation",
                    "value": 0
                  },
                  {
                    "trait_type": "Power",
                    "value": 600,
                    "display_type": "boost_number"
                  }
                ],
                "background_color": "",
                "boosterId": 0,
                "description": "Hullo! I am Armstrong and I am very strong. My hobbies include lifting, petting small animals, and earning Crowns. Shall we be friends?",
                "external_url": "https://api.seascape.network/nft/metadata/14961",
                "id": "",
                "initialProbabilities": {
                  "background": 0,
                  "color": 0,
                  "glitter": 0,
                  "horn": 0,
                  "type": 0
                },
                "name": "Armstrong - Common",
                "randomNumber": "",
                "txHash": ""
              },
              "issuer_specific_data": {
                "entire_response": "{\"attributes\":[{\"trait_type\":\"QUALITY\",\"value\":\"Common\"},{\"trait_type\":\"Generation\",\"value\":0},{\"display_type\":\"boost_number\",\"trait_type\":\"Power\",\"value\":600}],\"description\":\"Hullo! I am Armstrong and I am very strong. My hobbies include lifting, petting small animals, and earning Crowns. Shall we be friends?\",\"external_url\":\"https://api.seascape.network/nft/metadata/14961\",\"image\":\"https://cdn.seascape.network/nfts/4.gif\",\"name\":\"Armstrong - Common\"}",
                "image_url": "https://cdn.seascape.network/nfts/4.gif",
                "name": "Armstrong - Common"
              },
              "price": 0
            },
            {
              "asset_contract": "0xdf7952b35f24acf7fc0487d01c8d5690a60dba07",
              "token_id": "15125",
              "owner": "0x6877654e79119a7f9a8182bb2389e797ca421d24",
              "external_link": "https://unmarshal.mypinata.cloud/ipfs/QmRi6ddN4Z4zkGPZ1gF74iJaGV7vZr7G8V2KHEtLRcPmYg/bullish.json",
              "balance": 1,
              "nft_metadata": {
                "animation_url": "",
                "attributes": null,
                "background_color": "",
                "boosterId": 0,
                "description": "",
                "external_url": "",
                "id": "",
                "initialProbabilities": {
                  "background": 0,
                  "color": 0,
                  "glitter": 0,
                  "horn": 0,
                  "type": 0
                },
                "name": "",
                "randomNumber": "",
                "txHash": ""
              },
              "issuer_specific_data": {
                "entire_response": "{\n\t\"name\": \"Bullish\",\n\t\"description\": \"Happy Niu Year! This bunny’s excited for the year of the bull (market!)\",\n\t\"mp4_url\": \"ipfs://QmNS1A5HsRW1JvFWtGkm4o9TgZVe2P7kA8TB4yxvS6A7ms/bullish.mp4\",\n\t\"gif_url\": \"ipfs://QmNS1A5HsRW1JvFWtGkm4o9TgZVe2P7kA8TB4yxvS6A7ms/bullish.gif\",\n\t\"webm_url\": \"ipfs://QmNS1A5HsRW1JvFWtGkm4o9TgZVe2P7kA8TB4yxvS6A7ms/bullish.webm\",\n\t\"image\": \"ipfs://QmNS1A5HsRW1JvFWtGkm4o9TgZVe2P7kA8TB4yxvS6A7ms/bullish.png\",\n\t\"attributes\": {\n\t\t\"bunnyId\": \"11\"\n\t}\n}\n",
                "image_url": "https://unmarshal.mypinata.cloud/ipfs/QmNS1A5HsRW1JvFWtGkm4o9TgZVe2P7kA8TB4yxvS6A7ms/bullish.png",
                "name": "Bullish"
              },
              "price": 0
            },
            {
              "asset_contract": "0x060dd632f7dd45cb97a86376863d623d6756e848",
              "token_id": "31347",
              "owner": "0x6877654e79119a7f9a8182bb2389e797ca421d24",
              "external_link": "",
              "balance": 1,
              "nft_metadata": {
                "animation_url": "",
                "attributes": null,
                "background_color": "",
                "boosterId": 0,
                "description": "",
                "external_url": "",
                "id": "",
                "initialProbabilities": {
                  "background": 0,
                  "color": 0,
                  "glitter": 0,
                  "horn": 0,
                  "type": 0
                },
                "name": "",
                "randomNumber": "",
                "txHash": ""
              },
              "issuer_specific_data": {
                "entire_response": "",
                "image_url": "",
                "name": ""
              },
              "price": 0
            },
            {
              "asset_contract": "0x5e74094cd416f55179dbd0e45b1a8ed030e396a1",
              "token_id": "671538",
              "owner": "0x6877654e79119a7f9a8182bb2389e797ca421d24",
              "external_link": "",
              "balance": 1,
              "nft_metadata": {
                "animation_url": "",
                "attributes": null,
                "background_color": "",
                "boosterId": 0,
                "description": "",
                "external_url": "",
                "id": "",
                "initialProbabilities": {
                  "background": 0,
                  "color": 0,
                  "glitter": 0,
                  "horn": 0,
                  "type": 0
                },
                "name": "",
                "randomNumber": "",
                "txHash": ""
              },
              "issuer_specific_data": {
                "entire_response": "",
                "image_url": "",
                "name": ""
              },
              "price": 0
            },
            {
              "asset_contract": "0x36633b70eac3d1c98a20a6ecef6033d1077372f5",
              "token_id": "1015322",
              "owner": "0x6877654e79119a7f9a8182bb2389e797ca421d24",
              "external_link": "https://api.dego.finance/bsccommon/gego-token-v2/1015322",
              "balance": 1,
              "nft_metadata": {
                "animation_url": "",
                "attributes": null,
                "background_color": "",
                "boosterId": 0,
                "description": "",
                "external_url": "",
                "id": "",
                "initialProbabilities": {
                  "background": 0,
                  "color": 0,
                  "glitter": 0,
                  "horn": 0,
                  "type": 0
                },
                "name": "",
                "randomNumber": "",
                "txHash": ""
              },
              "issuer_specific_data": {
                "entire_response": "{\"status\":10000,\"result\":{\"data\":{\"name\":\"Surf Ninja\",\"description\":\"Ocean air, salty hair, not a care. \",\"i18n_name\":\"nft_1060\",\"i18n_description\":\"nft_2060\",\"small_image\":\"https://dego.finance/upload/small/Seascape_1.jpg\",\"big_image\":\"https://dego.finance/upload/big/Seascape_1.jpg\",\"auction_image\":\"\",\"video\":\"\",\"id\":\"1015322\",\"external_url\":\"https://api.dego.finance/bsccommon/gego-token-v2/1015322\",\"attributes\":{\"grade\":\"1\",\"quality\":\"1630\",\"amount\":\"500000000000000000\",\"resBaseId\":\"10050\",\"tLevel\":\"2\",\"ruleId\":\"1050\",\"nftType\":\"3\",\"author\":\"0xC0AA0e6bC68D1f9Ef23D76B7d1985e3AE6247643\",\"erc20\":\"0xbcf39F0EDDa668C58371E519AF37CA705f2bFcbd\",\"createdTime\":\"1617110841\",\"blockNum\":\"6132683\",\"resId\":\"100001005021\",\"erc20_value\":\"0.5 pCWS\"}}}}",
                "image_url": "https://dego.finance/upload/small/Seascape_1.jpg",
                "name": "Surf Ninja"
              },
              "price": 0
            },
            {
              "asset_contract": "0xc014b45d680b5a4bf51ccda778a68d5251c14b5e",
              "token_id": "1360",
              "owner": "0x6877654e79119a7f9a8182bb2389e797ca421d24",
              "external_link": "https://ipfs.infura.io/ipfs/QmXHC65Hh2Szgt9qMAQHK5Xb9LMny8X8L3gNNC5KXG4Bbi",
              "balance": 1,
              "nft_metadata": {
                "animation_url": "",
                "attributes": null,
                "background_color": "",
                "boosterId": 0,
                "description": "",
                "external_url": "",
                "id": "",
                "initialProbabilities": {
                  "background": 0,
                  "color": 0,
                  "glitter": 0,
                  "horn": 0,
                  "type": 0
                },
                "name": "Poulpe",
                "randomNumber": "",
                "txHash": ""
              },
              "issuer_specific_data": {
                "entire_response": "{\n    \"name\": \"Poulpe\",\n    \"image\": \"https://d3ggs2vjn5heyw.cloudfront.net/images/Poulpe.png\"\n}",
                "image_url": "https://d3ggs2vjn5heyw.cloudfront.net/images/Poulpe.png",
                "name": "Poulpe"
              },
              "price": 0
            },
            {
              "asset_contract": "0xf5db804101d8600c26598a1ba465166c33cdaa4b",
              "token_id": "61691",
              "owner": "0x6877654e79119a7f9a8182bb2389e797ca421d24",
              "external_link": "https://air-nfts-prime.web.app/api/nfts/Monnas_116_1621660463747",
              "balance": 1,
              "nft_metadata": {
                "animation_url": "",
                "attributes": null,
                "background_color": "",
                "boosterId": 0,
                "description": "",
                "external_url": "",
                "id": "",
                "initialProbabilities": {
                  "background": 0,
                  "color": 0,
                  "glitter": 0,
                  "horn": 0,
                  "type": 0
                },
                "name": "",
                "randomNumber": "",
                "txHash": ""
              },
              "issuer_specific_data": {
                "entire_response": "{\"nft\":{\"description\":\"Monnas Name : Rasty\\n\\nOther Planets\",\"fileSize\":0.46579933166503906,\"image\":\"https://airnfts.s3.amazonaws.com/nft-images/20210522/Monnas_116_1621660463748.jpg\",\"category\":[],\"createdAt\":\"Sat, 22 May 2021 05:14:32 GMT\",\"price\":\"0.1\",\"priority\":1,\"urlThumbnail\":\"https://d1don5jg7yw08.cloudfront.net/828x650/nft-images/20210522/Monnas_116_1621660463748.jpg\",\"storageFeeTransaction\":\"0xb4a27303191769e1716eb0b4fd824f4dfd1fa15eef9dda89752c630718201d9b\",\"attributes\":[{\"value\":0.1,\"trait_type\":\"General\"}],\"tokenID\":\"61691\",\"creatorUsername\":\"Monnas_Collections\",\"verified\":true,\"ipfsUrl\":\"ipfs://__IPFS_HASH__Monnas_116_1621660463747\",\"baseID\":\"Monnas_116_1621660463747\",\"mintTransactionHash\":\"0x5d4e3f13f736db47eb908a1824db96352ba448657edc25bb2086c72292291273\",\"listed\":false,\"ownerAddress\":\"0x6877654e79119a7f9A8182BB2389E797CA421D24\",\"initialCreatorAddress\":\"0x023Ac3323CcACCEB409d475caC89BbE6d3d6832c\",\"urlCompressed\":\"https://d1don5jg7yw08.cloudfront.net/filters:quality(70)/nft-images/20210522/Monnas_116_1621660463748.jpg\",\"url\":\"https://airnfts.s3.amazonaws.com/nft-images/20210522/Monnas_116_1621660463748.jpg\",\"upvoteCount\":1,\"name\":\"Monnas #116\",\"urlMedium\":\"https://d1don5jg7yw08.cloudfront.net/nft-images/20210522/Monnas_116_1621660463748.jpg\",\"priceNumber\":0.1,\"createdAtTimestamp\":1621660472925,\"updatedAt\":1621660487881},\"owner\":{\"walletAddress\":\"0x6877654e79119a7f9A8182BB2389E797CA421D24\",\"airDropEvents\":[{\"receiver\":\"0x6877654e79119a7f9A8182BB2389E797CA421D24\",\"amount\":5,\"registeredOn\":1621762511231,\"transactionHash\":\"0x3780ce62c8a07efb9a208806ea86c18351a12b7ac01666ff0dc169802f31e679\"}],\"buys\":{\"airDropValue\":\"5\",\"numberOfBuy\":1,\"totalAmount\":0.1},\"hasAcceptedTerms\":true},\"creator\":{\"socialUrl\":\"https://twitter.com/monnas999\",\"upvotedNftIDs\":[\"37121\",\"50759\",\"52364\",\"49227\",\"50760\",\"45500\",\"50178\",\"54048\",\"54050\",\"55761\",\"55809\",\"52350\",\"51161\",\"53253\",\"54059\",\"54539\",\"45359\",\"40943\",\"45349\",\"48547\",\"49230\",\"48059\",\"51164\",\"45394\",\"45362\",\"48053\",\"45351\",\"49605\",\"45345\",\"45386\",\"54061\",\"53262\",\"56222\",\"55790\",\"51166\",\"55765\",\"55898\",\"52355\",\"53255\",\"45387\",\"58015\",\"45377\",\"58037\",\"58023\",\"52368\",\"58027\",\"58034\",\"58032\",\"54051\",\"58031\",\"62566\",\"60878\",\"48490\",\"61688\",\"60860\",\"63638\",\"60869\",\"60866\",\"61694\",\"61692\",\"60868\",\"61691\",\"60862\",\"60863\",\"60872\",\"60875\",\"60874\",\"77729\"],\"usernameLowerCase\":\"monnas_collections\",\"hasAcceptedTerms\":true,\"banned\":false,\"buys\":{\"totalAmount\":0.6538,\"numberOfBuy\":16,\"airDropValue\":\"32.69\"},\"userAvatarUrlCompressed\":\"https://d1don5jg7yw08.cloudfront.net/filters:quality(70)/profile-images/202109/0x023Ac3323CcACCEB409d475caC89BbE6d3d6832c_1620550194227.jpg\",\"userBio\":\"Digital Artist, Father of Monnas 999  unıeqe pieces \\n*Eternal 10/999*\\n*Gods 15/999*\\n*Angels 30/999*\\n*Art by Ravicon 30/999*\\n*Titans 50/999*\\n*Other Planets 864/999*\\n\",\"updatedAt\":1620900032826,\"notAllowedToMint\":false,\"airDropEvents\":[{\"receiver\":\"0x023Ac3323CcACCEB409d475caC89BbE6d3d6832c\",\"transactionHash\":\"0x09e599b086f31d9dd5ff0fe94e2b8af3bbee67a557082a5437ad46eb2acb918d\",\"registeredOn\":1621761216948,\"amount\":273.54},{\"amount\":56.35,\"receiver\":\"0x023Ac3323CcACCEB409d475caC89BbE6d3d6832c\",\"registeredOn\":1622979112789,\"transactionHash\":\"0xd61a29bcdbf3d807d2787eadb932aaffc6bd51f87e545444275004de07bfce83\"},{\"transactionHash\":\"0xaeeecd9e1eb825ef9f1bb6a43b5c0df394a7896c4e9fa21ca5aa8a84fc05d66d\",\"amount\":34.64999999999996,\"registeredOn\":1624188745265,\"receiver\":\"0x023Ac3323CcACCEB409d475caC89BbE6d3d6832c\"}],\"userAvatarUrlThumbnail\":\"https://d1don5jg7yw08.cloudfront.net/200x200/profile-images/202109/0x023Ac3323CcACCEB409d475caC89BbE6d3d6832c_1620550194227.jpg\",\"username\":\"Monnas_Collections\",\"walletAddress\":\"0x023Ac3323CcACCEB409d475caC89BbE6d3d6832c\",\"userAvatarUrl\":\"https://airnfts.s3.amazonaws.com/profile-images/202109/0x023Ac3323CcACCEB409d475caC89BbE6d3d6832c_1620550194227.jpg\",\"verified\":true},\"historyEvents\":[{\"doneOn\":\"Sat, 22 May 2021 09:56:30 GMT\",\"eventType\":\"SALE\",\"nftIDSold\":\"61691\",\"nftSoldAtPrice\":\"0.1\",\"transactionHash\":\"0xe6898b4d2517b50eb75783971ced9da261de8d81b66921751fe644b9939c4b0b\",\"buyer\":{\"airDropEvents\":[{\"transactionHash\":\"0x3780ce62c8a07efb9a208806ea86c18351a12b7ac01666ff0dc169802f31e679\",\"receiver\":\"0x6877654e79119a7f9A8182BB2389E797CA421D24\",\"amount\":5,\"registeredOn\":1621762511231}],\"accountCreatedAt\":1619109980320,\"walletAddress\":\"0x6877654e79119a7f9A8182BB2389E797CA421D24\",\"buys\":{\"numberOfBuy\":1,\"totalAmount\":0.1,\"airDropValue\":\"5\"},\"hasAcceptedTerms\":true},\"seller\":{\"usernameLowerCase\":\"monnas_collections\",\"sales\":{\"numberOfSales\":90,\"totalAmount\":6.637,\"airDropValue\":\"331.85\"},\"upvotedNftIDs\":[\"37121\",\"50759\",\"52364\",\"49227\",\"50760\",\"45500\",\"50178\",\"54048\",\"54050\",\"55761\",\"55809\",\"52350\",\"51161\",\"53253\",\"54059\",\"54539\",\"45359\",\"40943\",\"45349\",\"48547\",\"49230\",\"48059\",\"51164\",\"45394\",\"45362\",\"48053\",\"45351\",\"49605\",\"45345\",\"45386\",\"54061\",\"53262\",\"56222\",\"55790\",\"51166\",\"55765\",\"55898\",\"52355\",\"53255\",\"45387\",\"58015\",\"45377\",\"58037\",\"58023\",\"52368\",\"58027\",\"58034\",\"58032\",\"54051\",\"58031\",\"62566\",\"60878\",\"48490\",\"61688\",\"60860\",\"63638\",\"60869\",\"60866\",\"61694\",\"61692\",\"60868\",\"61691\",\"60862\",\"60863\",\"60872\",\"60875\",\"60874\",\"77729\"],\"userAvatarUrlCompressed\":\"https://d1don5jg7yw08.cloudfront.net/filters:quality(70)/profile-images/202109/0x023Ac3323CcACCEB409d475caC89BbE6d3d6832c_1620550194227.jpg\",\"notAllowedToMint\":false,\"verified\":true,\"userBio\":\"Digital Artist, Father of Monnas 999  unıeqe pieces \\n*Eternal 10/999*\\n*Gods 15/999*\\n*Angels 30/999*\\n*Art by Ravicon 30/999*\\n*Titans 50/999*\\n*Other Planets 864/999*\\n\",\"userAvatarUrl\":\"https://airnfts.s3.amazonaws.com/profile-images/202109/0x023Ac3323CcACCEB409d475caC89BbE6d3d6832c_1620550194227.jpg\",\"username\":\"Monnas_Collections\",\"accountCreatedAt\":1620316409541,\"banned\":false,\"airDropEvents\":[{\"amount\":273.54,\"receiver\":\"0x023Ac3323CcACCEB409d475caC89BbE6d3d6832c\",\"registeredOn\":1621761216948,\"transactionHash\":\"0x09e599b086f31d9dd5ff0fe94e2b8af3bbee67a557082a5437ad46eb2acb918d\"},{\"registeredOn\":1622979112789,\"transactionHash\":\"0xd61a29bcdbf3d807d2787eadb932aaffc6bd51f87e545444275004de07bfce83\",\"receiver\":\"0x023Ac3323CcACCEB409d475caC89BbE6d3d6832c\",\"amount\":56.35},{\"registeredOn\":1624188745265,\"amount\":34.64999999999996,\"transactionHash\":\"0xaeeecd9e1eb825ef9f1bb6a43b5c0df394a7896c4e9fa21ca5aa8a84fc05d66d\",\"receiver\":\"0x023Ac3323CcACCEB409d475caC89BbE6d3d6832c\"}],\"buys\":{\"numberOfBuy\":16,\"totalAmount\":0.6538,\"airDropValue\":\"32.69\"},\"socialUrl\":\"https://twitter.com/monnas999\",\"hasAcceptedTerms\":true,\"walletAddress\":\"0x023Ac3323CcACCEB409d475caC89BbE6d3d6832c\",\"updatedAt\":1620900032826,\"userAvatarUrlThumbnail\":\"https://d1don5jg7yw08.cloudfront.net/200x200/profile-images/202109/0x023Ac3323CcACCEB409d475caC89BbE6d3d6832c_1620550194227.jpg\"}},{\"nftIDSold\":\"61691\",\"transactionHash\":\"0x5d4e3f13f736db47eb908a1824db96352ba448657edc25bb2086c72292291273\",\"doneOn\":\"Sat, 22 May 2021 05:14:32 GMT\",\"eventType\":\"MINT\",\"minter\":{\"socialUrl\":\"https://twitter.com/monnas999\",\"upvotedNftIDs\":[\"37121\",\"50759\",\"52364\",\"49227\",\"50760\",\"45500\",\"50178\",\"54048\",\"54050\",\"55761\",\"55809\",\"52350\",\"51161\",\"53253\",\"54059\",\"54539\",\"45359\",\"40943\",\"45349\",\"48547\",\"49230\",\"48059\",\"51164\",\"45394\",\"45362\",\"48053\",\"45351\",\"49605\",\"45345\",\"45386\",\"54061\",\"53262\",\"56222\",\"55790\",\"51166\",\"55765\",\"55898\",\"52355\",\"53255\",\"45387\",\"58015\",\"45377\",\"58037\",\"58023\",\"52368\",\"58027\",\"58034\",\"58032\",\"54051\",\"58031\",\"62566\",\"60878\",\"48490\",\"61688\",\"60860\",\"63638\",\"60869\",\"60866\",\"61694\",\"61692\",\"60868\",\"61691\",\"60862\",\"60863\",\"60872\",\"60875\",\"60874\",\"77729\"],\"usernameLowerCase\":\"monnas_collections\",\"accountCreatedAt\":1620316409541,\"hasAcceptedTerms\":true,\"banned\":false,\"buys\":{\"totalAmount\":0.6538,\"numberOfBuy\":16,\"airDropValue\":\"32.69\"},\"userAvatarUrlCompressed\":\"https://d1don5jg7yw08.cloudfront.net/filters:quality(70)/profile-images/202109/0x023Ac3323CcACCEB409d475caC89BbE6d3d6832c_1620550194227.jpg\",\"userBio\":\"Digital Artist, Father of Monnas 999  unıeqe pieces \\n*Eternal 10/999*\\n*Gods 15/999*\\n*Angels 30/999*\\n*Art by Ravicon 30/999*\\n*Titans 50/999*\\n*Other Planets 864/999*\\n\",\"updatedAt\":1620900032826,\"notAllowedToMint\":false,\"airDropEvents\":[{\"receiver\":\"0x023Ac3323CcACCEB409d475caC89BbE6d3d6832c\",\"transactionHash\":\"0x09e599b086f31d9dd5ff0fe94e2b8af3bbee67a557082a5437ad46eb2acb918d\",\"registeredOn\":1621761216948,\"amount\":273.54},{\"amount\":56.35,\"receiver\":\"0x023Ac3323CcACCEB409d475caC89BbE6d3d6832c\",\"registeredOn\":1622979112789,\"transactionHash\":\"0xd61a29bcdbf3d807d2787eadb932aaffc6bd51f87e545444275004de07bfce83\"},{\"transactionHash\":\"0xaeeecd9e1eb825ef9f1bb6a43b5c0df394a7896c4e9fa21ca5aa8a84fc05d66d\",\"amount\":34.64999999999996,\"registeredOn\":1624188745265,\"receiver\":\"0x023Ac3323CcACCEB409d475caC89BbE6d3d6832c\"}],\"userAvatarUrlThumbnail\":\"https://d1don5jg7yw08.cloudfront.net/200x200/profile-images/202109/0x023Ac3323CcACCEB409d475caC89BbE6d3d6832c_1620550194227.jpg\",\"username\":\"Monnas_Collections\",\"walletAddress\":\"0x023Ac3323CcACCEB409d475caC89BbE6d3d6832c\",\"sales\":{\"airDropValue\":\"331.85\",\"numberOfSales\":90,\"totalAmount\":6.637},\"userAvatarUrl\":\"https://airnfts.s3.amazonaws.com/profile-images/202109/0x023Ac3323CcACCEB409d475caC89BbE6d3d6832c_1620550194227.jpg\",\"verified\":true}}]}",
                "image_url": "https://airnfts.s3.amazonaws.com/nft-images/20210522/Monnas_116_1621660463748.jpg",
                "name": "Monnas #116"
              },
              "price": 0
            },
            {
              "asset_contract": "0xf5db804101d8600c26598a1ba465166c33cdaa4b",
              "token_id": "61859",
              "owner": "0x6877654e79119a7f9a8182bb2389e797ca421d24",
              "external_link": "https://air-nfts-prime.web.app/api/nfts/Black_Hole_1621677756774",
              "balance": 1,
              "nft_metadata": {
                "animation_url": "",
                "attributes": null,
                "background_color": "",
                "boosterId": 0,
                "description": "",
                "external_url": "",
                "id": "",
                "initialProbabilities": {
                  "background": 0,
                  "color": 0,
                  "glitter": 0,
                  "horn": 0,
                  "type": 0
                },
                "name": "",
                "randomNumber": "",
                "txHash": ""
              },
              "issuer_specific_data": {
                "entire_response": "{\"nft\":{\"image\":\"https://airnfts.s3.amazonaws.com/nft-images/20210522/Black_Hole_1621677756777.png\",\"ownerAddress\":\"0x6877654e79119a7f9A8182BB2389E797CA421D24\",\"createdAt\":\"Sat, 22 May 2021 10:02:47 GMT\",\"price\":\"1\",\"priceNumber\":1,\"updatedAt\":1621677794621,\"ipfsUrl\":\"ipfs://__IPFS_HASH__Black_Hole_1621677756774\",\"fileSize\":1.6248998641967773,\"createdAtTimestamp\":1621677767354,\"url\":\"https://airnfts.s3.amazonaws.com/nft-images/20210522/Black_Hole_1621677756777.png\",\"baseID\":\"Black_Hole_1621677756774\",\"storageFeeTransaction\":\"0xf9bf31ff71941a174ec1c9da80098a26e5eb172263424fda2f6fd088ada0e35c\",\"urlMedium\":\"https://d1don5jg7yw08.cloudfront.net/fit-in/1214x1020/nft-images/20210522/Black_Hole_1621677756777.png\",\"mintTransactionHash\":\"0x11bc60aeb42c7dd2514e7c054b5870d0a201ee066e66baa8cb8d4702c3600dff\",\"attributes\":[{\"value\":1,\"trait_type\":\"General\"}],\"verified\":false,\"urlCompressed\":\"https://d1don5jg7yw08.cloudfront.net/filters:quality(70)/nft-images/20210522/Black_Hole_1621677756777.png\",\"category\":[],\"creatorUsername\":\"\",\"priority\":0,\"tokenID\":\"61859\",\"urlThumbnail\":\"https://d1don5jg7yw08.cloudfront.net/828x650/nft-images/20210522/Black_Hole_1621677756777.png\",\"listed\":true,\"name\":\"Black Hole\",\"initialCreatorAddress\":\"0x6877654e79119a7f9A8182BB2389E797CA421D24\",\"description\":\"Black hole sucks in all the light\"},\"owner\":{\"buys\":{\"airDropValue\":\"5\",\"numberOfBuy\":1,\"totalAmount\":0.1},\"airDropEvents\":[{\"amount\":5,\"receiver\":\"0x6877654e79119a7f9A8182BB2389E797CA421D24\",\"transactionHash\":\"0x3780ce62c8a07efb9a208806ea86c18351a12b7ac01666ff0dc169802f31e679\",\"registeredOn\":1621762511231}],\"hasAcceptedTerms\":true,\"walletAddress\":\"0x6877654e79119a7f9A8182BB2389E797CA421D24\"},\"creator\":{\"buys\":{\"totalAmount\":0.1,\"numberOfBuy\":1,\"airDropValue\":\"5\"},\"hasAcceptedTerms\":true,\"airDropEvents\":[{\"amount\":5,\"receiver\":\"0x6877654e79119a7f9A8182BB2389E797CA421D24\",\"registeredOn\":1621762511231,\"transactionHash\":\"0x3780ce62c8a07efb9a208806ea86c18351a12b7ac01666ff0dc169802f31e679\"}],\"walletAddress\":\"0x6877654e79119a7f9A8182BB2389E797CA421D24\"},\"historyEvents\":[{\"nftIDSold\":\"61859\",\"transactionHash\":\"0x11bc60aeb42c7dd2514e7c054b5870d0a201ee066e66baa8cb8d4702c3600dff\",\"doneOn\":\"Sat, 22 May 2021 10:02:47 GMT\",\"eventType\":\"MINT\",\"minter\":{\"buys\":{\"totalAmount\":0.1,\"numberOfBuy\":1,\"airDropValue\":\"5\"},\"hasAcceptedTerms\":true,\"accountCreatedAt\":1619109980320,\"airDropEvents\":[{\"amount\":5,\"receiver\":\"0x6877654e79119a7f9A8182BB2389E797CA421D24\",\"registeredOn\":1621762511231,\"transactionHash\":\"0x3780ce62c8a07efb9a208806ea86c18351a12b7ac01666ff0dc169802f31e679\"}],\"walletAddress\":\"0x6877654e79119a7f9A8182BB2389E797CA421D24\"}}]}",
                "image_url": "https://airnfts.s3.amazonaws.com/nft-images/20210522/Black_Hole_1621677756777.png",
                "name": ""
              },
              "price": 0
            },
            {
              "asset_contract": "0x3a3e2aef7e44fd0bb3f0e2330c5b8f078816cbf6",
              "token_id": "6470",
              "owner": "0x6877654e79119a7f9a8182bb2389e797ca421d24",
              "external_link": "https://nft-collections.definance.app/airdrop/0.json",
              "balance": 1,
              "nft_metadata": {
                "animation_url": "",
                "attributes": null,
                "background_color": "",
                "boosterId": 0,
                "description": "This Fist is a sign of solidarity and unity of a strong community that supports the Definance Ecosystem.",
                "external_url": "",
                "id": "",
                "initialProbabilities": {
                  "background": 0,
                  "color": 0,
                  "glitter": 0,
                  "horn": 0,
                  "type": 0
                },
                "name": "Rebellia",
                "randomNumber": "",
                "txHash": ""
              },
              "issuer_specific_data": {
                "entire_response": "{\n    \"name\": \"Rebellia\",\n    \"description\": \"This Fist is a sign of solidarity and unity of a strong community that supports the Definance Ecosystem.\", \n    \"image\": \"https://nft-collections.definance.app/airdrop/0.png\"\n}",
                "image_url": "https://nft-collections.definance.app/airdrop/0.png",
                "name": "Rebellia"
              },
              "price": 0
            }
          ]
        },
        "examples": [
          [
            {
              "asset_contract": "0xc54b96b04aa8828b63cf250408e1084e9f6ac6c8",
              "token_id": "14701",
              "owner": "0x6877654e79119a7f9a8182bb2389e797ca421d24",
              "external_link": "https://bsc-api.seascape.network/nft/metadata/14701",
              "balance": 1,
              "nft_metadata": {
                "animation_url": "",
                "attributes": [
                  {
                    "trait_type": "QUALITY",
                    "value": "Common"
                  },
                  {
                    "trait_type": "Generation",
                    "value": 0
                  },
                  {
                    "trait_type": "Power",
                    "value": 600,
                    "display_type": "boost_number"
                  }
                ],
                "background_color": "",
                "boosterId": 0,
                "description": "I reckon we ought to make ourselves acquainted. I'm Edmund Mildenhall III, but my friend's call me Thump - Common. Now you just gonna just stand there, or come over here and wrestle me like a man!",
                "external_url": "https://api.seascape.network/nft/metadata/14701",
                "id": "",
                "initialProbabilities": {
                  "background": 0,
                  "color": 0,
                  "glitter": 0,
                  "horn": 0,
                  "type": 0
                },
                "name": "Thump - Common",
                "randomNumber": "",
                "txHash": ""
              },
              "issuer_specific_data": {
                "entire_response": "{\"attributes\":[{\"trait_type\":\"QUALITY\",\"value\":\"Common\"},{\"trait_type\":\"Generation\",\"value\":0},{\"display_type\":\"boost_number\",\"trait_type\":\"Power\",\"value\":600}],\"description\":\"I reckon we ought to make ourselves acquainted. I'm Edmund Mildenhall III, but my friend's call me Thump - Common. Now you just gonna just stand there, or come over here and wrestle me like a man!\",\"external_url\":\"https://api.seascape.network/nft/metadata/14701\",\"image\":\"https://cdn.seascape.network/nfts/1.gif\",\"name\":\"Thump - Common\"}",
                "image_url": "https://cdn.seascape.network/nfts/1.gif",
                "name": "Thump - Common"
              },
              "price": 0
            }
          ]
        ],
        "items": {
          "type": "object",
          "properties": {
            "asset_contract": {
              "type": "string"
            },
            "token_id": {
              "type": "string"
            },
            "owner": {
              "type": "string"
            },
            "external_link": {
              "type": "string"
            },
            "balance": {
              "type": "number"
            },
            "nft_metadata": {
              "type": "object",
              "properties": {
                "animation_url": {
                  "type": "string"
                },
                "attributes": {
                  "type": "array",
                  "uniqueItems": true,
                  "items": {
                    "type": "object",
                    "properties": {
                      "trait_type": {
                        "type": "string"
                      },
                      "value": {
                        "type": "number"
                      },
                      "display_type": {
                        "type": "string"
                      }
                    }
                  }
                },
                "background_color": {
                  "type": "string"
                },
                "boosterId": {
                  "type": "number"
                },
                "description": {
                  "type": "string"
                },
                "external_url": {
                  "type": "string"
                },
                "id": {
                  "type": "string"
                },
                "initialProbabilities": {
                  "type": "object",
                  "properties": {
                    "background": {
                      "type": "number"
                    },
                    "color": {
                      "type": "number"
                    },
                    "glitter": {
                      "type": "number"
                    },
                    "horn": {
                      "type": "number"
                    },
                    "type": {
                      "type": "number"
                    }
                  }
                },
                "name": {
                  "type": "string"
                },
                "randomNumber": {
                  "type": "string"
                },
                "txHash": {
                  "type": "string"
                }
              }
            },
            "issuer_specific_data": {
              "type": "object",
              "properties": {
                "entire_response": {
                  "type": "string"
                },
                "image_url": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                }
              }
            },
            "price": {
              "type": "number"
            }
          }
        }
      },
      "Nft-transactions": {
        "type": "array",
        "description": "",
        "uniqueItems": true,
        "x-examples": {
          "example-1": [
            {
              "contract_address": "0x3a3e2aef7e44fd0bb3f0e2330c5b8f078816cbf6",
              "token_id": "6470",
              "transaction_hash": "0x550ab896bad15a82e2a0c3458f86929dd79b924732cfe875d5f6d192c5ee2c4b",
              "block_number": 11703141,
              "block_hash": "",
              "transaction_idx": 0,
              "log_idx": 512,
              "sender": "0x0000000000000000000000000000000000000000",
              "to": "0x6877654e79119a7f9a8182bb2389e797ca421d24"
            }
          ]
        },
        "examples": [
          [
            {
              "contract_address": "0x3a3e2aef7e44fd0bb3f0e2330c5b8f078816cbf6",
              "token_id": "6470",
              "transaction_hash": "0x550ab896bad15a82e2a0c3458f86929dd79b924732cfe875d5f6d192c5ee2c4b",
              "block_number": 11703141,
              "block_hash": "",
              "transaction_idx": 0,
              "log_idx": 512,
              "sender": "0x0000000000000000000000000000000000000000",
              "to": "0x6877654e79119a7f9a8182bb2389e797ca421d24"
            }
          ]
        ],
        "items": {
          "type": "object",
          "properties": {
            "contract_address": {
              "type": "string"
            },
            "token_id": {
              "type": "string"
            },
            "transaction_hash": {
              "type": "string"
            },
            "block_number": {
              "type": "number"
            },
            "block_hash": {
              "type": "string"
            },
            "transaction_idx": {
              "type": "number"
            },
            "log_idx": {
              "type": "number"
            },
            "sender": {
              "type": "string"
            },
            "to": {
              "type": "string"
            }
          }
        }
      },
      "Nft-transactions-V2": {
        "type": "array",
        "description": "",
        "uniqueItems": true,
        "x-examples": {
          "example-1": [
            {
              "contract_address": "0x3a3e2aef7e44fd0bb3f0e2330c5b8f078816cbf6",
              "token_id": "6470",
              "transaction_hash": "0x550ab896bad15a82e2a0c3458f86929dd79b924732cfe875d5f6d192c5ee2c4b",
              "block_number": 11703141,
              "block_hash": "",
              "transaction_idx": 0,
              "log_idx": 512,
              "sender": "0x0000000000000000000000000000000000000000",
              "to": "0x6877654e79119a7f9a8182bb2389e797ca421d24"
            }
          ]
        },
        "examples": [
          [
            {
              "contract_address": "0x3a3e2aef7e44fd0bb3f0e2330c5b8f078816cbf6",
              "token_id": "6470",
              "transaction_hash": "0x550ab896bad15a82e2a0c3458f86929dd79b924732cfe875d5f6d192c5ee2c4b",
              "block_number": 11703141,
              "block_hash": "",
              "transaction_idx": 0,
              "log_idx": 512,
              "sender": "0x0000000000000000000000000000000000000000",
              "to": "0x6877654e79119a7f9a8182bb2389e797ca421d24"
            }
          ]
        ],
        "items": {
          "type": "object",
          "properties": {
            "contract_address": {
              "type": "string"
            },
            "token_id": {
              "type": "string"
            },
            "transaction_hash": {
              "type": "string"
            },
            "block_number": {
              "type": "number"
            },
            "block_hash": {
              "type": "string"
            },
            "transaction_idx": {
              "type": "number"
            },
            "log_idx": {
              "type": "number"
            },
            "sender": {
              "type": "string"
            },
            "to": {
              "type": "string"
            }
          }
        }
      },
      "Nft-details": {
        "description": "",
        "type": "object",
        "x-examples": {
          "example-1": {
            "contact_address": "0x85f0e02cb992aa1f9f47112f815f519ef1a59e2d",
            "token_id": "10002198864",
            "token_uri": "https://meta.polkamon.com/meta?id=10002198864",
            "nft_metadata": {
              "animation_url": "https://assets.polkamon.com/videos/Unimons_T07C03H08B04G00.mp4",
              "attributes": [
                {
                  "trait_type": "Type",
                  "value": "Unichick"
                },
                {
                  "trait_type": "Horn",
                  "value": "Candy Cane"
                },
                {
                  "trait_type": "Color",
                  "value": "Blue"
                },
                {
                  "trait_type": "Background",
                  "value": "Mountain Range"
                },
                {
                  "trait_type": "Opening Network",
                  "value": "Binance Smart Chain"
                },
                {
                  "trait_type": "Glitter",
                  "value": "No"
                },
                {
                  "trait_type": "Special",
                  "value": "No"
                },
                {
                  "trait_type": "Birthday",
                  "value": 1633210817,
                  "display_type": "date"
                },
                {
                  "trait_type": "Booster",
                  "value": 10000000732955,
                  "display_type": "number"
                }
              ],
              "background_color": "FFFFFF",
              "boosterId": 10000000732955,
              "description": "Hectic and fluttering, the Unichick is always on the move, discovering life at the fastest pace. Behind the hyperactive facade is the full presence of timidity and thoughtfulness.",
              "external_url": "https://polkamon.com/polkamon/T07C03H08B04G00",
              "id": "10002198864",
              "initialProbabilities": {
                "background": 1,
                "color": 0.25,
                "glitter": 0.99,
                "horn": 0.16,
                "type": 0.135
              },
              "name": "Unichick",
              "randomNumber": "0x368729732a9a40003d859f857e2595e047bef1a152be4673d52c61cb07a275e3",
              "txHash": "0x0bbfcc94bcf36247f3dc8c2648767df02f6eccd66ef0e5a93cb3c529c1d388d5"
            },
            "image_url": "https://assets.polkamon.com/videos/Unimons_T07C03H08B04G00.mp4",
            "name": "Unichick",
            "type": "721",
            "price": 0,
            "entire_response": "{\"boosterId\":10000000732955,\"id\":\"10002198864\",\"txHash\":\"0x0bbfcc94bcf36247f3dc8c2648767df02f6eccd66ef0e5a93cb3c529c1d388d5\",\"randomNumber\":\"0x368729732a9a40003d859f857e2595e047bef1a152be4673d52c61cb07a275e3\",\"image\":\"https://assets.polkamon.com/images/Unimons_T07C03H08B04G00.jpg\",\"external_url\":\"https://polkamon.com/polkamon/T07C03H08B04G00\",\"description\":\"Hectic and fluttering, the Unichick is always on the move, discovering life at the fastest pace. Behind the hyperactive facade is the full presence of timidity and thoughtfulness.\",\"name\":\"Unichick\",\"initialProbabilities\":{\"horn\":0.16,\"color\":0.25,\"background\":1,\"glitter\":0.99,\"type\":0.135},\"attributes\":[{\"trait_type\":\"Type\",\"value\":\"Unichick\"},{\"trait_type\":\"Horn\",\"value\":\"Candy Cane\"},{\"trait_type\":\"Color\",\"value\":\"Blue\"},{\"trait_type\":\"Background\",\"value\":\"Mountain Range\"},{\"trait_type\":\"Opening Network\",\"value\":\"Binance Smart Chain\"},{\"trait_type\":\"Glitter\",\"value\":\"No\"},{\"trait_type\":\"Special\",\"value\":\"No\"},{\"display_type\":\"date\",\"trait_type\":\"Birthday\",\"value\":1633210817},{\"display_type\":\"number\",\"trait_type\":\"Booster\",\"value\":10000000732955}],\"opening_network\":\"Binance Smart Chain\",\"background_color\":\"FFFFFF\",\"animation_url\":\"https://assets.polkamon.com/videos/Unimons_T07C03H08B04G00.mp4\"}"
          }
        },
        "examples": [
          {
            "contact_address": "0x85f0e02cb992aa1f9f47112f815f519ef1a59e2d",
            "token_id": "10002198864",
            "token_uri": "https://meta.polkamon.com/meta?id=10002198864",
            "nft_metadata": {
              "animation_url": "https://assets.polkamon.com/videos/Unimons_T07C03H08B04G00.mp4",
              "attributes": [
                {
                  "trait_type": "Type",
                  "value": "Unichick"
                },
                {
                  "trait_type": "Horn",
                  "value": "Candy Cane"
                },
                {
                  "trait_type": "Color",
                  "value": "Blue"
                },
                {
                  "trait_type": "Background",
                  "value": "Mountain Range"
                },
                {
                  "trait_type": "Opening Network",
                  "value": "Binance Smart Chain"
                },
                {
                  "trait_type": "Glitter",
                  "value": "No"
                },
                {
                  "trait_type": "Special",
                  "value": "No"
                },
                {
                  "trait_type": "Birthday",
                  "value": 1633210817,
                  "display_type": "date"
                },
                {
                  "trait_type": "Booster",
                  "value": 10000000732955,
                  "display_type": "number"
                }
              ],
              "background_color": "FFFFFF",
              "boosterId": 10000000732955,
              "description": "Hectic and fluttering, the Unichick is always on the move, discovering life at the fastest pace. Behind the hyperactive facade is the full presence of timidity and thoughtfulness.",
              "external_url": "https://polkamon.com/polkamon/T07C03H08B04G00",
              "id": "10002198864",
              "initialProbabilities": {
                "background": 1,
                "color": 0.25,
                "glitter": 0.99,
                "horn": 0.16,
                "type": 0.135
              },
              "name": "Unichick",
              "randomNumber": "0x368729732a9a40003d859f857e2595e047bef1a152be4673d52c61cb07a275e3",
              "txHash": "0x0bbfcc94bcf36247f3dc8c2648767df02f6eccd66ef0e5a93cb3c529c1d388d5"
            },
            "image_url": "https://assets.polkamon.com/videos/Unimons_T07C03H08B04G00.mp4",
            "name": "Unichick",
            "type": "721",
            "price": 0,
            "entire_response": "{\"boosterId\":10000000732955,\"id\":\"10002198864\",\"txHash\":\"0x0bbfcc94bcf36247f3dc8c2648767df02f6eccd66ef0e5a93cb3c529c1d388d5\",\"randomNumber\":\"0x368729732a9a40003d859f857e2595e047bef1a152be4673d52c61cb07a275e3\",\"image\":\"https://assets.polkamon.com/images/Unimons_T07C03H08B04G00.jpg\",\"external_url\":\"https://polkamon.com/polkamon/T07C03H08B04G00\",\"description\":\"Hectic and fluttering, the Unichick is always on the move, discovering life at the fastest pace. Behind the hyperactive facade is the full presence of timidity and thoughtfulness.\",\"name\":\"Unichick\",\"initialProbabilities\":{\"horn\":0.16,\"color\":0.25,\"background\":1,\"glitter\":0.99,\"type\":0.135},\"attributes\":[{\"trait_type\":\"Type\",\"value\":\"Unichick\"},{\"trait_type\":\"Horn\",\"value\":\"Candy Cane\"},{\"trait_type\":\"Color\",\"value\":\"Blue\"},{\"trait_type\":\"Background\",\"value\":\"Mountain Range\"},{\"trait_type\":\"Opening Network\",\"value\":\"Binance Smart Chain\"},{\"trait_type\":\"Glitter\",\"value\":\"No\"},{\"trait_type\":\"Special\",\"value\":\"No\"},{\"display_type\":\"date\",\"trait_type\":\"Birthday\",\"value\":1633210817},{\"display_type\":\"number\",\"trait_type\":\"Booster\",\"value\":10000000732955}],\"opening_network\":\"Binance Smart Chain\",\"background_color\":\"FFFFFF\",\"animation_url\":\"https://assets.polkamon.com/videos/Unimons_T07C03H08B04G00.mp4\"}"
          }
        ],
        "properties": {
          "contact_address": {
            "type": "string"
          },
          "token_id": {
            "type": "string"
          },
          "token_uri": {
            "type": "string"
          },
          "nft_metadata": {
            "type": "object",
            "properties": {
              "animation_url": {
                "type": "string"
              },
              "attributes": {
                "type": "array",
                "uniqueItems": true,
                "items": {
                  "type": "object",
                  "properties": {
                    "trait_type": {
                      "type": "string"
                    },
                    "value": {
                      "type": "number"
                    },
                    "display_type": {
                      "type": "string"
                    }
                  }
                }
              },
              "background_color": {
                "type": "string"
              },
              "boosterId": {
                "type": "number"
              },
              "description": {
                "type": "string"
              },
              "external_url": {
                "type": "string"
              },
              "id": {
                "type": "string"
              },
              "initialProbabilities": {
                "type": "object",
                "properties": {
                  "background": {
                    "type": "number"
                  },
                  "color": {
                    "type": "number"
                  },
                  "glitter": {
                    "type": "number"
                  },
                  "horn": {
                    "type": "number"
                  },
                  "type": {
                    "type": "number"
                  }
                }
              },
              "name": {
                "type": "string"
              },
              "randomNumber": {
                "type": "string"
              },
              "txHash": {
                "type": "string"
              }
            }
          },
          "image_url": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "price": {
            "type": "number"
          },
          "entire_response": {
            "type": "string"
          }
        }
      },
      "Nft-details-V2": {
        "description": "",
        "type": "object",
        "x-examples": {
          "example-1": {
            "contact_address": "0x85f0e02cb992aa1f9f47112f815f519ef1a59e2d",
            "token_id": "10002198864",
            "token_uri": "https://meta.polkamon.com/meta?id=10002198864",
            "nft_metadata": {
              "animation_url": "https://assets.polkamon.com/videos/Unimons_T07C03H08B04G00.mp4",
              "attributes": [
                {
                  "trait_type": "Type",
                  "value": "Unichick"
                },
                {
                  "trait_type": "Horn",
                  "value": "Candy Cane"
                },
                {
                  "trait_type": "Color",
                  "value": "Blue"
                },
                {
                  "trait_type": "Background",
                  "value": "Mountain Range"
                },
                {
                  "trait_type": "Opening Network",
                  "value": "Binance Smart Chain"
                },
                {
                  "trait_type": "Glitter",
                  "value": "No"
                },
                {
                  "trait_type": "Special",
[...]
