{
  "openapi": "3.1.0",
  "info": {
    "title": "APIs",
    "version": "1.0",
    "description": "To get auth_key please log in to https://console.unmarshal.io"
  },
  "servers": [
    {
      "url": "https://api.unmarshal.com",
      "description": "Prod"
    }
  ],
  "paths": {
    "/v2/protocols/{protocol}/address/{address}/positions": {
      "get": {
        "summary": "LP  Balance",
        "tags": [],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Protocol-Positions"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "operationId": "LP  Balance",
        "description": ""
      },
      "parameters": [
        {
          "name": "address",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "example": "demo.eth",
            "default": "demo.eth"
          },
          "description": "Any valid address or ENS"
        },
        {
          "$ref": "#/components/parameters/protocol"
        }
      ]
    },
    "/v2/protocols/{protocol}/address/{address}/lp_transactions": {
      "get": {
        "summary": "LP Transactions history",
        "tags": [],
        "responses": {
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "operationId": "LP Transactions history",
        "description": ""
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/address"
        },
        {
          "$ref": "#/components/parameters/protocol"
        }
      ]
    },
    "/v2/protocols/{protocol}/pairs": {
      "get": {
        "summary": "Current Pairs",
        "tags": [],
        "responses": {
          "200": {
            "$ref": "#/components/responses/LPPairs"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "operationId": "Current Pairs",
        "description": "",
        "parameters": [
          {
            "$ref": "#/components/parameters/pageNo"
          },
          {
            "$ref": "#/components/parameters/pageSize"
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/protocol"
        }
      ]
    }
  },
  "components": {
    "schemas": {
      "Position": {
        "description": "",
        "type": "object",
        "x-examples": {
          "example-1": {
            "token_0_reserve": "6038.186311",
            "token_1_reserve": "4.246011755",
            "token_0": {
              "contract_name": "MX Token",
              "contract_ticker_symbol": "MX",
              "contract_decimals": 18,
              "contract_address": "0x11eeF04c884E24d9B7B4760e7476D06ddF797f36",
              "coin": 10000714,
              "balance": "520.9535934",
              "quote": 1588.90845987,
              "quote_rate": 3.05,
              "logo_url": "https://assets.unmarshal.io/tokens/0x11eeF04c884E24d9B7B4760e7476D06ddF797f36.png",
              "quote_rate_24h": "0",
              "quote_pct_change_24h": 0
            },
            "token_1": {
              "contract_name": "Wrapped Ether",
              "contract_ticker_symbol": "WETH",
              "contract_decimals": 18,
              "contract_address": "0xC02aaA39b223FE8D0A0e5C4F27eAD9083C756Cc2",
              "coin": 10000714,
              "balance": "0.3663310417",
              "quote": 1610.926102634082,
              "quote_rate": 4397.46,
              "logo_url": "https://assets.unmarshal.io/tokens/0xC02aaA39b223FE8D0A0e5C4F27eAD9083C756Cc2.png",
              "quote_rate_24h": "0",
              "quote_pct_change_24h": 0
            },
            "pool_token": {
              "contract_name": "Uniswap V2",
              "contract_ticker_symbol": "MX-WETH UNI-V2",
              "contract_decimals": 18,
              "contract_address": "0xDf4aA141031E85468137ED125749C4f6a57F8F5B",
              "coin": 10000714,
              "balance": "12.73920231",
              "quote": 3238.068125005178,
              "quote_rate": 254.18138420833785,
              "logo_url": "https://assets.unmarshal.io/tokens/0xDf4aA141031E85468137ED125749C4f6a57F8F5B.png",
              "quote_rate_24h": "",
              "quote_pct_change_24h": 0,
              "total_supply": "147.6555263",
              "pool_share_percentage": "0.08627650201",
              "liquidity_value": 3238.068125005178
            }
          }
        },
        "properties": {
          "token_0_reserve": {
            "type": "string"
          },
          "token_1_reserve": {
            "type": "string"
          },
          "token_0": {
            "type": "object",
            "properties": {
              "contract_name": {
                "type": "string"
              },
              "contract_ticker_symbol": {
                "type": "string"
              },
              "contract_decimals": {
                "type": "number"
              },
              "contract_address": {
                "type": "string"
              },
              "coin": {
                "type": "number"
              },
              "balance": {
                "type": "string"
              },
              "quote": {
                "type": "number"
              },
              "quote_rate": {
                "type": "number"
              },
              "logo_url": {
                "type": "string"
              },
              "quote_rate_24h": {
                "type": "string"
              },
              "quote_pct_change_24h": {
                "type": "number"
              }
            }
          },
          "token_1": {
            "type": "object",
            "properties": {
              "contract_name": {
                "type": "string"
              },
              "contract_ticker_symbol": {
                "type": "string"
              },
              "contract_decimals": {
                "type": "number"
              },
              "contract_address": {
                "type": "string"
              },
              "coin": {
                "type": "number"
              },
              "balance": {
                "type": "string"
              },
              "quote": {
                "type": "number"
              },
              "quote_rate": {
                "type": "number"
              },
              "logo_url": {
                "type": "string"
              },
              "quote_rate_24h": {
                "type": "string"
              },
              "quote_pct_change_24h": {
                "type": "number"
              }
            }
          },
          "pool_token": {
            "type": "object",
            "properties": {
              "contract_name": {
                "type": "string"
              },
              "contract_ticker_symbol": {
                "type": "string"
              },
              "contract_decimals": {
                "type": "number"
              },
              "contract_address": {
                "type": "string"
              },
              "coin": {
                "type": "number"
              },
              "balance": {
                "type": "string"
              },
              "quote": {
                "type": "number"
              },
              "quote_rate": {
                "type": "number"
              },
              "logo_url": {
                "type": "string"
              },
              "quote_rate_24h": {
                "type": "string"
              },
              "quote_pct_change_24h": {
                "type": "number"
              },
              "total_supply": {
                "type": "string"
              },
              "pool_share_percentage": {
                "type": "string"
              },
              "liquidity_value": {
                "type": "number"
              }
            }
          }
        }
      },
      "LPPair": {
        "description": "",
        "type": "object",
        "x-examples": {
          "example-1": {
            "token_0": {
              "contract_name": "Wrapped BNB",
              "contract_ticker_symbol": "WBNB",
              "contract_decimals": 18,
              "contract_address": "0xbb4CdB9CBd36B01bD1cBaEBF2De08d9173bc095c",
              "coin": 10000714,
              "quote": 0,
              "quote_rate": 620.18,
              "logo_url": "https://assets.unmarshal.io/tokens/0xbb4CdB9CBd36B01bD1cBaEBF2De08d9173bc095c.png",
              "quote_rate_24h": "0",
              "quote_pct_change_24h": 0
            },
            "token_1": {
              "contract_name": "TheSouthPole token",
              "contract_ticker_symbol": "TSP",
              "contract_decimals": 18,
              "contract_address": "0xf8B548B12494B06DF95590285D9616D75fbf13Be",
              "coin": 10000714,
              "quote": 0,
              "quote_rate": 0,
              "logo_url": "https://assets.unmarshal.io/tokens/0xf8B548B12494B06DF95590285D9616D75fbf13Be.png",
              "quote_rate_24h": "0",
              "quote_pct_change_24h": 0
            },
            "pair": {
              "contract_name": "Pancake LPs",
              "contract_ticker_symbol": "WBNB-TSP Cake-LP",
              "contract_decimals": 18,
              "contract_address": "0x3991008E499A3cA419760279e416748C4845C597",
              "coin": 10000714,
              "quote": 0,
              "quote_rate": 0,
              "logo_url": "https://assets.unmarshal.io/tokens/0x3991008E499A3cA419760279e416748C4845C597.png",
              "quote_rate_24h": "",
              "quote_pct_change_24h": 0
            },
            "total_liquidity_quote": "0",
            "token_0_reserve": "0",
            "token_1_reserve": "0",
            "created_at_block_number": "12933991"
          }
        },
        "properties": {
          "token_0": {
            "type": "object",
            "properties": {
              "contract_name": {
                "type": "string"
              },
              "contract_ticker_symbol": {
                "type": "string"
              },
              "contract_decimals": {
                "type": "number"
              },
              "contract_address": {
                "type": "string"
              },
              "coin": {
                "type": "number"
              },
              "quote": {
                "type": "number"
              },
              "quote_rate": {
                "type": "number"
              },
              "logo_url": {
                "type": "string"
              },
              "quote_rate_24h": {
                "type": "string"
              },
              "quote_pct_change_24h": {
                "type": "number"
              }
            }
          },
          "token_1": {
            "type": "object",
            "properties": {
              "contract_name": {
                "type": "string"
              },
              "contract_ticker_symbol": {
                "type": "string"
              },
              "contract_decimals": {
                "type": "number"
              },
              "contract_address": {
                "type": "string"
              },
              "coin": {
                "type": "number"
              },
              "quote": {
                "type": "number"
              },
              "quote_rate": {
                "type": "number"
              },
              "logo_url": {
                "type": "string"
              },
              "quote_rate_24h": {
                "type": "string"
              },
              "quote_pct_change_24h": {
                "type": "number"
              }
            }
          },
          "pair": {
            "type": "object",
            "properties": {
              "contract_name": {
                "type": "string"
              },
              "contract_ticker_symbol": {
                "type": "string"
              },
              "contract_decimals": {
                "type": "number"
              },
              "contract_address": {
                "type": "string"
              },
              "coin": {
                "type": "number"
              },
              "quote": {
                "type": "number"
              },
              "quote_rate": {
                "type": "number"
              },
              "logo_url": {
                "type": "string"
              },
              "quote_rate_24h": {
                "type": "string"
              },
              "quote_pct_change_24h": {
                "type": "number"
              }
            }
          },
          "total_liquidity_quote": {
            "type": "string"
          },
          "token_0_reserve": {
            "type": "string"
          },
          "token_1_reserve": {
            "type": "string"
          },
          "created_at_block_number": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "auth_key": {
        "name": "auth_key",
        "type": "apiKey",
        "in": "query",
        "description": "Auth token"
      }
    },
    "parameters": {
      "address": {
        "name": "address",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "example": "demo.eth",
          "default": "demo.eth"
        },
        "description": "Any valid address or ENS"
      },
      "protocol": {
        "name": "protocol",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "default": "pancakeswap_v1",
          "enum": [
            "pancakeswap_v1",
            "pancakeswap_v2",
            "uniswap_v2"
          ],
          "example": "pancakeswap_v1"
        },
        "description": "Protocol"
      },
      "pageNo": {
        "name": "page",
        "in": "query",
        "schema": {
          "type": "number",
          "default": 1
        },
        "description": "Page you want to query"
      },
      "pageSize": {
        "name": "pageSize",
        "in": "query",
        "required": false,
        "schema": {
          "type": "number",
          "default": 25,
          "example": 5
        },
        "description": "Number of records to be fetched per page"
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "",
        "content": {
          "application/json": {
            "schema": {
              "description": "",
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "message"
              ],
              "x-examples": {
                "example-1": {
                  "message": "Unauthorized"
                }
              }
            },
            "examples": {
              "example-1": {
                "value": {
                  "message": "Unauthorized"
                }
              }
            }
          }
        }
      },
      "Protocol-Positions": {
        "description": "",
        "content": {
          "application/json": {
            "schema": {
              "description": "",
              "type": "object",
              "x-examples": {
                "example-1": {
                  "user_address": "0xfC43f5F9dd45258b3AFf31Bdbe6561D97e8B71de",
                  "positions": [
                    {
                      "token_0_reserve": "6038.186311",
                      "token_1_reserve": "4.246011755",
                      "token_0": {
                        "contract_name": "MX Token",
                        "contract_ticker_symbol": "MX",
                        "contract_decimals": 18,
                        "contract_address": "0x11eeF04c884E24d9B7B4760e7476D06ddF797f36",
                        "coin": 10000714,
                        "balance": "520.9535934",
                        "quote": 1588.90845987,
                        "quote_rate": 3.05,
                        "logo_url": "https://assets.unmarshal.io/tokens/0x11eeF04c884E24d9B7B4760e7476D06ddF797f36.png",
                        "quote_rate_24h": "0",
                        "quote_pct_change_24h": 0
                      },
                      "token_1": {
                        "contract_name": "Wrapped Ether",
                        "contract_ticker_symbol": "WETH",
                        "contract_decimals": 18,
                        "contract_address": "0xC02aaA39b223FE8D0A0e5C4F27eAD9083C756Cc2",
                        "coin": 10000714,
                        "balance": "0.3663310417",
                        "quote": 1610.926102634082,
                        "quote_rate": 4397.46,
                        "logo_url": "https://assets.unmarshal.io/tokens/0xC02aaA39b223FE8D0A0e5C4F27eAD9083C756Cc2.png",
                        "quote_rate_24h": "0",
                        "quote_pct_change_24h": 0
                      },
                      "pool_token": {
                        "contract_name": "Uniswap V2",
                        "contract_ticker_symbol": "MX-WETH UNI-V2",
                        "contract_decimals": 18,
                        "contract_address": "0xDf4aA141031E85468137ED125749C4f6a57F8F5B",
                        "coin": 10000714,
                        "balance": "12.73920231",
                        "quote": 3238.068125005178,
                        "quote_rate": 254.18138420833785,
                        "logo_url": "https://assets.unmarshal.io/tokens/0xDf4aA141031E85468137ED125749C4f6a57F8F5B.png",
                        "quote_rate_24h": "",
                        "quote_pct_change_24h": 0,
                        "total_supply": "147.6555263",
                        "pool_share_percentage": "0.08627650201",
                        "liquidity_value": 3238.068125005178
                      }
                    }
                  ]
                }
              },
              "properties": {
                "user_address": {
                  "type": "string"
                },
                "positions": {
                  "type": "array",
                  "uniqueItems": true,
                  "items": {
                    "$ref": "#/components/schemas/Position"
                  }
                }
              }
            }
          }
        }
      },
      "LPPairs": {
        "description": "",
        "content": {
          "application/json": {
            "schema": {
              "description": "",
              "type": "object",
              "x-examples": {
                "example-1": {
                  "total": 563940,
                  "protocol_pairs": [
                    {
                      "token_0": {
                        "contract_name": "Wrapped BNB",
                        "contract_ticker_symbol": "WBNB",
                        "contract_decimals": 18,
                        "contract_address": "0xbb4CdB9CBd36B01bD1cBaEBF2De08d9173bc095c",
                        "coin": 10000714,
                        "quote": 0,
                        "quote_rate": 620.18,
                        "logo_url": "https://assets.unmarshal.io/tokens/0xbb4CdB9CBd36B01bD1cBaEBF2De08d9173bc095c.png",
                        "quote_rate_24h": "0",
                        "quote_pct_change_24h": 0
                      },
                      "token_1": {
                        "contract_name": "TheSouthPole token",
                        "contract_ticker_symbol": "TSP",
                        "contract_decimals": 18,
                        "contract_address": "0xf8B548B12494B06DF95590285D9616D75fbf13Be",
                        "coin": 10000714,
                        "quote": 0,
                        "quote_rate": 0,
                        "logo_url": "https://assets.unmarshal.io/tokens/0xf8B548B12494B06DF95590285D9616D75fbf13Be.png",
                        "quote_rate_24h": "0",
                        "quote_pct_change_24h": 0
                      },
                      "pair": {
                        "contract_name": "Pancake LPs",
                        "contract_ticker_symbol": "WBNB-TSP Cake-LP",
                        "contract_decimals": 18,
                        "contract_address": "0x3991008E499A3cA419760279e416748C4845C597",
                        "coin": 10000714,
                        "quote": 0,
                        "quote_rate": 0,
                        "logo_url": "https://assets.unmarshal.io/tokens/0x3991008E499A3cA419760279e416748C4845C597.png",
                        "quote_rate_24h": "",
                        "quote_pct_change_24h": 0
                      },
                      "total_liquidity_quote": "0",
                      "token_0_reserve": "0",
                      "token_1_reserve": "0",
                      "created_at_block_number": "12933991"
                    },
                    {
                      "token_0": {
                        "contract_name": "Cryptox",
                        "contract_ticker_symbol": "CTX",
                        "contract_decimals": 9,
                        "contract_address": "0x70a07E63ad294BaFEc346048d1Ddd1aaEdD0130D",
                        "coin": 10000714,
                        "quote": 0,
                        "quote_rate": 0,
                        "logo_url": "https://assets.unmarshal.io/tokens/0x70a07E63ad294BaFEc346048d1Ddd1aaEdD0130D.png",
                        "quote_rate_24h": "0",
                        "quote_pct_change_24h": 0
                      },
                      "token_1": {
                        "contract_name": "BUSD Token",
                        "contract_ticker_symbol": "BUSD",
                        "contract_decimals": 18,
                        "contract_address": "0xe9e7CEA3DedcA5984780Bafc599bD69ADd087D56",
                        "coin": 10000714,
                        "quote": 0,
                        "quote_rate": 1,
                        "logo_url": "https://assets.unmarshal.io/tokens/0xe9e7CEA3DedcA5984780Bafc599bD69ADd087D56.png",
                        "quote_rate_24h": "0",
                        "quote_pct_change_24h": 0
                      },
                      "pair": {
                        "contract_name": "Pancake LPs",
                        "contract_ticker_symbol": "CTX-BUSD Cake-LP",
                        "contract_decimals": 18,
                        "contract_address": "0x9f5c1F87258EAB811d383bFe54141255b6a97F90",
                        "coin": 10000714,
                        "quote": 0,
                        "quote_rate": 0,
                        "logo_url": "https://assets.unmarshal.io/tokens/0x9f5c1F87258EAB811d383bFe54141255b6a97F90.png",
                        "quote_rate_24h": "",
                        "quote_pct_change_24h": 0
                      },
                      "total_liquidity_quote": "0.007226199025",
                      "token_0_reserve": "0.0009550925268",
                      "token_1_reserve": "0.05467541095",
                      "created_at_block_number": "12933964"
                    },
                    {
                      "token_0": {
                        "contract_name": "Wrapped BNB",
                        "contract_ticker_symbol": "WBNB",
                        "contract_decimals": 18,
                        "contract_address": "0xbb4CdB9CBd36B01bD1cBaEBF2De08d9173bc095c",
                        "coin": 10000714,
                        "quote": 0,
                        "quote_rate": 620.18,
                        "logo_url": "https://assets.unmarshal.io/tokens/0xbb4CdB9CBd36B01bD1cBaEBF2De08d9173bc095c.png",
                        "quote_rate_24h": "0",
                        "quote_pct_change_24h": 0
                      },
                      "token_1": {
                        "contract_name": "PixelShiba",
                        "contract_ticker_symbol": "PXSH",
                        "contract_decimals": 18,
                        "contract_address": "0xea25DdB080C669550B56658b946a394e22D03fd4",
                        "coin": 10000714,
                        "quote": 0,
                        "quote_rate": 0,
                        "logo_url": "https://assets.unmarshal.io/tokens/0xea25DdB080C669550B56658b946a394e22D03fd4.png",
                        "quote_rate_24h": "0",
                        "quote_pct_change_24h": 0
                      },
                      "pair": {
                        "contract_name": "Pancake LPs",
                        "contract_ticker_symbol": "WBNB-PXSH Cake-LP",
                        "contract_decimals": 18,
                        "contract_address": "0x1390969d1F8c5ea3349697D6aD93032f36fF6BF0",
                        "coin": 10000714,
                        "quote": 0,
                        "quote_rate": 0,
                        "logo_url": "https://assets.unmarshal.io/tokens/0x1390969d1F8c5ea3349697D6aD93032f36fF6BF0.png",
                        "quote_rate_24h": "",
                        "quote_pct_change_24h": 0
                      },
                      "total_liquidity_quote": "0.01595218487",
                      "token_0_reserve": "1.601596806e-06",
                      "token_1_reserve": "158.8876342",
                      "created_at_block_number": "12933958"
                    },
                    {
                      "token_0": {
                        "contract_name": "Tether USD",
                        "contract_ticker_symbol": "USDT",
                        "contract_decimals": 18,
                        "contract_address": "0x55d398326f99059fF775485246999027B3197955",
                        "coin": 10000714,
                        "quote": 0,
                        "quote_rate": 1,
                        "logo_url": "https://assets.unmarshal.io/tokens/0x55d398326f99059fF775485246999027B3197955.png",
                        "quote_rate_24h": "0",
                        "quote_pct_change_24h": 0
                      },
                      "token_1": {
                        "contract_name": "HcTestToken",
                        "contract_ticker_symbol": "PPP",
                        "contract_decimals": 18,
                        "contract_address": "0x6FD7e788cc7715abEbbfb391ee3f743EED6d6605",
                        "coin": 10000714,
                        "quote": 0,
                        "quote_rate": 0,
                        "logo_url": "https://assets.unmarshal.io/tokens/0x6FD7e788cc7715abEbbfb391ee3f743EED6d6605.png",
                        "quote_rate_24h": "0",
                        "quote_pct_change_24h": 0
                      },
                      "pair": {
                        "contract_name": "Pancake LPs",
                        "contract_ticker_symbol": "USDT-PPP Cake-LP",
                        "contract_decimals": 18,
                        "contract_address": "0x0E784dF7E196cc147EE7133F58AcdAe3cf40baE0",
                        "coin": 10000714,
                        "quote": 0,
                        "quote_rate": 0,
                        "logo_url": "https://assets.unmarshal.io/tokens/0x0E784dF7E196cc147EE7133F58AcdAe3cf40baE0.png",
                        "quote_rate_24h": "",
                        "quote_pct_change_24h": 0
                      },
                      "total_liquidity_quote": "100000",
                      "token_0_reserve": "101",
                      "token_1_reserve": "99012351.79",
                      "created_at_block_number": "12933950"
                    },
                    {
                      "token_0": {
                        "contract_name": "Wrapped BNB",
                        "contract_ticker_symbol": "WBNB",
                        "contract_decimals": 18,
                        "contract_address": "0xbb4CdB9CBd36B01bD1cBaEBF2De08d9173bc095c",
                        "coin": 10000714,
                        "quote": 0,
                        "quote_rate": 620.18,
                        "logo_url": "https://assets.unmarshal.io/tokens/0xbb4CdB9CBd36B01bD1cBaEBF2De08d9173bc095c.png",
                        "quote_rate_24h": "0",
                        "quote_pct_change_24h": 0
                      },
                      "token_1": {
                        "contract_name": "BIBA",
                        "contract_ticker_symbol": "BIBA",
                        "contract_decimals": 18,
                        "contract_address": "0xd638dd9a22FCB564255d53Edd2a63a9E687924ce",
                        "coin": 10000714,
                        "quote": 0,
                        "quote_rate": 0,
                        "logo_url": "https://assets.unmarshal.io/tokens/0xd638dd9a22FCB564255d53Edd2a63a9E687924ce.png",
                        "quote_rate_24h": "0",
                        "quote_pct_change_24h": 0
                      },
                      "pair": {
                        "contract_name": "Pancake LPs",
                        "contract_ticker_symbol": "WBNB-BIBA Cake-LP",
                        "contract_decimals": 18,
                        "contract_address": "0x697B21CD0dA49E06392aeCD67E521ddCa82E9bD5",
                        "coin": 10000714,
                        "quote": 0,
                        "quote_rate": 0,
                        "logo_url": "https://assets.unmarshal.io/tokens/0x697B21CD0dA49E06392aeCD67E521ddCa82E9bD5.png",
                        "quote_rate_24h": "",
                        "quote_pct_change_24h": 0
                      },
                      "total_liquidity_quote": "31.99041353",
                      "token_0_reserve": "0.5458302263",
                      "token_1_reserve": "1879.211442",
                      "created_at_block_number": "12933946"
                    },
                    {
                      "token_0": {
                        "contract_name": "Realm NFTs",
                        "contract_ticker_symbol": "RNFT",
                        "contract_decimals": 18,
                        "contract_address": "0x9F30A2b7D6791B27AD87afBf74305aC8692aD171",
                        "coin": 10000714,
                        "quote": 0,
                        "quote_rate": 0,
                        "logo_url": "https://assets.unmarshal.io/tokens/0x9F30A2b7D6791B27AD87afBf74305aC8692aD171.png",
                        "quote_rate_24h": "0",
                        "quote_pct_change_24h": 0
                      },
                      "token_1": {
                        "contract_name": "Wrapped BNB",
                        "contract_ticker_symbol": "WBNB",
                        "contract_decimals": 18,
                        "contract_address": "0xbb4CdB9CBd36B01bD1cBaEBF2De08d9173bc095c",
                        "coin": 10000714,
                        "quote": 0,
                        "quote_rate": 620.18,
                        "logo_url": "https://assets.unmarshal.io/tokens/0xbb4CdB9CBd36B01bD1cBaEBF2De08d9173bc095c.png",
                        "quote_rate_24h": "0",
                        "quote_pct_change_24h": 0
                      },
                      "pair": {
                        "contract_name": "Pancake LPs",
                        "contract_ticker_symbol": "RNFT-WBNB Cake-LP",
                        "contract_decimals": 18,
                        "contract_address": "0x1b4a38C1924Fc01AE1a7071eDfc15b8Ec0B0DEb3",
                        "coin": 10000714,
                        "quote": 0,
                        "quote_rate": 0,
                        "logo_url": "https://assets.unmarshal.io/tokens/0x1b4a38C1924Fc01AE1a7071eDfc15b8Ec0B0DEb3.png",
                        "quote_rate_24h": "",
                        "quote_pct_change_24h": 0
                      },
                      "total_liquidity_quote": "0",
                      "token_0_reserve": "0",
                      "token_1_reserve": "0",
                      "created_at_block_number": "12933944"
                    },
                    {
                      "token_0": {
                        "contract_name": "METASANTA",
                        "contract_ticker_symbol": "METASANTA",
                        "contract_decimals": 9,
                        "contract_address": "0x0DBb904cCf24A43B23c4547628E806FF0C3f1351",
                        "coin": 10000714,
                        "quote": 0,
                        "quote_rate": 0,
                        "logo_url": "https://assets.unmarshal.io/tokens/0x0DBb904cCf24A43B23c4547628E806FF0C3f1351.png",
                        "quote_rate_24h": "0",
                        "quote_pct_change_24h": 0
                      },
                      "token_1": {
                        "contract_name": "Wrapped BNB",
                        "contract_ticker_symbol": "WBNB",
                        "contract_decimals": 18,
                        "contract_address": "0xbb4CdB9CBd36B01bD1cBaEBF2De08d9173bc095c",
                        "coin": 10000714,
                        "quote": 0,
                        "quote_rate": 620.18,
                        "logo_url": "https://assets.unmarshal.io/tokens/0xbb4CdB9CBd36B01bD1cBaEBF2De08d9173bc095c.png",
                        "quote_rate_24h": "0",
                        "quote_pct_change_24h": 0
                      },
                      "pair": {
                        "contract_name": "Pancake LPs",
                        "contract_ticker_symbol": "METASANTA-WBNB Cake-LP",
                        "contract_decimals": 18,
                        "contract_address": "0x988aC69c720Cf9887F762e99b82abDC6c5226ee5",
                        "coin": 10000714,
                        "quote": 0,
                        "quote_rate": 0,
                        "logo_url": "https://assets.unmarshal.io/tokens/0x988aC69c720Cf9887F762e99b82abDC6c5226ee5.png",
                        "quote_rate_24h": "",
                        "quote_pct_change_24h": 0
                      },
                      "total_liquidity_quote": "0.1191344569",
                      "token_0_reserve": "297.4491689",
                      "token_1_reserve": "4.890594876e-05",
                      "created_at_block_number": "12933943"
                    },
                    {
                      "token_0": {
                        "contract_name": "Surviving Soldiers",
                        "contract_ticker_symbol": "SSG",
                        "contract_decimals": 18,
                        "contract_address": "0xA0c8c80ED6B7F09F885e826386440B2349F0Da7E",
                        "coin": 10000714,
                        "quote": 0,
                        "quote_rate": 20.04,
                        "logo_url": "https://assets.unmarshal.io/tokens/0xA0c8c80ED6B7F09F885e826386440B2349F0Da7E.png",
                        "quote_rate_24h": "0",
                        "quote_pct_change_24h": 0
                      },
                      "token_1": {
                        "contract_name": "Wrapped BNB",
                        "contract_ticker_symbol": "WBNB",
                        "contract_decimals": 18,
                        "contract_address": "0xbb4CdB9CBd36B01bD1cBaEBF2De08d9173bc095c",
                        "coin": 10000714,
                        "quote": 0,
                        "quote_rate": 620.18,
                        "logo_url": "https://assets.unmarshal.io/tokens/0xbb4CdB9CBd36B01bD1cBaEBF2De08d9173bc095c.png",
                        "quote_rate_24h": "0",
                        "quote_pct_change_24h": 0
                      },
                      "pair": {
                        "contract_name": "Pancake LPs",
                        "contract_ticker_symbol": "SSG-WBNB Cake-LP",
                        "contract_decimals": 18,
                        "contract_address": "0xAe6cDff726AAdC32AdF315B0F7Cf873627968FA4",
                        "coin": 10000714,
                        "quote": 0,
                        "quote_rate": 0,
                        "logo_url": "https://assets.unmarshal.io/tokens/0xAe6cDff726AAdC32AdF315B0F7Cf873627968FA4.png",
                        "quote_rate_24h": "",
                        "quote_pct_change_24h": 0
                      },
                      "total_liquidity_quote": "25627.83749",
                      "token_0_reserve": "149861.8993",
                      "token_1_reserve": "4882.84322",
                      "created_at_block_number": "12933937"
                    },
                    {
                      "token_0": {
                        "contract_name": "HappyThanksgivingFloki",
                        "contract_ticker_symbol": "HTF",
                        "contract_decimals": 18,
                        "contract_address": "0x131106C44387782B9B369060C5C97C21C4AbE772",
                        "coin": 10000714,
                        "quote": 0,
                        "quote_rate": 0,
                        "logo_url": "https://assets.unmarshal.io/tokens/0x131106C44387782B9B369060C5C97C21C4AbE772.png",
                        "quote_rate_24h": "0",
                        "quote_pct_change_24h": 0
                      },
                      "token_1": {
                        "contract_name": "Wrapped BNB",
                        "contract_ticker_symbol": "WBNB",
                        "contract_decimals": 18,
                        "contract_address": "0xbb4CdB9CBd36B01bD1cBaEBF2De08d9173bc095c",
                        "coin": 10000714,
                        "quote": 0,
                        "quote_rate": 620.18,
                        "logo_url": "https://assets.unmarshal.io/tokens/0xbb4CdB9CBd36B01bD1cBaEBF2De08d9173bc095c.png",
                        "quote_rate_24h": "0",
                        "quote_pct_change_24h": 0
                      },
                      "pair": {
                        "contract_name": "Pancake LPs",
                        "contract_ticker_symbol": "HTF-WBNB Cake-LP",
                        "contract_decimals": 18,
                        "contract_address": "0xeEbcf2cE22a7C8682535b6185E618256bF497061",
                        "coin": 10000714,
                        "quote": 0,
                        "quote_rate": 0,
                        "logo_url": "https://assets.unmarshal.io/tokens/0xeEbcf2cE22a7C8682535b6185E618256bF497061.png",
                        "quote_rate_24h": "",
                        "quote_pct_change_24h": 0
                      },
                      "total_liquidity_quote": "160162.0391",
                      "token_0_reserve": "2.045158264e+12",
                      "token_1_reserve": "0.01256403501",
                      "created_at_block_number": "12933936"
                    },
                    {
                      "token_0": {
                        "contract_name": "WeedPool",
                        "contract_ticker_symbol": "wPOOL",
                        "contract_decimals": 9,
                        "contract_address": "0xb9C59f0eDaa72172d92C531D668cc00E0F3cD123",
                        "coin": 10000714,
                        "quote": 0,
                        "quote_rate": 0,
                        "logo_url": "https://assets.unmarshal.io/tokens/0xb9C59f0eDaa72172d92C531D668cc00E0F3cD123.png",
                        "quote_rate_24h": "0",
                        "quote_pct_change_24h": 0
                      },
                      "token_1": {
                        "contract_name": "Wrapped BNB",
                        "contract_ticker_symbol": "WBNB",
                        "contract_decimals": 18,
                        "contract_address": "0xbb4CdB9CBd36B01bD1cBaEBF2De08d9173bc095c",
                        "coin": 10000714,
                        "quote": 0,
                        "quote_rate": 620.18,
                        "logo_url": "https://assets.unmarshal.io/tokens/0xbb4CdB9CBd36B01bD1cBaEBF2De08d9173bc095c.png",
                        "quote_rate_24h": "0",
                        "quote_pct_change_24h": 0
                      },
                      "pair": {
                        "contract_name": "Pancake LPs",
                        "contract_ticker_symbol": "wPOOL-WBNB Cake-LP",
                        "contract_decimals": 18,
                        "contract_address": "0x290Def72d4790a35549Efd3E029fDD864756BAD3",
                        "coin": 10000714,
                        "quote": 0,
                        "quote_rate": 0,
                        "logo_url": "https://assets.unmarshal.io/tokens/0x290Def72d4790a35549Efd3E029fDD864756BAD3.png",
                        "quote_rate_24h": "",
                        "quote_pct_change_24h": 0
                      },
                      "total_liquidity_quote": "0.0308349714",
                      "token_0_reserve": "0.003230916761",
                      "token_1_reserve": "0.2943910928",
                      "created_at_block_number": "12933931"
                    }
                  ]
                }
              },
              "properties": {
                "total": {
                  "type": "number"
                },
                "protocol_pairs": {
                  "type": "array",
                  "uniqueItems": true,
                  "items": {
                    "$ref": "#/components/schemas/LPPair"
                  }
                }
              }
            }
          }
        }
      }
    },
    "examples": {}
  },
  "security": [
    {
      "auth_key": []
    }
  ]
}