{
  "openapi": "3.1.0",
  "info": {
    "title": "price-store",
    "version": "1.0",
    "description": "###### To get auth_key please log in to https://console.unmarshal.io"
  },
  "servers": [
    {
      "url": "https://stg-api.unmarshal.com",
      "description": "Prod"
    },
    {
      "url": "https://stg-api.unmarshal.com",
      "description": "Stg"
    }
  ],
  "paths": {
    "/v1/pricestore/{symbol}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/symbol"
        }
      ],
      "get": {
        "summary": "Get Price by Symbol",
        "tags": [],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Symbol"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "operationId": "get-v1-pricestore-symbol",
        "parameters": [
          {
            "$ref": "#/components/parameters/timestamp"
          }
        ],
        "description": "###### To get auth_key please log in to https://console.unmarshal.io"
      }
    },
    "/v1/pricestore/chain/{chain}/{address}": {
      "get": {
        "summary": "Get Price by Address",
        "tags": [],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Address"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "operationId": "get-v1-pricestore",
        "parameters": [
          {
            "$ref": "#/components/parameters/timestamp"
          },
          {
            "$ref": "#/components/parameters/24hchange"
          },
          {
            "$ref": "#/components/parameters/alternateChain"
          }
        ]
      },
      "parameters": [
        {
          "name": "chain",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "Chain name (example: bsc, ethereum, matic...)"
        },
        {
          "name": "address",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "Any valid token address"
        }
      ]
    },
    "/v1/pricestore/chain/{chain}/tokens": {
      "get": {
        "summary": "Get Price for multiple Token Addresses",
        "tags": [],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Tokens"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "operationId": "get-v1-pricestore-chain-ethereum-tokens",
        "parameters": [
          {
            "$ref": "#/components/parameters/tokens"
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/chain"
        }
      ]
    },
    "/v1/pricestore/chain/{chain}/gainers": {
      "get": {
        "summary": "Top Gainers",
        "tags": [],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Gainers"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "operationId": "get-P3d7gYNkjD5vWutWoLfwg3WSnPCuT2Hj5e5JTtSw",
        "parameters": [
          {
            "$ref": "#/components/parameters/price"
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/chain"
        }
      ]
    },
    "/v1/pricestore/chain/{chain}/losers": {
      "parameters": [
        {
          "$ref": "#/components/parameters/chain"
        }
      ],
      "get": {
        "summary": "Top Losers",
        "tags": [],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Losers"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "operationId": "get-v1-pricestore-chain-chain-losers",
        "parameters": [
          {
            "$ref": "#/components/parameters/price"
          }
        ]
      }
    },
    "/pricestore/chain/{chain}/lptokens": {
      "get": {
        "summary": "Price for LP Tokens",
        "tags": [],
        "responses": {
          "200": {
            "$ref": "#/components/responses/LpTokens"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "operationId": "get-pricestore-chain-:chain-lptokens",
        "parameters": [
          {
            "$ref": "#/components/parameters/lptokens"
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/chain"
        }
      ]
    }
  },
  "components": {
    "schemas": {
      "Symbol": {
        "type": "array",
        "description": "",
        "uniqueItems": true,
        "x-examples": {
          "example-1": [
            {
              "name": "UnmarshalToken",
              "symbol": "MARSH",
              "contract": "0x2fa5daf6fe0708fbd63b1a7d1592577284f52256",
              "decimal": 18,
              "blockchain": "binance-smart-chain",
              "price": "1.2102781329",
              "price_change": "-4.611565233778907",
              "timestamp": "1637921913"
            },
            {
              "name": "UnmarshalToken",
              "symbol": "MARSH",
              "contract": "0x5a666c7d92e5fa7edcb6390e4efd6d0cdd69cf37",
              "decimal": 18,
              "blockchain": "ethereum",
              "price": "1.2102781329",
              "price_change": "-5.0085795456450315",
              "timestamp": "1637921913"
            }
          ]
        },
        "examples": [
          [
            {
              "name": "UnmarshalToken",
              "symbol": "MARSH",
              "contract": "0x2fa5daf6fe0708fbd63b1a7d1592577284f52256",
              "decimal": 18,
              "blockchain": "binance-smart-chain",
              "price": "1.2102781329",
              "price_change": "-4.611565233778907",
              "timestamp": "1637921913"
            },
            {
              "name": "UnmarshalToken",
              "symbol": "MARSH",
              "contract": "0x5a666c7d92e5fa7edcb6390e4efd6d0cdd69cf37",
              "decimal": 18,
              "blockchain": "ethereum",
              "price": "1.2102781329",
              "price_change": "-5.0085795456450315",
              "timestamp": "1637921913"
            }
          ]
        ],
        "items": {
          "type": "object",
          "properties": {
            "name": {
              "type": "string"
            },
            "symbol": {
              "type": "string"
            },
            "contract": {
              "type": "string"
            },
            "decimal": {
              "type": "number"
            },
            "blockchain": {
              "type": "string"
            },
            "price": {
              "type": "string"
            },
            "price_change": {
              "type": "string"
            },
            "timestamp": {
              "type": "string"
            }
          }
        }
      },
      "Address": {
        "description": "",
        "type": "object",
        "x-examples": {
          "example-1": {
            "tokenId": "0x5a666c7d92e5fa7edcb6390e4efd6d0cdd69cf37",
            "timestamp": "1637922456",
            "price": "1.2107928183"
          }
        },
        "examples": [
          {
            "tokenId": "0x5a666c7d92e5fa7edcb6390e4efd6d0cdd69cf37",
            "timestamp": "1637922456",
            "price": "1.2107928183"
          }
        ],
        "properties": {
          "tokenId": {
            "type": "string"
          },
          "timestamp": {
            "type": "string"
          },
          "price": {
            "type": "string"
          }
        }
      },
      "Tokens": {
        "type": "array",
        "description": "",
        "uniqueItems": true,
        "x-examples": {
          "example-1": [
            {
              "name": "MARSH",
              "symbol": "MARSH",
              "tokenId": "0x5a666c7d92e5fa7edcb6390e4efd6d0cdd69cf37",
              "price": "1.225034898998186",
              "percentage_change": "-5.0085795456450315"
            },
            {
              "name": "MARSH",
              "symbol": "MARSH",
              "tokenId": "0x2fa5daf6fe0708fbd63b1a7d1592577284f52256",
              "price": "1.2145698052338922",
              "percentage_change": "-4.611565233778907"
            }
          ]
        },
        "examples": [
          [
            {
              "name": "MARSH",
              "symbol": "MARSH",
              "tokenId": "0x5a666c7d92e5fa7edcb6390e4efd6d0cdd69cf37",
              "price": "1.225034898998186",
              "percentage_change": "-5.0085795456450315"
            },
            {
              "name": "MARSH",
              "symbol": "MARSH",
              "tokenId": "0x2fa5daf6fe0708fbd63b1a7d1592577284f52256",
              "price": "1.2145698052338922",
              "percentage_change": "-4.611565233778907"
            }
          ]
        ],
        "items": {
          "type": "object",
          "properties": {
            "name": {
              "type": "string"
            },
            "symbol": {
              "type": "string"
            },
            "tokenId": {
              "type": "string"
            },
            "price": {
              "type": "string"
            },
            "percentage_change": {
              "type": "string"
            }
          }
        }
      },
      "Gainers": {
        "type": "array",
        "description": "",
        "uniqueItems": true,
        "x-examples": {
          "example-1": [
            {
              "name": "TEND",
              "contract": "0x222f737285d0b60d8d4f27fa22ce8884c9f119f8",
              "decimal": 18,
              "logo": "https://assets.unmarshal.io/tokens/0x1453Dbb8A29551ADe11D89825CA812e05317EAEB.png",
              "symbol": "TEND",
              "current_price": "0.00000000015816474482266669",
              "percent_change": "498.2934577237196",
              "day_low": "0.00000000015816474482266669",
              "day_high": "0.00000000015816474482266669"
            },
            {
              "name": "GoldenWspp",
              "contract": "0xcccbf2248ef3bd8d475ea5de8cb06e19f4591a8e",
              "decimal": 6,
              "logo": "https://assets.unmarshal.io/tokens/0xCCCBf2248ef3bd8d475Ea5dE8cb06e19F4591A8E.png",
              "symbol": "GWSPP",
              "current_price": "3.001545737261781",
              "percent_change": "480.88924200974947",
              "day_low": "0.5198768424941629",
              "day_high": "3.049309828651424"
            }
          ]
        },
        "examples": [
          [
            {
              "name": "TEND",
              "contract": "0x222f737285d0b60d8d4f27fa22ce8884c9f119f8",
              "decimal": 18,
              "logo": "https://assets.unmarshal.io/tokens/0x1453Dbb8A29551ADe11D89825CA812e05317EAEB.png",
              "symbol": "TEND",
              "current_price": "0.00000000015816474482266669",
              "percent_change": "498.2934577237196",
              "day_low": "0.00000000015816474482266669",
              "day_high": "0.00000000015816474482266669"
            },
            {
              "name": "GoldenWspp",
              "contract": "0xcccbf2248ef3bd8d475ea5de8cb06e19f4591a8e",
              "decimal": 6,
              "logo": "https://assets.unmarshal.io/tokens/0xCCCBf2248ef3bd8d475Ea5dE8cb06e19F4591A8E.png",
              "symbol": "GWSPP",
              "current_price": "3.001545737261781",
              "percent_change": "480.88924200974947",
              "day_low": "0.5198768424941629",
              "day_high": "3.049309828651424"
            }
          ]
        ],
        "items": {
          "type": "object",
          "properties": {
            "name": {
              "type": "string"
            },
            "contract": {
              "type": "string"
            },
            "decimal": {
              "type": "number"
            },
            "logo": {
              "type": "string"
            },
            "symbol": {
              "type": "string"
            },
            "current_price": {
              "type": "string"
            },
            "percent_change": {
              "type": "string"
            },
            "day_low": {
              "type": "string"
            },
            "day_high": {
              "type": "string"
            }
          }
        }
      },
      "Losers": {
        "type": "array",
        "description": "",
        "uniqueItems": true,
        "x-examples": {
          "example-1": [
            {
              "name": "ShibainuGirl",
              "contract": "0x71ea08cd2476905b4d359b2b18c463e1cacdab20",
              "decimal": 9,
              "logo": "https://assets.unmarshal.io/tokens/0x71ea08cD2476905B4d359b2b18c463E1caCDaB20.png",
              "symbol": "ShibaGirl",
              "current_price": "0.00000000000006362810175319335",
              "percent_change": "-100",
              "day_low": "0.00000000000006227239148252082",
              "day_high": "0.00000000000006420062168121629"
            },
            {
              "name": "LTRBT",
              "contract": "0x17d749d3e2ac204a07e19d8096d9a05c423ea3af",
              "decimal": 9,
              "logo": "https://assets.unmarshal.io/tokens/0x17D749D3E2ac204a07e19D8096d9a05c423ea3af.png",
              "symbol": "LTRBT",
              "current_price": "0",
              "percent_change": "-100",
              "day_low": "0",
              "day_high": "0"
            }
          ]
        },
        "examples": [
          [
            {
              "name": "ShibainuGirl",
              "contract": "0x71ea08cd2476905b4d359b2b18c463e1cacdab20",
              "decimal": 9,
              "logo": "https://assets.unmarshal.io/tokens/0x71ea08cD2476905B4d359b2b18c463E1caCDaB20.png",
              "symbol": "ShibaGirl",
              "current_price": "0.00000000000006362810175319335",
              "percent_change": "-100",
              "day_low": "0.00000000000006227239148252082",
              "day_high": "0.00000000000006420062168121629"
            },
            {
              "name": "LTRBT",
              "contract": "0x17d749d3e2ac204a07e19d8096d9a05c423ea3af",
              "decimal": 9,
              "logo": "https://assets.unmarshal.io/tokens/0x17D749D3E2ac204a07e19D8096d9a05c423ea3af.png",
              "symbol": "LTRBT",
              "current_price": "0",
              "percent_change": "-100",
              "day_low": "0",
              "day_high": "0"
            }
          ]
        ],
        "items": {
          "type": "object",
          "properties": {
            "name": {
              "type": "string"
            },
            "contract": {
              "type": "string"
            },
            "decimal": {
              "type": "number"
            },
            "logo": {
              "type": "string"
            },
            "symbol": {
              "type": "string"
            },
            "current_price": {
              "type": "string"
            },
            "percent_change": {
              "type": "string"
            },
            "day_low": {
              "type": "string"
            },
            "day_high": {
              "type": "string"
            }
          }
        }
      },
      "LpTokens": {
        "type": "array",
        "description": "",
        "uniqueItems": true,
        "x-examples": {
          "example-1": [
            {
              "name": "",
              "symbol": "",
              "tokenId": "0x222f93187f15f354d41ff6a7703ef7e18cdd5103",
              "price": "53.49992784613753",
              "percentage_change": ""
            }
          ]
        },
        "examples": [
          [
            {
              "name": "",
              "symbol": "",
              "tokenId": "0x222f93187f15f354d41ff6a7703ef7e18cdd5103",
              "price": "53.49992784613753",
              "percentage_change": ""
            }
          ]
        ],
        "items": {
          "type": "object",
          "properties": {
            "name": {
              "type": "string"
            },
            "symbol": {
              "type": "string"
            },
            "tokenId": {
              "type": "string"
            },
            "price": {
              "type": "string"
            },
            "percentage_change": {
              "type": "string"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "auth_key": {
        "name": "auth_key",
        "type": "apiKey",
        "in": "query",
        "description": "Any valid api auth key"
      }
    },
    "parameters": {
      "symbol": {
        "name": "symbol",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "Any valid token symbol"
      },
      "chain": {
        "name": "chain",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "Chain name (example: bsc, ethereum, matic...)"
      },
      "address": {
        "name": "address",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "Any valid token address"
      },
      "timestamp": {
        "name": "timestamp",
        "in": "query",
        "required": false,
        "schema": {
          "type": "string"
        },
        "description": "Provide unix timestamp to fetch price"
      },
      "24hchange": {
        "name": "24change",
        "in": "query",
        "required": false,
        "schema": {
          "type": "string"
        },
        "description": "Specify param to fetch 24h change in price"
      },
      "alternateChain": {
        "name": "alternateChain",
        "in": "query",
        "required": false,
        "schema": {
          "type": "string"
        },
        "description": "Set true to fetch from other chains if not found in current chain"
      },
      "tokens": {
        "name": "tokens",
        "in": "query",
        "required": false,
        "schema": {
          "type": "string"
        },
        "description": "List of comma separated token contracts"
      },
      "price": {
        "name": "price",
        "in": "query",
        "required": false,
        "schema": {
          "type": "string"
        },
        "description": "Result for price greater than given value"
      },
      "lptokens": {
        "name": "lptokens",
        "in": "query",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "Any valid LP token address"
      }
    },
    "responses": {
      "Symbol": {
        "description": "Example response",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Symbol"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "",
        "content": {
          "application/json": {
            "schema": {
              "description": "",
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "message"
              ],
              "x-examples": {
                "example-1": {
                  "message": "Unauthorized"
                }
              }
            },
            "examples": {
              "example-1": {
                "value": {
                  "message": "Unauthorized"
                }
              }
            }
          }
        }
      },
      "Address": {
        "description": "Example response",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Address"
            }
          }
        }
      },
      "Tokens": {
        "description": "Example response",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Tokens"
            }
          }
        }
      },
      "Gainers": {
        "description": "Example response",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Gainers"
            }
          }
        }
      },
      "Losers": {
        "description": "Example response",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Losers"
            }
          }
        }
      },
      "LpTokens": {
        "description": "Example response",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/LpTokens"
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "auth_key": []
    }
  ]
}