{
  "openapi": "3.1.0",
  "info": {
    "title": "token-store",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://stg-api.unmarshal.com",
      "description": "Prod"
    },
    {
      "url": "https://stg-api.unmarshal.com",
      "description": "Stg"
    }
  ],
  "paths": {
    "/v1/tokenstore/token/address/{address}": {
      "get": {
        "summary": "Details for Token Contract",
        "tags": [],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Address"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "operationId": "get-tokenstore-token-address-:address"
      },
      "parameters": [
        {
          "name": "address",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "Any valid token address"
        }
      ]
    },
    "/v1/tokenstore/token/symbol/{symbol}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/symbol"
        }
      ],
      "get": {
        "summary": "Details for Token Symbol",
        "tags": [],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Symbol"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "operationId": "get-v1-tokenstore-token-symbol-symbol",
        "description": ""
      }
    },
    "/v1/tokenstore/token/all": {
      "get": {
        "summary": "List of all Token",
        "tags": [],
        "responses": {
          "200": {
            "$ref": "#/components/responses/All-tokens"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "operationId": "get-v1-tokenstore-token-all",
        "parameters": [
          {
            "$ref": "#/components/parameters/pageNo"
          },
          {
            "$ref": "#/components/parameters/pageSize"
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "Address": {
        "description": "",
        "type": "object",
        "x-examples": {
          "example-1": {
            "name": "UnmarshalToken",
            "symbol": "MARSH",
            "contract": "0x5a666c7d92e5fa7edcb6390e4efd6d0cdd69cf37",
            "image": "https://assets.unmarshal.io/tokens/0x5a666c7d92E5fA7Edcb6390E4efD6d0CDd69cF37.png",
            "decimal": 18,
            "blockchain": "ethereum",
            "total_supply": "100000000",
            "verified": true
          }
        },
        "properties": {
          "name": {
            "type": "string"
          },
          "symbol": {
            "type": "string"
          },
          "contract": {
            "type": "string"
          },
          "image": {
            "type": "string"
          },
          "decimal": {
            "type": "number"
          },
          "blockchain": {
            "type": "string"
          },
          "total_supply": {
            "type": "string"
          },
          "verified": {
            "type": "boolean"
          }
        },
        "examples": [
          {
            "name": "UnmarshalToken",
            "symbol": "MARSH",
            "contract": "0x5a666c7d92e5fa7edcb6390e4efd6d0cdd69cf37",
            "image": "https://assets.unmarshal.io/tokens/0x5a666c7d92E5fA7Edcb6390E4efD6d0CDd69cF37.png",
            "decimal": 18,
            "blockchain": "ethereum",
            "total_supply": "100000000",
            "verified": true
          }
        ]
      },
      "Unauthorized": {
        "title": "Unauthorized",
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          }
        }
      },
      "Symbol": {
        "type": "array",
        "description": "",
        "uniqueItems": true,
        "x-examples": {
          "example-1": [
            {
              "name": "UnmarshalToken",
              "symbol": "MARSH",
              "contract": "0x2fa5daf6fe0708fbd63b1a7d1592577284f52256",
              "image": "https://assets.unmarshal.io/tokens/0x2FA5dAF6Fe0708fBD63b1A7D1592577284f52256.png",
              "decimal": 18,
              "blockchain": "binance-smart-chain",
              "total_supply": "6644065",
              "verified": true
            },
            {
              "name": "UnmarshalToken",
              "symbol": "MARSH",
              "contract": "0x5a666c7d92e5fa7edcb6390e4efd6d0cdd69cf37",
              "image": "https://assets.unmarshal.io/tokens/0x5a666c7d92E5fA7Edcb6390E4efD6d0CDd69cF37.png",
              "decimal": 18,
              "blockchain": "ethereum",
              "total_supply": "100000000",
              "verified": true
            }
          ]
        },
        "items": {
          "type": "object",
          "properties": {
            "name": {
              "type": "string"
            },
            "symbol": {
              "type": "string"
            },
            "contract": {
              "type": "string"
            },
            "image": {
              "type": "string"
            },
            "decimal": {
              "type": "number"
            },
            "blockchain": {
              "type": "string"
            },
            "total_supply": {
              "type": "string"
            },
            "verified": {
              "type": "boolean"
            }
          }
        },
        "examples": [
          [
            {
              "name": "UnmarshalToken",
              "symbol": "MARSH",
              "contract": "0x2fa5daf6fe0708fbd63b1a7d1592577284f52256",
              "image": "https://assets.unmarshal.io/tokens/0x2FA5dAF6Fe0708fBD63b1A7D1592577284f52256.png",
              "decimal": 18,
              "blockchain": "binance-smart-chain",
              "total_supply": "6644065",
              "verified": true
            },
            {
              "name": "UnmarshalToken",
              "symbol": "MARSH",
              "contract": "0x5a666c7d92e5fa7edcb6390e4efd6d0cdd69cf37",
              "image": "https://assets.unmarshal.io/tokens/0x5a666c7d92E5fA7Edcb6390E4efD6d0CDd69cF37.png",
              "decimal": 18,
              "blockchain": "ethereum",
              "total_supply": "100000000",
              "verified": true
            }
          ]
        ]
      },
      "All-tokens": {
        "description": "",
        "type": "object",
        "x-examples": {
          "example-1": {
            "page": 1,
            "total_pages": 6320,
            "items_on_page": 2,
            "data": [
              {
                "name": "BREW",
                "symbol": "BREW",
                "contract": "0x46d3ece45f8e16bec4bd241c248ce0e7cfff310e",
                "image": "https://assets.unmarshal.io/tokens/0x46D3Ece45F8E16beC4Bd241C248CE0e7CffF310e.png",
                "decimal": 18,
                "blockchain": "fantom",
                "total_supply": "0",
                "verified": true
              },
              {
                "name": "BitMartToken",
                "symbol": "BMC",
                "contract": "0x986ee2b944c42d017f52af21c4c69b84dbea35d8",
                "image": "https://assets.unmarshal.io/tokens/0x986EE2B944c42D017F52Af21c4c69B84DBeA35d8.png",
                "decimal": 18,
                "blockchain": "ethereum",
                "total_supply": "883148901",
                "verified": true
              }
            ]
          }
        },
        "examples": [
          {
            "page": 1,
            "total_pages": 6320,
            "items_on_page": 2,
            "data": [
              {
                "name": "BREW",
                "symbol": "BREW",
                "contract": "0x46d3ece45f8e16bec4bd241c248ce0e7cfff310e",
                "image": "https://assets.unmarshal.io/tokens/0x46D3Ece45F8E16beC4Bd241C248CE0e7CffF310e.png",
                "decimal": 18,
                "blockchain": "fantom",
                "total_supply": "0",
                "verified": true
              },
              {
                "name": "BitMartToken",
                "symbol": "BMC",
                "contract": "0x986ee2b944c42d017f52af21c4c69b84dbea35d8",
                "image": "https://assets.unmarshal.io/tokens/0x986EE2B944c42D017F52Af21c4c69B84DBeA35d8.png",
                "decimal": 18,
                "blockchain": "ethereum",
                "total_supply": "883148901",
                "verified": true
              }
            ]
          }
        ],
        "properties": {
          "page": {
            "type": "number"
          },
          "total_pages": {
            "type": "number"
          },
          "items_on_page": {
            "type": "number"
          },
          "data": {
            "type": "array",
            "uniqueItems": true,
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "symbol": {
                  "type": "string"
                },
                "contract": {
                  "type": "string"
                },
                "image": {
                  "type": "string"
                },
                "decimal": {
                  "type": "number"
                },
                "blockchain": {
                  "type": "string"
                },
                "total_supply": {
                  "type": "string"
                },
                "verified": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      }
    },
    "parameters": {
      "symbol": {
        "name": "symbol",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "default": "marsh"
        },
        "description": "Valid token ticker on ETH/BSC/Polygon"
      },
      "pageNo": {
        "name": "page",
        "in": "query",
        "schema": {
          "type": "number",
          "default": 1,
          "minimum": 1
        },
        "description": "Page you want to query"
      },
      "pageSize": {
        "name": "pageSize",
        "in": "query",
        "required": false,
        "schema": {
          "type": "number",
          "default": 25,
          "example": 5
        },
        "description": "Number of records to be fetched per page"
      }
    },
    "responses": {
      "Address": {
        "description": "",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Address"
            },
            "examples": {}
          }
        }
      },
      "Unauthorized": {
        "description": "Example response",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                }
              }
            },
            "examples": {
              "example-1": {
                "value": {
                  "message": "Unauthorized"
                }
              }
            }
          }
        }
      },
      "Symbol": {
        "description": "Example response",
        "content": {
          "application/json": {
            "schema": {
              "type": "array",
              "description": "",
              "uniqueItems": true,
              "x-examples": {
                "example-1": [
                  {
                    "name": "UnmarshalToken",
                    "symbol": "MARSH",
                    "contract": "0x2fa5daf6fe0708fbd63b1a7d1592577284f52256",
                    "image": "https://assets.unmarshal.io/tokens/0x2FA5dAF6Fe0708fBD63b1A7D1592577284f52256.png",
                    "decimal": 18,
                    "blockchain": "binance-smart-chain",
                    "total_supply": "6644065",
                    "verified": true
                  },
                  {
                    "name": "UnmarshalToken",
                    "symbol": "MARSH",
                    "contract": "0x5a666c7d92e5fa7edcb6390e4efd6d0cdd69cf37",
                    "image": "https://assets.unmarshal.io/tokens/0x5a666c7d92E5fA7Edcb6390E4efD6d0CDd69cF37.png",
                    "decimal": 18,
                    "blockchain": "ethereum",
                    "total_supply": "100000000",
                    "verified": true
                  }
                ]
              },
              "items": {
                "$ref": "#/components/schemas/Symbol"
              }
            },
            "examples": {}
          }
        }
      },
      "All-tokens": {
        "description": "Example response",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/All-tokens"
            },
            "examples": {}
          }
        }
      }
    },
    "securitySchemes": {
      "auth_key": {
        "name": "auth_key",
        "type": "apiKey",
        "in": "query",
        "description": "Valid api auth key"
      }
    }
  },
  "security": [
    {
      "auth_key": []
    }
  ]
}